﻿<form name="eventoForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Cliente")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectCliente"
                                     is-required="true"
                                     input-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Tipo")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectTipoDeDocumentoFinanceiro"
                                     is-required="true"
                                     input-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Descricao")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" required ng-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado" ng-model="$ctrl.entity.descricao" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Numero")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" required ng-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado" ng-model="$ctrl.entity.numero" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Complemento")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" ng-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado" ng-model="$ctrl.entity.complemento" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Data")</label>
                <div class="col-md-5">
                    <input class="form-control" type="date" ng-change="$ctrl.setDates()" ng-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado" ng-model="$ctrl.entity.data" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Competencia")</label>
                <div class="col-md-5">
                    <input class="form-control" type="date" ng-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado" ng-model="$ctrl.entity.competencia" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Vencimento")</label>
                <div class="col-md-5">
                    <input class="form-control" type="date" ng-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado" ng-model="$ctrl.entity.vencimento" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Valor")</label>
                <div class="col-md-5">
                    <input class="form-control" type="number" ng-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado" ng-model="$ctrl.entity.valor" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("DocumentoAReceber.Observacoes")</label>
                <div class="col-md-5">
                    <textarea class="form-control"
                              ng-model="$ctrl.entity.observacoes"
                              name="observacoes"
                              ng-disabled="$ctrl.disableControls || $ctrl.operation == 'estornar' || $ctrl.entity.estornado"
                              rows="5"></textarea>
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.entity.estornado">
                <div class="col-md-offset-4 col-md-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-disabled="true" ng-model="$ctrl.entity.estornado" />
                            @L("DocumentoAReceber.Estornado")
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.operation == 'estornar' || $ctrl.entity.estornado">
                <label class="control-label col-md-4">@L("DocumentoAReceber.DataEstorno")</label>
                <div class="col-md-5">
                    <input class="form-control" type="date" ng-disabled="$ctrl.operation != 'estornar' && $ctrl.entity.estornado" ng-model="$ctrl.entity.dataEstorno" />
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.operation == 'estornar' || $ctrl.entity.estornado">
                <label class="control-label col-md-4">@L("DocumentoAReceber.MotivoEstorno")</label>
                <div class="col-md-5">
                    <textarea class="form-control"
                              ng-model="$ctrl.entity.motivoEstorno"
                              name="motivoEstorno"
                              ng-disabled="$ctrl.operation != 'estornar' && $ctrl.entity.estornado"
                              rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-4 col-md-9">
                    <button ng-disabled="$ctrl.saving"
                            type="button"
                            class="btn btn-default"
                            ng-click="$ctrl.cancel()">
                        @L("Back")
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue"
                            ng-click="$ctrl.operation != 'estornar' ? $ctrl.save() : $ctrl.estornar()"
                            ng-disabled="eventoForm.$invalid || ($ctrl.operation != 'estornar' && $ctrl.entity.estornado)"
                            ng-if="$ctrl.createOrEdit || $ctrl.operation == 'estornar'">
                        <i class="fa fa-save"></i>
                        <span>
                            @L("Save")
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>