﻿<div class="ezs-container">
    <div ng-if="!$ctrl.tipoDeUsuarioBeneficiario">
        <h2 class="page-title">Aceite Eletrônico</h2>
    </div>
    <div style="padding-top: 20px;" busy-if="$ctrl.loading" ng-if="$ctrl.planoModal.statusProposta.passoDaProposta == 50 && $ctrl.tipoDeUsuarioBeneficiario">
        <uib-tabset style="">
            <uib-tab heading="Termos e Sumários">
                <div busy-if="$ctrl.loading" class="ezs-container">
                  
                    
                    <div style="padding-top: 1px;" class="form-actions" ng-if="$ctrl.tipoDeUsuarioBeneficiario">
                        <h2 class="page-title">Aceite dos Termos </h2>


                        <div class="form-group">

                                @*<div style="overflow-x: hidden; overflow-y: scroll; height: 600px; border: solid 1px; padding: 0 5px;"
            id="contrato-content"
            contenteditable="false">
        </div>
                                <li ng-repeat="documento in $ctrl.planoModal.statusProposta.documentos">
            <a class="btn btn-primary btn-responsive blue" style="float: right" href="{{documento.url}}" target="_blank">VISUALIZAR CONTRATO</a>
        </li>*@
                                <div style="text-align:center; padding-top:20px; padding-bottom:20px;padding-right:40px;">
            <ul>
                <li>
                    <a class="btn btn-primary btn-responsive blue" href="{{$ctrl.planoModal.statusProposta.documentos[0].url}}" target="_blank">VISUALIZAR CONTRATO</a>
                </li>
            </ul>
        </div>
                            <br />
                            <p style="text-align:center;">
                                Leia a declaração abaixo e clique para aceitar os termos da sua proposta <br />
                                Sua solicitação de contratação se dá na modalidade on-line, de acordo com a RN 413/2016 da ANS, e o
                                acesso através de login e senha com confirmação no site equivale a sua assinatura presencial, inclusive para movimentações cadastrais.
                            </p>

                            <div style="padding: 40px;" class="jumbotron">
                                <p>Pelo presente, declaro expressamente que CONCORDO E ESTOU CIENTE QUE:</p>

                                <h5>
                                    1 - Este instrumento é meu contrato de adesão (A Proposta) á apolice de seguro-saúde coletiva por adesão (o Beneficiário),
                                    estipulada pela
                                    <font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;"> {{$ctrl.entity.produto.administradora.pessoaJuridica.razaoSocial}} </font>
                                    (Administradora de Benefícios) com a <font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;">
                                        {{$ctrl.entity.produto.operadora.nome}}
                                    </font> (a Operadora) e destinada á população que mantenha vinculo com a minha entidade que é a pessoa juridica indicada nesta proposta.
                                    <br /><br />
                                    2 - Mantenho vinculo com a entidade indicada nesta proposta, sendo que a documentação comprobatória desse vinculo está sendo anexada por mim, no ato da
                                    assinatura desta, para adesão (O Beneficio), estipulada pela <font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;">
                                        {{$ctrl.entity.produto.administradora.pessoaJuridica.razaoSocial}}
                                    </font> (Administradora de Beneficios)
                                    com a <font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;">{{$ctrl.entity.produto.operadora.nome}}</font> (A Operadora)
                                    e destinada á população que mantenha vinculo com a minha entidade que é a pessoa juridica indicada nesta proposta.
                                    Estou ciente da taxa mensal estipulada pela <font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;"> {{$ctrl.entity.produto.administradora.pessoaJuridica.razaoSocial}} </font>
                                    referente à minha inscrição cadastral e os benefícios oferecidos pela instituição.
                                </h5>
                                <br />
                                


                                <h5>
                                    3 - Eu, <font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;">
    {{$ctrl.dadosGeraisInput.nomeProponenteTitular}} </font> , CPF <font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;">
    {{$ctrl.dadosGeraisInput.cpfProponenteTitular}} </font> ,
    proponente titular ou Responsável Legal da solicitação de adesão ao contrato coletivo por adesão,
    declaro ter lido os termos e estar totalmente de acordo com as condições prévias para a aceitação deste CONTRATO DE
    ADESÃO, e declaro ser de livre e espontânea vontade que manifesto a intenção de fazer minha adesão e a do(s) meu(s)
    dependente(s) indicado(s).<br /><br />
    Declaro que o BENEFÍCIO ora contratado, está sendo adquirido sem qualquer vinculação com outro produto, serviço ou
    operação disponibilizados pelo(a)<font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;">
    {{$ctrl.entity.produto.operadora.nome}} </font> e demais sociedades pertencentes ao mesmo grupo econômico, aos seus
    respectivos clientes e usuários de seus serviços.<br /><br />


    Por fim, declaro que as informações aqui prestadas e os documentos apresentados são absolutamente verdadeiros e
    completos e me responsabilizo civil e criminalmente por eles.
    <br /><br />
    Atenciosamente,

    <br /><br />
          <font style="font-size: 13px;color: darkblue; font-style: oblique;font-weight: 600;"> {{$ctrl.dadosGeraisInput.nomeProponenteTitular}} </font>


</h5>


                                @*<p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>*@
                            </div>





                            

                        </div>
                        <div class="form-group">
                            <div class="col-md-12" style="margin-left: 20px;">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="$ctrl.aceiteDoContratoInput.aceite"
                                               ng-disabled="$ctrl.eParaSerReadOnly" ng-change="$ctrl.salvarContinuarDisabled = !$ctrl.aceiteDoContratoInput.aceite" />
                                        Declaro que li e compreendi os termos de Adesão
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="statusDoProcessoWrapper" ng-if="$ctrl.tipoDeUsuarioBeneficiario && $ctrl.planoModal.statusProposta.passoDaProposta >= 40 && $ctrl.entity.aceite">
        <div ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 1">
            <div class="title col-md-12 borda-operadora">
                <h2>Solicitação enviada! Contrato em validação.</h2>
                <p>Sua proposta foi enviada com sucesso e será homologada em breve!</p>
                <p>Assim que a proposta for homologada você receberá uma notificação por e-mail com o link direto para o pagamento.</p>
                <p>FIQUE ATENTO AO STATUS DA SUA CONTRATAÇÃO.</p>
            </div>
        </div>
        <div ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 2">
            <div class="title col-md-12 borda-operadora">
                <h2>Contrato validado e homologado!</h2>
                <p ng-if="$ctrl.tipoDeUsuarioBeneficiario">PROSSIGA PARA O PAGAMENTO.</p>
            </div>
        </div>
        <div ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 3">
            <div class="title col-md-12 borda-operadora">
                <h2>@L("PropostaDeContratacao.AdministradoraDeclinouAProposta")</h2>
                <div class="row">
                    <label class="col-md-12">@L("PropostaDeContratacao.Motivo") {{$ctrl.homologacaoInput.observacaoHomologacao}}</label>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 4">
            <div class="title col-md-12 borda-operadora">
                <h2>@L("PropostaDeContratacao.AdministradoraEmExigencia")</h2>
                <div class="row">
                    <label class="col-md-12">@L("PropostaDeContratacao.Motivo") {{$ctrl.homologacaoInput.observacaoHomologacao}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="statusDoProcessoWrapper" ng-if="$ctrl.tipoDeUsuarioCorretor && $ctrl.planoModal.statusProposta.passoDaProposta >= 40">
        <div ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 1">
            <div class="title col-md-12 borda-operadora">
                <h2>Proposta aguardando 
                    <span ng-if="!$ctrl.entity.aceiteCorretor"> o seu aceite </span>
                    <span ng-if="!$ctrl.entity.aceite"> <span ng-if="!$ctrl.entity.aceiteCorretor"> e </span> o Aceite do Beneficiário! </span></h2>
                <p ng-if="!$ctrl.entity.aceiteCorretor">Marque o aceite no final dessa página!</p>
                <p ng-if="!$ctrl.entity.aceite">Agora o Beneficiário deverá acessar a proposta e aceitar o contrato para continuar o processo!</p>
                <p>Assim que a proposta for homologada você receberá uma notificação por e-mail.</p>
            </div>
        </div>
        <div ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 2">
            <div class="title col-md-12 borda-operadora">
                <h2>Contrato validado e homologado!</h2>
            </div>
        </div>
        <div ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 3">
            <div class="title col-md-12 borda-operadora">
                <h2>@L("PropostaDeContratacao.AdministradoraDeclinouAProposta")</h2>
                <div class="row">
                    <label class="col-md-12">@L("PropostaDeContratacao.Motivo") {{$ctrl.homologacaoInput.observacaoHomologacao}}</label>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 4">
            <div class="title col-md-12 borda-operadora">
                <h2>@L("PropostaDeContratacao.AdministradoraEmExigencia")</h2>
                <div class="row">
                    <label class="col-md-12">@L("PropostaDeContratacao.Motivo") {{$ctrl.homologacaoInput.observacaoHomologacao}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="statusDoProcessoWrapper" ng-if="$ctrl.planoModal.statusProposta.passoDaProposta > 50 || !$ctrl.tipoDeUsuarioBeneficiario">
        <ng-include src="'~/App/common/views/componentes/statusDoProcesso/statusDoProcessoComponent.cshtml'"></ng-include>
    </div>
    <div class="" ng-if="$ctrl.tipoDeUsuarioCorretor">
        <div class="form-group">
            <div class="col-md-12" style="margin-left: 20px;">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.aceiteDoContratoInput.aceiteCorretor" ng-change="$ctrl.salvarContinuarDisabled = !$ctrl.aceiteDoContratoInput.aceiteCorretor" />
                        Declaro de que estou habilitado conforme a <a href="http://www.planalto.gov.br/ccivil_03/Leis/L4594.htm" target="_blank" title="Lei Nº 4.594">Lei Nº 4.594</a> e que sou responsável pela orientação do preenchimento dessa proposta.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>