body{
    min-width: 980px;
}
.col-lg-13 {
    width: 770px;
}
.col-lg-8 {
    width: 400px;
}
.hidden-xs {
    display: inline-block !important;
}
#copyright .col-lg-8.left {
    float: left;
}
#copyright .col-lg-8.right{
    float: right;
}
#bar .col-lg-13 {
    float: left;
}
#bar .col-lg-3 {
    float: right;
}
.form-group.psearch {
    float: left;
    margin-right: 3px;
}
.container{
  max-width: none !important;
}
.wrapper-psearch {
    background-color: #fff;
}
.form-group button, .btn.btn-success.glyphicon-psearch {
    left: 0;
}
.psearch .form-group button, .btn.btn-success.glyphicon-psearch {
    top: 1px;
}
.bar-left-logo.psearch {
    margin: 5px 20px 0 0;
    width: 110px;
    height: 33px;
    background-size: 110px 33px;
}
.form-control.psearch {
    width: 67%;
    margin-top: 1px;
}
.col-xs-13 {
    padding-left: 5px;
    padding-right: 5px;
}
.bar-left, .bar-right {
    margin: 10px 0 10px 0;
}
#options {
    line-height: 40px;
}
.content-psearch-main .container-fluid, .content-psearch-rel .container-fluid, .content-psearch-stats .container-fluid {
    border: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* @media (min-width: 740px) { */
    .col-sm-12 {
        width: 553px;
    }
    .form-group label {
        margin-right: 0;
    }
    .form-group.psearch .sterm {
        width: 375px !important;
    }
    .content-center-top {
        top: 20%;
    }
    .content-logo {
        width: 300px;
        height: 90px;
        background: url('../img/logo/logo-500.png');
        background-size: 300px 90px;
    }
    .sterm {
        width: 240px !important;
    }
    #local {
        width: 290px !important;
    }
    #content-psearch {
        width: 610px;
        margin: 5px 0 0 130px;
    }
    .content-psearch-main, .content-psearch-rel, .content-psearch-stats {
        padding: 5px 10px;
    }
    .content-psearch-main .container-fluid, .content-psearch-rel .container-fluid, .content-psearch-stats .container-fluid {
        padding: 10px 15px 10px 0;
    }
    .content-psearch-main, .content-psearch-rel, .content-psearch-stats {
        padding: 5px 5px 5px 0;
    }
    .content-psearch-stats {
        padding-bottom: 0; 
    }
    .content-psearch-main {
        padding-top: 0; 
    }
    #options .container-fluid {
        padding-left: 135px;
    }
/*}
@media (min-width: 980px) {*/
    .form-group.psearch .sterm {
        width: 255px !important;
        line-height: 20px;
    }
    .form-group.psearch #local {
        width: 290px !important;
        line-height: 20px;
    }
/*}*/