.content-logo {
    background: url('../img/logo/logo-300.png');
}
.bar-left-logo {
    background: url('../img/logo/logo-100.png');
}
.form-inline .form-group {
    margin-bottom: 0;
}
#copyright .container-fluid {
    margin-left: 7px;
}
.form-group {
    display: inline-block;
}