legend {
    padding-top: 10px;
    margin-bottom: 0;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#content-psearch .col-md-12 .info {
    padding: 0 20px 20px;
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.bar-left > a {
    display: block;
    height: 35px;
}
#content-psearch {
    width: inherit;
    margin: 20px 0 0 0;
}
section a, section a:visited {
    color: #2070BB;
}
section a.list-group-item.active, a.list-group-item.active:hover, section a.list-group-item.active:focus {
    background-color: #2070BB;
    border-color: #2070BB;
}

#content-psearch .col-md-12 .info {
    -ms-word-break: break-all;
    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.btn-success.new {
    float: right;
}
.btn-success.new a, .btn a, .btn a:visited {
    color: #fff;
}
.btn-success.new a:hover,.btn a:hover {
    text-decoration: none;
}

.btn.delete {
    float: right;
}

form .row {
    margin-top: 20px
}
form .row .row:first-child {
    margin-top: 0
}
form > .row .alert {
    padding-left: 80px;
    margin-bottom: 0;
}
form > .row .alert .glyphicon {
    position: absolute;
    left: 30px;
    top: 10px;;
    font-size: 50px;
}
form .url, form.register .city-state {
    display: none;
}
form .new-user {
    text-align: right;
}
.buttons-action {
    min-width: 225px
}

@media (max-width: 739px) {
    .bar-left-logo.psearch {
        position: relative;
        top: 0;
        background-size: 110px 33px;
        width: 110px;
        height: 33px;
    }
    form.register #city {
        margin-top: 20px
    }
    .tablesaw-stack {
        margin-top: 15px;
    }
}