@media (max-width: 739px) {
    #bar > .container-fluid {
        padding: 6px 7px 0 7px;
    }
    .form-group {
        margin: 0 30px 40px;
        display: block;
    }
    .form-control {
        height: 39px;
    }
    .bar-left > form.search > button.btn-success {
        top: 1px;
        border-radius: 0 2px 2px 0;
        float: left;
    }
    .form-group button {
        left: 0;
        height: 39px;
    }
    .form-group.psearch {
        margin: 0;
        width: 100%;
        float: left;
        margin-right: -44px;
    }
    .form-group input.sterm {
        border-top-color: #eee !important;
        padding: 6px 50px 6px 8px;
    }
    .psearch.form-group i.i-sterm {
        right: 54px;
        top: 13px;
    }
    #options {
        margin: 0 8px;
    }
    .content-logo-text {
        font-size: 7px;
        right: 5px;
        bottom: 1px;
        word-spacing: 0;
    }
    .bar-left > a {
        width: 100%;
        height: 35px;
        display: block;
        float: left;
        margin: 8px 0 13px;
        position: relative;
        z-index: 1;
    }
    .bar-left > form {
        position: relative;
    }
    .bar-left-logo.psearch {
        float: initial;
        width: 110px;
        height: 33px;
        margin: 0 auto;
        background-image: url('../img/logo/logo-500.png');
        background-size: 110px 33px;
    }
    .navbar-toggle.psearch {
        position: absolute;
        right: 10px;
    }
    .copyright-right a i{
        font-size: 24px;
        top: 9px;
    }
}

@media (max-width: 479px) {
    .col-xs-13 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .bar-left{
        margin: 45px 0 0 0;
    }
    .bar-left > form {
        height: 95px;
    }
    .bar-right {
        width: 100%;
        right: 0;
    }
    .bar-right > div.dropdown.user {
        position: absolute;
        right: 25px;
        top: 5px;
    }
    .bar-right > div.dropdown.bar-right-link {
        left: 25px;
        top: -5px;
        position: absolute;
        margin-right: 0
    }
    .wrapper-psearch .bar-right > div.dropdown.user {
        right: 10px;
    }
    .wrapper-psearch .bar-right > div.dropdown.bar-right-link {
        left: 10px;
    }
    .bar-right-link ul.bar-right-menu {
        text-align: left;
        left: 0;
        top: 50px;
    }
    /*.wrapper-psearch .bar-right-linbar-right-linkht-menu {
        left: 0;
    }*/
    .wrapper-psearch .user ul.bar-right-menu {
        left: -130px;
        top: 40px;
    }
    .wrapper-psearch ul.bar-right-menu {
        left: 0;
    }
    .bar-right-link ul.bar-right-menu:before {
      top: -7px;
      left: 6px;
      right: initial;
    }

    .bar-right-link ul.bar-right-menu:after {
      top: -6px;
      left: 7px;
      right: initial;
    }
    #options {
        line-height: 40px;
    }
    .copyright-right a i{
        font-size: 22px;
        top: 8px;
    }
    #options .container-fluid {
        background-color: #f8f8f8;
    }

    .content-psearch-main {
        padding: 10px 8px 0 8px;
    }
    .content-psearch-main .container-fluid {
        border-top: none;
        border-radius: 0;
        padding: 0;
        background-color: #f1f1f1;
        -moz-box-shadow: none;
         -webkit-box-shadow: none; 
         box-shadow: none;
        border: none;
    }

    .cpsm {
        border-radius: 0 0 4px 4px;
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-top-color: #eee;
        border-bottom-width: 2px;

    }

    .content-psearch-pagination {
        padding: 10px 9px 0 9px;
        margin-top: 0;
    }


    .bar-left > form.search > button.btn-success {
        position: absolute;
        right: 0;
        bottom: 0px;
        height: 38px;
        margin-top: 56px;
    }
}
.container-fluid {
    background-color: #fff;
}
#options .container-fluid .row{
    width: 100%;
    height: 40px;
}
#options .container-fluid .row .options-left {
    position: absolute;
    width: 97.5%;
    height: 40px;
}
#options .container-fluid .row .options-left .dropdown ul {
    left: 10px;
}
