html, body {
    height: 100%;
}
a:visited {
    color: #609;
}
a:hover {
    color: #22c;
}
input {
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;;
}
#flashMessage.message {
    display: none;
    color: #f00;
    font-size: 14px;
    margin: 20px 0;
}
.container-fluid {
    min-width: 295px;
}
.form-control {
    height: 38px;
}
.form-group {
    position: relative;
    display: inline-block;
}
.form-group .input-group-btn {
    display: inline-block;
}
.form-group input.sterm {
    padding: 6px 8px;
}
.form-group i.i-sterm,.form-group i.i-local, .options-left-link-local i.i-local {
    position: absolute;
    right: 12px;
    top: 14px;
    font-size: 14px;
    color: #ddd;
}
.lead {
    margin-bottom: 10px;
}
#toast-container.toast-center {
    top: 40px;
}
#toast-container.toast-center > div {
    width: 100%;
}
.options-left-link-local i.i-local {
    right: 60px;
    top: 14px;
}
.form-inline button {
    position: relative;
}
.form-group label {
    color: #999;
    font-weight: normal;
    position: absolute;
    right: 0; 
    top: 39px;
}
.form-group button {
    height: 38px;
    position: absolute;
    left: 0;
    padding: 5px 10px;
    border-right-color: #e6e6e6;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.form-group button.btn-default:hover, .open .dropdown-toggle.btn-default {
    background-color: #e9f5ff;
}
.btn {
    padding: 7px 14px 8px;
    line-height: 21px;
    border-radius: 2px;
}
button .glyphicon-psearch {
    position: relative;
    top: 0;
    margin-left: 0;
    margin-top: 1px;
}
.glyphicon.glyphicon-search {
   top: 3px; 
}
.navbar-header {
    float: right;
}
html,body {
    margin:0;
    padding:0;
    height:100%;
    list-style: none;
    font-size: 12px;
    color: #666;
    background-color: #fff;
}
a {
    color: #666;
}

#wrapper {
    min-height:100%;
    position:relative;
    border-top: 3px solid #35AB35;
    border-bottom: 3px solid #35AB35;
}
.wrapper-login {
    background-color: #fff;
}
.wrapper-psearch {
    background-color: #f1f1f1;
    border-radius: 2px;
}
div#bar.psearch .container-fluid, #copyright .container-fluid {
    background-color: #F5F5F5;
    background: -webkit-linear-gradient(top, #F5F5F5, #F0F0F0);
    background: -moz-linear-gradient(top, #F5F5F5, #F0F0F0);
    background: -ms-linear-gradient(top, #F5F5F5, #F0F0F0);
    background: -o-linear-gradient(top, #F5F5F5, #F0F0F0);

}
.bar-left,.bar-right {
    margin: 15px 10px 15px 0;
    line-height: 30px;   
} 
.bar-right > div.dropdown {
    display: inline-block;
}
.bar-right > div.dropdown.bar-right-link {
    margin-right: 10px
}
.bar-right > div.dropdown > a {
    display: inline-block;
    /*margin-right: 15px;*/
    height: 32px;
    top: -5px;
    position: relative;
}
.bar-right > div.dropdown > a.user {
    margin-right: 0;
    font-weight: bold;
    outline: none;
    color: #fff;
    text-decoration: none;
}
.bar-right > div.dropdown.user a.login {
    border: 1px solid #1265db;
    background-color: #157EE0;
    padding: 0 8px;
}
.bar-right > div.dropdown.user > a > img {
     width: 32px;
}
.bar-right > div.dropdown > a > i {
    font-size: 28px;
    position: relative;
    top: 10px;
    color: #157EE0;
}
.bar-left {
    margin-top: 14px
}
.bar-right-link ul.bar-right-menu,
.dropdown.user ul.bar-right-menu {
    padding: 0;
    left: -130px;
    text-align: right;
    font-size: 12px;
    top: 40px;
}
.bar-right-link ul.bar-right-menu {
    left: -132px;
    top: 48px;
}
ul.bar-right-menu:before {
  position: absolute;
  top: -7px;
  right: 6px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

ul.bar-right-menu:after {
  position: absolute;
  top: -6px;
  right: 7px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.bar-left-menu a,.bar-right-menu a, .bar-right.collapse {
    margin: 5px 0;
    line-height: 30px;   
}
.bar-right-menu .divider {
    margin: 0;
}
.bar-right-menu > li > a {
    margin: 0;
    padding: 8px 20px 6px;
}

.bar-left-menu li a:hover,.bar-right-menu li a:hover {
    color:#333;
}
.bar-right {
    float: right;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 10;
}
#options {
    color: #999;
    line-height: 40px;
    border-bottom: 1px #e5e5e5 solid;
    -moz-box-shadow: 0 1px 1px #dfdfdf;
    -webkit-box-shadow: 0 1px 1px #dfdfdf;
    box-shadow: 0 0 4px #dfdfdf;
}

#options a {
    color: #888;
    text-decoration: none;
    display: block;
}
#options a:hover {
    color: #333;
}
#options li {
    position: relative;
}
#options li a {
    cursor: pointer;
    font-size: 12px;
    position: relative;
    line-height: 30px;
    margin: 0 10px 0 30px;
    padding: 0;
}
#options li:hover, #options li a:hover {
    background-color: #e9f5ff;
}
#options li input {
    line-height: 20px;
    padding: 0 5px;
    margin-left: 30px;
    width: 200px;
    height: 30px;
}
#options li.divider {
    cursor: default;
    height: 1px;
    margin: 5px 0;
}
#options li.options-left-link-local {
    cursor: default;
}
#options li.options-left-link-local .glyphicon {
    line-height: 15px;
} 
#options li.options-left-link-local .glyphicon.set {
 line-height: 25px;
}
#options li form button.btn-success {
    font-size: 10px;
    padding: 2px 6px;
    height: 28px;
    line-height: 20px;
    top: -1px;
    position: relative;
    width: 35px;
}
#options b.glyphicon {
    position: absolute;
    left: 10px;
    top: 8px;
}
#options .dropdown-menu {
    position: fixed;
    top: 70%;
}
#options .container-fluid {
    position: relative;
    overflow: hidden;
    height: 40px;
    white-space: nowrap;
}
.options-left, .options-right {
}
.options-left .dropdown {
    padding: 0 15px;
    display: inline-block;
}
.options-left .dropdown.first {

}
.options-left a:focus{
    color: #f00;
}

section#content {
    padding-top: 20px;
    min-height: 380px;
}
.content-center-top {
    position: relative;
    top: 50%;
    width: 100%;
}
.content-logo {
    position: relative;
    width: 200px;
    height: 60px;
    background: url('../img/logo/logo-500.png');
    background-size: 200px 60px;
}
.bar-left-logo {
    float: left;
    margin: 2px 20px 0 0;
    width: 100px;
    height: 30px;
    background: url('../img/logo/logo-500.png');
    background-size: 100px 30px;
    position: relative;
}
.content-logo-text {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 2px;
    word-spacing: 1px;
}
.content-center-top form {
    margin-top: 30px;
}
#local {
    padding-left: 65px;
}
body > [id^=ui-id] {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;

    display: none;
    left: 60px;
    padding: 5px;
    text-align: left;
    z-index: 1000;
}
body > [id^=ui-id] li {
    cursor: pointer;
    text-align: left;
    padding: 3px 10px;
}
body > [id^=ui-id] a {
    padding: 3px 5px;
    text-decoration: none;
}
body > [id^=ui-id] li:hover, body > [id^=ui-id] a:hover {
    background-color: #e9f5ff;
    color: #333;
}
.ui-helper-hidden-accessible {
    display: none
}

.menu-flag {
    height: 65px;
    min-width: 60px;
    overflow-y: auto; 
}
.flag {
    width: 24px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/icons/flags-flat.png'); 
    background-size: cover;
    vertical-align: text-bottom;
}
.flag-br {
    background-position: 0 0;
}
.flag-us {
    background-position: 0 15px;
}
.menu-flag li:hover {
    cursor: pointer;
}
.menu-flag li:hover {
    background-color: #e9f5ff;
}
.menu-flag li a:hover {
    background: none;;
}
.menu-flag li a {
    padding: 0 10px;
    display: inline-block;
}
ul.psearch li .flag {
    margin-right: 5px;
}
#options .dropdown-menu.menu-flag.psearch.open {
    display: block;
}
/*#options .dropdown-menu.menu-flag.psearch li {
    height: 22px;
    line-height: 20px;
}*/
#options .dropdown-menu.menu-flag.psearch {
    position: absolute;
    top: 90%;
}
.dropdown-menu.local {
    width: 285px;
    left: -70px;
}
#options li a.local-state {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 0;
    padding: 0 10px;
}
#options li a.local-state:hover {
    background-color: #D9E5EF;
}
.psearch.dropdown-menu {
    padding: 2px 0;
    line-height: 25px;
    height: auto;
}
#options .psearch.dropdown-menu li{
    height: 25px;
}
#options .psearch.dropdown-menu li a {
    margin: 0;
    padding: 0 10px;
    line-height: 25px;
}
#options .psearch button.psearch {
    margin: 0 0 0 10px;
    padding: 0 5px;
    height: 30px;
    top: -1px;
    position: relative;
}
#options .psearch input {
    margin: 0 1px;
    width: 215px;
    position: relative;
    left: -6px;
}

#options .psearch .glyphicon {
    right: 14px;
    top: 14px;
}

#content-psearch {
    font-size: small;
    padding-bottom: 40px;
}
.content-psearch-pagination {
    margin-top: 5px;
    text-align: center;
}
.content-psearch-pagination .pagination > li {
    padding: 0 1px;
    display: inline-block;
}
.content-psearch-pagination .pagination > li > a {
    border-radius: 50%;
}
.content-psearch-pagination .pagination > li.active a {
    background-color: #2874BD;
    border: 2px solid #59C159;
    padding: 5px 10px;
}
.content-psearch-pagination .pagination > li.prev {
    padding-right: 4px;
}
.content-psearch-pagination .pagination > li.prev a {
    border: none;
    font-size: 32px;
    padding: 0;
    height: 34px;
}
.content-psearch-pagination .pagination > li.prev a i {
    color: #2874BD;
}
.content-psearch-pagination .pagination > li.next {
    padding-left: 4px;
}
.content-psearch-pagination .pagination > li.next a {
    border: none;
    font-size: 32px;
    padding: 0;
    height: 34px;
}
.content-psearch-pagination .pagination > li.next a i {
    color: #59C159;
}
.content-psearch-main, .content-psearch-rel, .content-psearch-stats {
    padding: 6px 7px 0 7px;
}
.content-psearch-main {
    padding-top: 0;
}
.content-psearch-main-title {
    position: absolute;
    width: 1px;
    height: 1px;
    top: -1000em;
    overflow: hidden;
}
.content-psearch-rel {
    padding: 5px;
}
.content-psearch-main .container-fluid, .content-psearch-rel .container-fluid, .content-psearch-stats .container-fluid {
    padding: 10px;
    border: 1px #eaeaed solid;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px #e9e9e9;
    -webkit-box-shadow: 1px 1px 1px #e9e9e9;
    box-shadow: 1px 1px 1px #e9e9e9;
}
.content-psearch-stats .container-fluid {
    border-radius: 4px 4px 0 0;
}
.content-psearch-main .container-fluid {
    border-top: none;
    border-radius: 0 0 4px 4px;
}
.content-psearch-stats {
    color: #999;
}
.cpsm {
    padding-bottom: 15px;
    border-bottom: 1px #dadadd dotted;
    margin-bottom: 15px;
}
.cpsm.item10 {
    border-bottom: none;
    margin-bottom: 0;
}
.cps-suggestions {
    margin-top: 30px;
    color: #666;
}
.cpsm-title {
    font-size: large;
    color: #22c;
    margin: 0 0 5px;
}  
.cpsm-title-text {
    color: #22b;

}
.cpsm-title-new {
    color: #c22;
    font-size: small;
}
.cpsm-local, .cpsm-local a, .cpsm-local a:visited {
    color: #159915;
}
.cpsm-content {
    margin: 0;
}
.cpsm-general-content {
    color: #444;
}
/*.cpsm-general-emp,*/
 .cpsm-general-time {
    color: #999;
}
.cpsm-general-other, .cpsm-general-other a {
    color: #22c;
}

.cpsr-title {
    font-size: medium;
    margin-bottom: 5px;
}
.cpsr-cols {
    float: left;
    max-width: 150px;
}
.cpsr-cols a {
    line-height: 25px;
    display: block;
    color: #22c;
}
.cpsr-cols {
    margin-right: 20px;
}

#content-psearch .pagination {
    margin: 20px auto;
}

#copyright {
    border-top: 1px solid #e2efd8;
    line-height: 40px;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;    
}
#copyright .col-xs-3 {
    padding-right: 0;
}
.copyright-left {
    float: left;
    color: #0b509e;
}
.copyright-right {
    float: right;
}
.copyright-right a {
    color: #666;
    padding-left: 20px;
    display: inline-block;
}
.copyright-right a i {
    font-size: 22px;
    position: relative;
    top: 8px;
    color: #0b509e;
}
.copyright-right a i.glyphicon-edit {
    top: 7px;
}
.copyright-right-menu.dropdown-menu {
    left: inherit;
    right: 10px;
    font-size: 12px;
    text-align: right;
}
.copyright-right-menu.dropdown-menu li {
    margin: 2px 0;
}

@media(max-width: 739px) {

    #toast-container.toast-center {
        left: 10%;
        width: 80%;
    }
    .form-group button {
        left: 4.5%;
    }
    .form-group.psearch {
        margin: 0;
    }
    .content-logo-text {
        font-size: 7px;
        right: 5px;
        bottom: 1px;
        word-spacing: 0;
    }
    .bar-left-logo.psearch {
        width: 75px;
        height: 23px;
        margin: 5px 10px 0 0;
        background-image: url('../img/logo/logo-500.png');
        background-size: 75px 23px;
    }
    .navbar-toggle.psearch {
        position: absolute;
        right: 10px;
    }
}
@media (min-width: 480px) {

}
@media (min-width: 740px) {
    #toast-container.toast-center {
        left: 20%;
        width: 60%;
    }
    .col-sm-12 {
        width: 553px;
    }
    .form-group label {
        margin-right: 0;
    }
    .form-group.psearch .sterm {
        width: 375px !important;
    }
    .content-center-top {
        top: 20%;
    }
    .content-logo {
        width: 300px;
        height: 90px;
        background: url('../img/logo/logo-500.png');
        background-size: 300px 90px;
    }
    .sterm {
        width: 240px !important;
    }
    #local {
        width: 290px !important;
    }
    .copyright-left {
        margin-left: 10px;
    }
    #content-psearch {
        width: 610px;
        margin: 5px 0 10px 130px;
    }
    .content-psearch-main, .content-psearch-rel, .content-psearch-stats {
        padding: 5px 10px;
    }
    .content-psearch-main .container-fluid, .content-psearch-rel .container-fluid, .content-psearch-stats .container-fluid {
        padding: 10px 15px;
    }
    .content-psearch-main, .content-psearch-rel, .content-psearch-stats {
        padding: 5px;
    }
    .content-psearch-stats {
        padding-bottom: 0; 
    }
    .content-psearch-main {
        padding-top: 0; 
    }
    #options .container-fluid {
        padding-left: 135px;
    }
}
@media (min-width: 980px) {
    #toast-container.toast-center {
        left: 25%;
        width: 50%;
    }
    .col-sm-12 {
        width: 81.25%;
    }
    .form-group.psearch .sterm {
        width: 255px !important;
        line-height: 10px;
    }
    .form-group.psearch #local {
        width: 290px !important;
        line-height: 10px;
    }
}
@media (min-width: 1200px) {
    #toast-container.toast-center {
        left: 30%;
        width: 40%;
    }
}
@media (max-width: 479px) {
    #toast-container.toast-center {
        left: 2%;
        width: 96%;
    }
    .col-xs-13 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .bar-left, .bar-right {
        margin: 10px 0 10px 0;
    }
    #options {
        line-height: 40px;
    }
}

/* Correção Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .form-control.sterm.psearch, .form-control#local.psearch {
        line-height: 1.444;
    }
}

.ps-container .ps-scrollbar-x, .ps-container .ps-scrollbar-x-rail {
    height: 0;
}