﻿<h2 class="page-title">Dados do responsável legal</h2>
<div class="form-group">
    <div class="col-md-6">
        <label class="control-label">@L("ResponsavelLegal.Nome")</label>
        <div>
            <input type="text" maxlength="60" class="form-control"
                   ng-model="$ctrl.dadosGeraisInput.nomeResponsavel"
                   ng-readonly="$ctrl.eParaSerReadOnly" />
        </div>
    </div>
    <div class="col-md-6 no-padding">
        <div class="col-md-6">
            <label class="control-label">@L("ResponsavelLegal.Tipo")</label>
            <div>
                <select name="tipoDeResponsavel" class="form-control"
                        ng-model="$ctrl.dadosGeraisInput.tipoResponsavel"
                        ng-options="item.valor as item.descricao for item in $ctrl.tiposDeResponsavel"
                        ng-disabled="$ctrl.eParaSerReadOnly"></select>
            </div>
        </div>
        <div class="col-md-6">
            <label class="control-label">@L("Enum_TipoTelefoneEnum_Celular")</label>
            <div>
                <input type="text" class="form-control"
                       ui-mask="(99) 99999-9999"
                       model-view-value="true"
                       ng-model="$ctrl.dadosGeraisInput.celular" required
                       ng-readonly="$ctrl.eParaSerReadOnly" />
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-6">
        <div class="col-md-6 np-l">
            <label class="control-label">
                @L("ResponsavelLegal.CPF")
                <a href="javascript:void(0);"
                   style="float: right; text-transform: lowercase; font-weight: 400; color: #25aae1;"
                   ng-click="$ctrl.irPopupReceitaParaValidacao($ctrl.dadosGeraisInput.cpfReponsavel, $ctrl.formataParaDataBrasilera($ctrl.dadosGeraisInput.dataDeNascimentoReponsavel))"
                   nf-if="!$ctrl.tipoDeUsuarioBeneficiario">
                    Validar
                </a>
            </label>
            <div>
                <input type="text" class="form-control"
                       ng-keyup="$ctrl.onlyNumberKeyup($event)"
                       i-mask="{{$ctrl.mascaraDocumento}}"
                       maxlength="11"
                       ng-model="$ctrl.dadosGeraisInput.cpfReponsavel"
                       ng-disabled="$ctrl.disabledCPFAndEmailResponsavel"
                       ng-readonly="$ctrl.eParaSerReadOnly"
                       ng-change="$ctrl.getPessoaByCpfResponsavel()" />
            </div>
        </div>
        <div class="col-md-6 np-r">
            <label class="control-label">@L("ResponsavelLegal.DataDeNascimento")</label>
            <div>
                <input type="date" class="form-control"
                       ng-model="$ctrl.dadosGeraisInput.dataDeNascimentoReponsavel"
                       ng-readonly="$ctrl.eParaSerReadOnly" />
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="col-md-6 np-l">
            <label class="control-label">@L("ResponsavelLegal.Nacionalidade")</label>
            <div>
                <input type="tel" maxlength="15" class="form-control"
                       ng-model="$ctrl.dadosGeraisInput.nacionalidadeResponsavel"
                       ng-readonly="$ctrl.eParaSerReadOnly" />
            </div>
        </div>
        <div class="col-md-6 np-r">
            <label class="control-label">@L("ResponsavelLegal.Sexo")</label>
            <div>
                <select name="sexoResponsavel" class="form-control"
                        ng-model="$ctrl.dadosGeraisInput.sexoResponsavel"
                        ng-options="item.valor as item.descricao for item in $ctrl.sexos"
                        ng-disabled="$ctrl.eParaSerReadOnly"></select>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    
    <div class="col-md-6">
        <label class="control-label">@L("ResponsavelLegal.Email")</label>
        <div>
            <input type="email" maxlength="60" class="form-control" required
                    ng-model="$ctrl.dadosGeraisInput.email"
                    ng-disabled="$ctrl.disabledCPFAndEmailResponsavel"
                    ng-readonly="$ctrl.eParaSerReadOnly" />
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="col-md-6 np-l">
            <label class="control-label">@L("ResponsavelLegal.EstadoCivil")</label>
            <select name="estadoCivilResponsavel" class="form-control"
                    ng-model="$ctrl.dadosGeraisInput.estadoCivilResponsavel"
                    ng-options="item.valor as item.descricao for item in $ctrl.estadosCivis"
                    ng-disabled="$ctrl.eParaSerReadOnly"></select>
        </div>
    </div>
</div>