﻿<form name="conexaoSmtpForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-4">@L("ConexaoSMTP.Nome")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.nome" required maxlength="@EZ.EZControl.Domain.Global.Geral.ConexaoSMTP.NomeMaxLength" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("ConexaoSMTP.EmailPadrao")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.enderecoDeEmailPadrao" required maxlength="@EZ.EZControl.Domain.Global.Geral.ConexaoSMTP.NomeMaxLength" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("ConexaoSMTP.ServidorSMTP")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.servidorSMTP" required maxlength="@EZ.EZControl.Domain.Global.Geral.ConexaoSMTP.ServidorSMTPMaxLength" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("ConexaoSMTP.Porta")</label>
            <div class="col-md-5">
                <input class="form-control" type="number" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.porta" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                        @L("ConexaoSMTP.Ativo")
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.requerConexaoCriptografada" />
                        @L("ConexaoSMTP.RequerConexaoCriptografada")
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.requerAutenticacao" />
                        @L("ConexaoSMTP.RequerAutenticacao")
                    </label>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.entity.requerAutenticacao">
            <div class="form-group">
                <label class="control-label col-md-4">@L("ConexaoSMTP.UsuarioAutenticacao")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.usuarioAutenticacao" maxlength="@EZ.EZControl.Domain.Global.Geral.ConexaoSMTP.UsuarioAutenticacaoMaxLength" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("ConexaoSMTP.SenhaAutenticacao")</label>
                <div class="col-md-5">
                    <input class="form-control" type="password" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.senhaAutenticacao" maxlength="@EZ.EZControl.Domain.Global.Geral.ConexaoSMTP.SenhaAutenticacaoMaxLength" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="conexaoSmtpForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary red"
                        ng-click="$ctrl.delete()"
                        ng-disabled="conexaoSmtpForm.$invalid"
                        ng-if="!$ctrl.createOrEdit">
                    <i class="fa fa-remove"></i>
                    <span>
                        @L("Delete")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>