﻿@using EZ.EZControl.CMS.Frontend.Template.DoutorEz.Helpers
<div id="options">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-16 col-sm-16 col-md-16 col-lg-16">
                <div id="options-left" class="options-left">
                    <div class="dropdown first">
                        <a href="#" class="options-left-link" data-toggle="dropdown">@SearchHelper.GetNameCidadeEscolhida(Model.CidadeEscolhida)<b class="caret"></b></a>
                        <ul class="dropdown-menu local" role="menu" aria-labelledby="dLabel">
                            <li>
                                @SearchHelper.GetIconChecadoQualquerLocal(Request)<a href="@SearchHelper.GetUrlQualquerLocal(Request)">@L("Frontend.QualquerLocal")</a>
                            </li>
                            <li class="divider"></li>
                            <li class="options-left-link-local">
                                <form class="form-inline search option-search" role="form" onsubmit="return false">
                                    <div class="form-group psearch">
                                        <button type="button" class="btn btn-default dropdown-toggle psearch" data-toggle="dropdown">
                                            @SearchHelper.GetPaisSelecionado(Request, Model.Paises)
                                        </button>
                                        <ul class="dropdown-menu menu-flag psearch" role="menu">
                                            @SearchHelper.GetPaisOpcoes(Request, Model.Paises)
                                        </ul>
                                        @*<input id="local" type="text" name="l" value="@Request.QueryString["l"]" class="form-control local psearch" placeholder="@L("Local da vaga:")">*@
                                        <input type="hidden" name="q" value="analista" />
                                        <input type="text" id="local2" name="l" placeholder="@L("Frontend.LocalDaVaga"):" value="@Request.QueryString["l"]">
                                        <i class="i-local glyphicon glyphicon-map-marker"></i>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown" id="df">
                        <a href="#" class="options-left-link" data-toggle="dropdown">@SearchHelper.GetNamePeriodoPesquisaEmprego(Request)</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            @for (int i = 0; i < Model.PeriodosPesquisaEmprego.Length; i++)
                            {
                                <li @if (i == 0)
                                    {
                                        @: id="df-first"
                                    }>
                                    @SearchHelper.GetIconOkByPeriodoPesquisaEmprego(Request, (int)Model.PeriodosPesquisaEmprego[i])
                                    <a href="@SearchHelper.GetUrlSearchItemByPeriodoPesquisaEmprego(
                                                 Request, (int) Model.PeriodosPesquisaEmprego[i])">@L(string.Concat("Enum_PeriodoPesquisaEmpregoEnum_", @Model.PeriodosPesquisaEmprego[i].ToString()))</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="options-left-link" data-toggle="dropdown">@L("Frontend.QualquerCargo")<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><b class="glyphicon glyphicon-ok"></b><a href="#">@L("Frontend.QualquerCargo")</a></li>
                            <li><a href="#">@L("Frontend.NenhumCargo")</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="options-left-link" data-toggle="dropdown">@L("Frontend.QualquerEmpresa")<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><b class="glyphicon glyphicon-ok"></b><a href="#">@L("Frontend.QualquerEmpresa")</a></li>
                            <li><a href="#">@L("Frontend.NenhumaEmpresa")</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-0 col-lg-0">
                <div class="options-right">
                </div>
            </div>
        </div>
    </div>
</div>