﻿@using QJ.QualiJobs
@using QJ.QualiJobs.Web.Helper
@model QJ.QualiJobs.Web.Areas.QualiBoot.Models.Controllers.Search.SearchReturnIndexViewModel

@functions {
    private string _active;
    private string _link;
}
<div class="content-psearch-pagination">
    <div class="container-fluid">
        <ul class="pagination">
            @if (Model.Empregos.TotalCount > 0)
            {
                if (Model.InformacaoPaginacao.PaginaAtual * AppConsts.DefaultPageSize > AppConsts.DefaultPageSize)
                {
                    <li class="prev"><a href="@SearchHelper.GetUrlItemPaginacao(Request, Model.InformacaoPaginacao.PaginaAtual-1)" rel="prev"></a></li>
                }

                for (int i = 1; i <= Model.InformacaoPaginacao.NumeroPaginas; i++)
                {
                    {
                        _active = Model.InformacaoPaginacao.PaginaAtual == i ? "active" : String.Empty;
                        _link = _active == String.Empty
                            ? SearchHelper.GetUrlItemPaginacao(Request, i)
                            : "javascript:void(0)";
                    }

                    <li class="@_active"><a href="@_link">@i</a></li>
                }

                if (Model.InformacaoPaginacao.PaginaAtual * AppConsts.DefaultPageSize - 1 < Model.Empregos.TotalCount)
                {
                    <li class="next"><a href="@SearchHelper.GetUrlItemPaginacao(Request, Model.InformacaoPaginacao.PaginaAtual+1)" rel="next"></a></li>
                }
            }
        </ul>
    </div>
</div>
