﻿@model QJ.QualiJobs.Web.Areas.QualiBoot.Models.Controllers.Search.SearchReturnIndexViewModel
<div class="content-psearch-stats">
    <div class="container-fluid">
        
        @if (Model.Empregos.TotalCount == 0)
        {
            @L("Frontend.NenhumaVagaEncontrada")

            <div class="cps-suggestions">
                <p><b>@L("Frontend.DicasDeBusca"):</b>
                </p>
                <ul>
                    <li>@L("Frontend.Dica1ParaBusca")</li>
                    <li>@L("Frontend.Dica2ParaBusca")</li>
                    <li>@L("Frontend.Dica3ParaBusca")</li>
                </ul>
            </div>
        }
        else if (Model.Empregos.TotalCount == 1)
        {
            @: @string.Format(L("Frontend.DescricaoPaginacao1Resultado"), Model.InformacaoPaginacao.NumeroInicial, Model.InformacaoPaginacao.NumeroFinal, Model.Empregos.TotalCount)
        }
        else
        {
            @: @string.Format(L("Frontend.DescricaoPaginacaoResultados"), Model.InformacaoPaginacao.NumeroInicial, Model.InformacaoPaginacao.NumeroFinal, Model.Empregos.TotalCount)
        }
    </div>
</div>
