﻿@model  EZ.EZControl.Web.Models.Relatorio.RelatorioViewModel
@using Abp.Timing
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Editor de relatório</title>

    <!-- Report designer Office2013 White Blue style -->
    <link href="~/Views/Relatorio/css/stimulsoft.designer.office2013.whiteblue.css" rel="stylesheet">

    <!-- Stimusloft Reports.JS -->
    <script src="~/Views/Relatorio/scripts/stimulsoft.reports.js" type="text/javascript"></script>
    <script src="~/Views/Relatorio/scripts/stimulsoft.viewer.js" type="text/javascript"></script>
    <script src="~/Views/Relatorio/scripts/stimulsoft.designer.js" type="text/javascript"></script>

    <script src="/libs/jquery/jquery.min.js"></script>  
    <script src="/Abp/Framework/scripts/abp.js" type="text/javascript"></script>
    <script src="/Abp/Framework/scripts/libs/abp.jquery.js" type="text/javascript"></script>
    <script src="/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>


    <!-- Report designer scripts, may be external -->
    <script type="text/javascript">

        Stimulsoft.Base.Localization.StiLocalization.setLocalizationFile("../Views/Relatorio/Localizations/pt-BR.xml", true);
        Stimulsoft.System.Globalization.CultureInfo.currentCulture.numberFormat.numberDecimalSeparator = ",";


		// Set full screen mode for the designer
		var options = new Stimulsoft.Designer.StiDesignerOptions();
		options.appearance.fullScreenMode = true;
		options.toolbar.showPreviewButton = false;
		options.toolbar.showFileMenu = true;
		options.toolbar.showFileMenuNew = false;
		options.toolbar.showFileMenuOpen = false;
		options.toolbar.showFileMenuInfo = false;
		options.toolbar.showFileMenuAbout = false;
		options.toolbar.showFileMenuExit = false;
		options.toolbar.showFileMenuClose = false;
		options.toolbar.showAboutButton = false;

		options.dictionary.dataSourcesPermissions = Stimulsoft.Designer.StiDesignerPermissions.View;
		options.dictionary.dataConnectionsPermissions = Stimulsoft.Designer.StiDesignerPermissions.All;
		options.dictionary.dataColumnsPermissions = Stimulsoft.Designer.StiDesignerPermissions.View;
		options.dictionary.dataRelationsPermissions = Stimulsoft.Designer.StiDesignerPermissions.View;
		options.dictionary.businessObjectsPermissions = Stimulsoft.Designer.StiDesignerPermissions.View;
        options.dictionary.variablesPermissions = Stimulsoft.Designer.StiDesignerPermissions.View;

		// Create the report designer with specified options
		var designer = new Stimulsoft.Designer.StiDesigner(options, "StiDesigner", false);

		// Create a new report instance
		window.report = new Stimulsoft.Report.StiReport();

        designer.invokeSaveReport = function (e) {
            window.relatorio.conteudo = e.saveToJsonString();
            abp.ajax({
		        url: '/api/services/app/ezliv/relatorioEzLiv/save',
		        async: false,
                type: 'POST',
                data: JSON.stringify(window.relatorio)
		    });
		};
    </script>
</head>
<body>
    <div>
        <script type="text/javascript">
            abp.ajax({
                url: '/api/services/app/ezliv/relatorioEzLiv/getById',
                type: 'POST',
                data: JSON.stringify({ id: @Model.RelatorioId })
            }).done(function (data) {
                window.relatorio = data
                window.report.load(data.conteudo);

                // Usado no report
                var dataSet = new Stimulsoft.System.Data.DataSet("Dados");
                dataSet.readJson(@Html.Raw(Json.Encode(Model.DadosDoRelatorio)));
                window.report.dictionary.databases.clear();
                window.report.regData("Dados", "Dados", dataSet);
                window.report.dictionary.synchronize();
                //report.render();

                designer.report = window.report;
                designer.renderHtml("relatorio")
            });
        </script>
    </div>
    <div id="relatorio"></div>
</body>
</html>