@using EZ.EZControl.Localization
<div class="ezs-container"  ng-controller="common.views.languages.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Languages")</span> <small>@L("LanguagesHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createLanguage()"><i class="fa fa-plus"></i> @L("CreateNewLanguage")</button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.gridOptions" ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
            <p ng-if="vm.currentTenantId" class="margin-top-20">
                @("* " + L("CanNotEditOrDeleteDefaultLanguages"))
            </p>
        </div>
    </div>
</divclass="ezs-container">