@using Abp.MultiTenancy
@using Abp.Timing
@using Microsoft.Ajax.Utilities
@using EZ.EZControl.Features
<header id="ezs-header">
    <div class="ezs-container">
        <div>
            <h1 class="ezs-logo" style="margin-top: 0px;">

                <a href="/" style="font-size: 12px;font-style: italic;">
                    <img style="" ng-if="vm.logo.myLogo" src="{{vm.logo.src}}" alt="{{vm.logo.alt}}">
                    @*<img style="width:190px;" src="~/libs/ez-lib/img/ezliv-icon.svg" alt="EzLiv">*@
                    @*<img src="~/libs/ez-lib/img/logo-ezliv.svg" alt="EzLiv">*@
                </a>

            </h1>
        </div>


        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div style="margin-top:20px; height:680px; width:1010px; overflow-y:hidden;" class="modal-content">

                    <div style="height:10px;" class="menu-header">
                        <img src="~/Common/Images/Full_Screen.png" alt="Simulador" class="menu-logo">
                        <h4 style="margin-top: 0px;">Simulador</h4>
                        <span class="close-btn" style=" margin-top: -40px;" id="close-menu" data-dismiss="modal"></span>
                    </div>
                    <iframe style="border: 0; padding-top: 70px;" src="/Simulador?slug=corretor&corretor=0" width="100%" height="100%" frameborder="0" scrolling="yes"></iframe>
                </div>
            </div>
        </div>





        <div class="ezs-header-actions">
            <p class="ezs-welcome-msg">
                <span class="time-greet">Boa tarde, </span><a class="login-link link-blue">{{vm.getShownUserName()}}</a>
            </p>
            <ul class="ezs-actions-list">





                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="#" class="ezs-btn-profile dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="{{vm.isImpersonatedLogin ? '@L("YouCanBackToYourAccount")' : ''}}">
                        @*<span class="username username-hide-on-mobile">
                    <i ng-if="vm.isImpersonatedLogin" class="icon-action-undo font-red-sunglo"></i> {{vm.getShownUserName()}}
                </span>*@
                        <img id="HeaderProfilePicture" alt="" class="img-circle" src="@Url.Action("GetProfilePicture", "Profile")?t=@Clock.Now.Ticks.ToString()" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li ng-if="vm.isImpersonatedLogin">
                            <a href="" ng-click="vm.backToMyAccount()"><i class="icon-action-undo"></i> <strong>@L("BackToMyAccount")</strong></a>
                        </li>
                        <li ng-if="vm.isImpersonatedLogin" class="divider"></li>
                        @*<li class="dropdown-submenu">
                    <a class="open-left" href=""><i class="icon-link"></i> @L("LinkedAccounts")</a>
                    <ul class="dropdown-menu" style="">
                        <li ng-repeat="linkedUser in vm.recentlyUsedLinkedUsers">
                            <a href="" ng-click="vm.switchToUser(linkedUser)">
                                {{vm.getShownLinkedUserName(linkedUser)}}
                            </a>
                        </li>
                        <li ng-if="vm.recentlyUsedLinkedUsers.length > 0" class="divider"></li>
                        <li>
                            <a href="" ng-click="vm.manageLinkedAccounts()">
                                <i class="icon-settings"></i> @L("ManageAccounts")
                            </a>
                        </li>
                    </ul>
                </li>*@
                        <li>
                            <a href="" ng-click="vm.changePassword()"><i class="icon-key"></i> @L("ChangePassword")</a>
                        </li>
                        @*<li>
                    <a href="" ng-click="vm.showLoginAttempts()"><i class="icon-shield"></i> @L("LoginAttempts")</a>
                </li>*@
                        <li>
                            <a href="" ng-click="vm.changePicture()"><i class="icon-user"></i> @L("ChangeProfilePicture")</a>
                        </li>
                        <li ng-if="vm.hasPerfil()">
                            <a href="javascript:void(0);" ui-sref="tenant.perfil"><i class="icon-layers"></i> Meus dados</a>
                        </li>
                        @*<li>
                    <a href="" ng-click="vm.editMySettings()"><i class="icon-settings"></i> @L("MySettings")</a>
                </li>*@
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Account")"><i class="icon-logout"></i> @L("Logout")</a>
                        </li>
                    </ul>
                </li>



                <li ng-if="vm.IsCorretor=='sim'" class="dropdown dropdown-user dropdown-dark">
                    <a href="#" data-toggle="modal" class="ezs-btn-profile dropdown-toggle" data-target=".bd-example-modal-lg" data-close-others="true" 
                       title="{{vm.teste001}}">
                        <img src="~/Common/Images/Full_Screen.png" />
                    </a>
                </li>




                @*<li>
            <a class="ezs-btn-login eziicon-lock"></a>
        </li>*@
                @*<li class="dropdown dropdown-extended dropdown-notification dropdown-dark hidden-xs hidden-sm" id="header_notification_bar">*@
                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle ezs-btn-login eziicon-notify" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        @*<i class="icon-bell"></i>*@
                        <span class="badge badge-danger" ng-if="vm.unreadNotificationCount"> {{vm.unreadNotificationCount}} </span>
                    </a>
                    <ul class="dropdown-menu" id="UserNotificationDropdown">
                        <li class="external notifications-header">
                            <div class="text-left">
                                <a href="" ng-click="vm.setAllNotificationsAsRead(); $event.preventDefault(); $event.stopPropagation();" ng-if="vm.unreadNotificationCount">@L("SetAllAsRead")</a>
                                <a class="pull-right" href="" ng-click="vm.openNotificationSettingsModal()">@L("Settings")</a>
                            </div>
                        </li>
                        <li>
                            <ul ng-repeat="notification in vm.notifications" class="dropdown-menu-list">
                                <li>
                                    <a href="{{notification.url}}" class="user-notification-item" ng-class="{'user-notification-item-unread': notification.state=='UNREAD', 'user-notification-item-clickable': notification.url}">
                                        <span class="details">
                                            <i class="{{notification.icon}}"></i> {{notification.text}}
                                        </span>
                                        <div>
                                            <span class="notification-time" title="{{notification.time | momentFormat:'YYYY-MM-DD HH:mm:ss'}}" am-time-ago="notification.time"></span>
                                            <span ng-if="notification.state=='UNREAD'"> - <span class="set-as-read-text" ng-click="vm.setNotificationAsRead(notification); $event.preventDefault(); $event.stopPropagation();">@L("SetAsRead")</span></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="notification-empty-text" ng-if="!vm.notifications.length">
                                @L("ThereIsNoNotification")
                            </div>
                        </li>
                        <li class="external notifications-footer" ng-if="vm.notifications.length">
                            <div class="text-center">
                                <a ui-sref="notifications">@L("SeeAllNotifications")</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @*<li>
            <a class="ezs-btn-chat eziicon-chat"></a>
        </li>*@
                @if (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature))
    {
            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
            <li class="dropdown dropdown-extended quick-sidebar-toggler hidden-xs hidden-sm">
                <a class="ezs-btn-chat eziicon-chat">
                    <span class="sr-only">Toggle Quick Sidebar</span>
                    @*<i class="icon-speech"></i>*@
                    <span ng-if="vm.unreadChatMessageCount" class="badge badge-danger">{{vm.unreadChatMessageCount}}</span>
                </a>
            </li>
            <!-- END QUICK SIDEBAR TOGGLER -->
}
            @*<li>
        <a class="ezs-btn-search eziicon-search"></a>
    </li>*@
                <!-- BEGIN EMPRESAS DROPDOWN -->
                <li class="dropdown dropdown-language hidden-xs hidden-sm" ng-if="vm.empresas.length > 1">
                    <a href="javascript:;" class="dropdown-toggle ezs-btn-search eziicon-search" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        @*<i class="fa fa-building"></i>*@
                        <span style="color:black; font-size:small" class="langname">
                            {{vm.empresaLogada.nomeFantasia}}
                        </span>
                        <i style="color:black;" class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="empresa in vm.empresas" ng-if="vm.empresaLogada.nomeFantasia !== empresa.nomeFantasia">
                            <a ng-click="vm.escolherEmpresa(empresa.id)" href="#">
                                <i></i> {{empresa.nomeFantasia}}
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END EMPRESAS DROPDOWN -->
                @*<li class="dropdown dropdown-language" ng-if="vm.languages.length > 1">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i ng-class="vm.currentLanguage.icon"></i>
                <span class="langname">
                    {{vm.currentLanguage.displayName}}
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="language in vm.languages" ng-if="vm.currentLanguage.name !== language.name">
                    <a ng-click="vm.changeLanguage(language.name)" href="#">
                        <i ng-class="language.icon"></i> {{language.displayName}}
                    </a>
                </li>
            </ul>
        </li>*@
            </ul>
            <label class="ezs-menu-wrapper" id="open-menu">
                <input class="ezs-menu-input" id="ezs-menu-input" type="checkbox" name="menu-input"><span class="ezs-menu-toggle" for="menu-input"></span>
            </label>
        </div>
    </div>
</header>
<div id="ezs-breadcrumb">
    <div class="ezs-container">
        <div ncy-breadcrumb></div>
        <div class="fast-access-toggle">
            <i class="eziicon-quickaccess"></i>
        </div>
    </div>
</div>