﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Application.Features
@using Abp.Extensions
@using Abp.MultiTenancy
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using EZ.EZControl.Features
@using EZ.EZControl.Localization
@using EZ.EZControl.Web.Bundling
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir=@(CultureHelper.IsRtl ? "rtl" : "" )>
<!--<![endif]-->
<head>
    <title>Portal MEGA - Sua Plataforma Online !</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <link rel="icon" type="image/png" href="/libs/ez-lib/img/ezliv-icon-64px.ico" />
    <link rel="icon" href="/libs/ez-lib/img/ezliv-icon-32px.ico" />

    @*<link rel="shortcut icon" href="~/favicon.ico" />*@

    <link href="~/Content/fonts-open-sans.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Bundles/App/libs/css" + (CultureHelper.IsRtl ? "RTL" : ""))
    <link id="ng_load_plugins_before" />
    @Styles.Render("~/Bundles/App/metronic/css" + (CultureHelper.IsRtl ? "RTL" : ""))
    @Styles.Render("~/Bundles/Common/css")
    @Styles.Render("~/Bundles/App/css")

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body ng-controller="common.views.layout as vm" class="page-md page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-on-load" ng-class="{'page-sidebar-closed': settings.layout.pageSidebarClosed}">
    <div class="all-wrapper">
        <div class="menu-wrap">
            <ezmenu></ezmenu>
        </div>

        <div class="main-wrapper">

            @*<div ng-spinner-bar class="page-spinner-bar">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>*@

            <div data-ng-include="'~/App/common/views/layout/header.cshtml'" data-ng-controller="common.views.layout.header as vm" class="">
            </div>

            <div class="clearfix">
            </div>

            <div class="clearfix">
                @*<div data-ng-include="'~/App/common/views/layout/sidebar.cshtml'" data-ng-controller="common.views.layout.sidebar as vm" class="page-sidebar-wrapper"></div>*@
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <div ui-view class="fade-in-up">
                        </div>
                    </div>
                </div>
                @if (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature))
                {
                    <div data-ng-include="'~/App/common/views/layout/chatbar.cshtml'" data-ng-controller="common.views.layout.chatbar as vm">
                    </div>
                }
            </div>

            <div data-ng-include="'~/App/common/views/layout/footer.cshtml'" data-ng-controller="common.views.layout.footer as vm">
            </div>

            <div id="loading-overlay">
                <div class="loading-box">

                    <img src="~/libs/ez-lib/img/loader-logo-ezliv.gif" alt="" class="ezliv-loading">

                    <div ng-if="ezLoadingSpinner.hasMessage">
                        <span class="loading-text">Aguarde</span>
                        <span class="linesplit"></span>
                        <span class="message">
                            {{ezLoadingSpinner.message}}
                        </span>
                    </div>

                    <div ng-if="!ezLoadingSpinner.hasMessage">
                        <span class="loading-text">Aguarde</span>
                        <span class="loading-text">Carregando dados</span>
                        <span class="linesplit"></span>
                        <span class="message">({{ezLoadingSpinner.doneCount}} de {{ezLoadingSpinner.totalCount}})</span>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <!--[if lt IE 9]>
        <script src="~/libs/respond/respond.min.js"></script>
        <script src="~/libs/html5shiv/html5shiv.js"></script>
        <script src="~/libs/excanvas/excanvas.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/Bundles/App/libs/js")

    <script>
        abp.localization.defaultSourceName = '@LocalizationSourceName';
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name'); //Localizing moment.js
    </script>

    @Html.IncludeScript(ScriptPaths.Angular_Localization)
    @Html.IncludeScript(ScriptPaths.Bootstrap_Select_Localization)
    @Html.IncludeScript(ScriptPaths.JQuery_Timeago_Localization)

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- Dynamic scripts da EZControl -->
    <script src="~/EZControlScripts/GetScripts?v=@(Clock.Now.Ticks)"></script>

    <!-- SignalR scripts -->
    <script src="~/signalr/hubs"></script>
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")

    @Scripts.Render("~/Bundles/App/metronic/js")
    @Scripts.Render("~/Bundles/Common/js")

    <script src="/App/app.js"></script>
    @Scripts.Render("~/Bundles/App/js")

    <script src="~/Scripts/require.js"></script>
    @Scripts.Render("~/Bundles/App/ts")
    <script>
        require(['mainApp'], function (mainApp) {
            angular.bootstrap(document, ['app']);
        });
    </script>



    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5a67dc1d4b401e45400c56fa/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


</body>
</html>