﻿<li ng-class="[{active: active, disabled: disabled, complete: active > index}, classes]" class="uib-tab nav-item pt-item pristine" ng-click="select($event)">
    <div class="pt-wrapper">
        <i class="pt-icon"></i>
    </div>
    <a href class="nav-link tab-name" uib-tab-heading-transclude ng-click="select($event)">{{heading}}</a>
</li>