﻿<div class="ezs-process-timeline eztab">
    <ul class="nav nav-{{tabset.type || 'tabs'}} pt-list" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude></ul>
    <div class="tab-content">
        <div class="tab-pane"
                ng-repeat="tab in tabset.tabs"
                ng-class="{active: tabset.active === tab.index, 'complete' : tabset.active > tab.index}"
                uib-tab-content-transclude="tab">
        </div>
    </div>
</div>