﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Disponibilidade")" headerInfo="@L("DisponibilidadeHeaderInfo")">
    </cabecalho>

    <disponibilidade-consulta-index>
    </disponibilidade-consulta-index>

    <rodape></rodape>
</div>