﻿@*<ez-grid-typed ez-grid="$ctrl.produtoGrid"></ez-grid-typed>*@

<script>
    (function () {
        appModule.controller('ctrlGrid', ['$scope', 'uiGridConstants', function ($scope, uiGridConstants) {
            var vm = this;
            console.log('CtrlGrid Running');
            //var today = new Date();
            //var nextWeek = new Date();
            //nextWeek.setDate(nextWeek.getDate() + 7);

            //$scope.highlightFilteredHeader = function (row, rowRenderIndex, col, colRenderIndex) {
            //    if (col.filters[0].term) {
            //        return 'header-filtered';
            //    } else {
            //        return '';
            //    }
            //};

            //$scope.gridOptions = {
            //    enableFiltering: true
            //};

            ////$http.get('/data/500_complex.json')
            ////  .success(function (data) {
            ////      $scope.gridOptions.data = data;
            ////      $scope.gridOptions.data[0].age = -5;

            ////      data.forEach(function addDates(row, index) {
            ////          row.mixedDate = new Date();
            ////          row.mixedDate.setDate(today.getDate() + (index % 14));
            ////          row.gender = row.gender === 'male' ? '1' : '2';
            ////      });
            ////  });

            //vm.dataopt = [
            //    {
            //        'Plano de Saúde': 'Bradesco Saúde Nacional Flex Q CA',
            //        'Administradora': 'Bem benefícios',
            //        'Acomodação': 'Apartamento',
            //        'Abrangência': 'Nacional',
            //        'Rede Médica': 'Hospitais da Rede Door',
            //        'Laboratórios': 'Rede Labs',
            //        'Valor': 590.31,
            //        'Detalhes': ''
            //    }
            //];
            // vm.gridOptions.data = dataopt;

            //$scope.toggleFiltering = function () {
            //    $scope.gridOptions.enableFiltering = !$scope.gridOptions.enableFiltering;
            //    $scope.gridApi.core.notifyDataChange(uiGridConstants.dataChange.COLUMN);
            //};
        }]);
    })();
</script>

<div ng-controller="ctrlGrid as vm">
    <div id="grid1" ui-grid="dataopt" class="grid"></div>
</div>