﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Posts")" headerInfo="@L("PostsHeaderInfo")">
    </cabecalho>

    <post-index>
    </post-index>

    <rodape></rodape>
</div>