﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("TipoDeLogradouro")" headerInfo="@L("TipoDeLogradouroHeaderInfo")">
    </cabecalho>

    <tipo-de-logradouro-index>
    </tipo-de-logradouro-index>

    <rodape></rodape>
</div>