﻿<form name="parametrosRegrasAgendaForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body" ng-init="$ctrl.setFormScope(this.forms.regrasForm)">
        <div busy-if="$ctrl.loading">
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.Sistema")</label>
                <div class="col-md-5">
                    <select class="form-control" name="sistema" required
                            ng-model="$ctrl.entity.sistema"
                            ng-options="item.valor as item.descricao for item in $ctrl.sistema"
                            ng-change="$ctrl.sistemaOnChange($ctrl.entity.sistema)"></select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.TipoDeEvento")</label>
                <div class="col-md-5">
                    <select class="form-control" name="tipoDeEvento" required
                            ng-model="$ctrl.entity.tipoDeEvento"
                            ng-options="item.valor as item.descricao for item in $ctrl.tipoDeEvento"
                            ng-required="true"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.DiasExibidosDesdeHojeAteAgendamento")</label>
                <div class="col-md-5">
                    <input class="form-control" name="diasExibidosDesdeHojeAteAgendamento" type="number" required
                           ng-model="$ctrl.entity.diasExibidosDesdeHojeAteAgendamento"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.VagasDisponibilizadasPorDia")</label>
                <div class="col-md-5">
                    <input class="form-control" name="vagasDisponibilizadasPorDia" type="number" required
                           ng-model="$ctrl.entity.vagasDisponibilizadasPorDia" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.UnidadeDeTempo")</label>
                <div class="col-md-5">
                    <input class="form-control" name="unidadeDeTempo" type="number" required
                           ng-model="$ctrl.entity.unidadeDeTempo" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.VagasReservadasPorDia")</label>
                <div class="col-md-5">
                    <input class="form-control" name="vagasReservadasPorDia" type="number"
                           ng-model="$ctrl.entity.vagasReservadasPorDia" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.VagasPorUnidadeDeTempo")</label>
                <div class="col-md-5">
                    <input class="form-control" name="vagasPorUnidadeDeTempo" type="number" required
                           ng-model="$ctrl.entity.vagasPorUnidadeDeTempo" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.DiasAntesDoAgendamentoProibidoAlterar")</label>
                <div class="col-md-5">
                    <input class="form-control" name="diasAntesDoAgendamentoProibidoAlterar" type="number"
                           ng-model="$ctrl.entity.diasAntesDoAgendamentoProibidoAlterar" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Agenda.Parametros.Regras.DiasParaNovoAgendamentoPorParticipante")</label>
                <div class="col-md-5">
                    <input class="form-control" name="diasParaNovoAgendamentoPorParticipante" type="number"
                           ng-model="$ctrl.entity.diasParaNovoAgendamentoPorParticipante" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.entity.overBook" />
                            @L("Agenda.Parametros.Regras.OverBook")
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.entity.isActive" />
                            @L("Agenda.Parametros.Regras.IsActive")
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="parametrosRegrasAgendaForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary red"
                    ng-click="$ctrl.delete()"
                    ng-disabled="parametrosRegrasAgendaForm.$invalid"
                    ng-if="!$ctrl.createOrEdit">
                <i class="fa fa-remove"></i>
                <span>
                    @L("Delete")
                </span>
            </button>
        </div>
    </div>
</div>

<script>
    $('.timepicker').timepicker({
        minuteStep: 1,
        appendWidgetTo: 'body',
        showSeconds: true,
        showMeridian: false,
        defaultTime: false
    });
</script>