﻿<div ng-show="$ctrl.arquivoId == 0" ng-cloak>
    <input type="file" class="btn btn-default" id="fileUpload"
           accept="$ctrl.extensions"
           ngf-select="$ctrl.selectedFile($file)"
           ng-model="$ctrl.file"
           data-max-size="10"
           ngf-multiple="false"
           accept="image/*"
           capture="camera"
           >
    <div class="progress" style="height: 20px !important;">
        <uib-progressbar max="100" type="success" value="$ctrl.file.percentual" style="height: 20px !important;">
            <span style="color: white; white-space: nowrap;">
                {{$ctrl.file.percentual}} / {{100}}
            </span>
        </uib-progressbar>
    </div>
</div>

<div ng-show="$ctrl.arquivoId > 0" ng-cloak>
    <img ng-if="$ctrl.isImage()" ng-src="{{$ctrl.imagem}}" class="img-circle" height="40" width="40" />
    <a ng-if="!$ctrl.isImage()" href="{{$ctrl.imagem}}" alt="Download"><i class="icon-doc"></i></a>
    <button type="button"
            class="btn btn-default"
            ng-click="$ctrl.fechar()">
        Editar
    </button>
</div>
