﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Operadora")" headerInfo="@L("OperadoraHeaderInfo")">
    </cabecalho>

    <operadora-index>
    </operadora-index>

    <rodape></rodape>
</div>