﻿<div class='modal-detalhes-plano {{$ctrl.planoModal.operadora}}' ng-class="{'open': $ctrl.modalStatus}" ng-click="$ctrl.closeModal()">
    <div class="detalhes-plano borda-operadora" ng-click="$event.stopPropagation()">
        <div class="plano-header bg-operadora">
            <h2 class="plano-title">{{$ctrl.planoModal.operadora}}</h2>
            <div class="modal-controles">
                <div class="prev-plano" ng-click="prevPlano()" ng-if="$ctrl.enablePlanoNavigation">
                    <img src="~/App/common/views/modals/detalhesProdutoDePlanoDeSaude/img/prev-icon.png" alt="">
                </div>
                <div class="next-plano" ng-click="nextPlano()" ng-if="$ctrl.enablePlanoNavigation">
                    <img src="~/App/common/views/modals/detalhesProdutoDePlanoDeSaude/img/next-icon.png" alt="">
                </div>
                <div class="close-plano" ng-click="$ctrl.closeModal()">
                    <img src="~/App/common/views/modals/detalhesProdutoDePlanoDeSaude/img/close-icon.png" alt="">
                </div>
            </div>
        </div>
        <div class="plano-content borda-operadora">
            <div class="content-header borda-operadora clearfix">
                <span class="logo-operadora">
                    <img src="{{$ctrl.planoModal.operadoraLogo}}" width="250" alt="{{$ctrl.planoModal.operadora}}">
                </span>
                <h3 class="plano-nome cor-operadora">{{$ctrl.planoModal.nome}}</h3>
            </div>
            <!-- Caracteristicas do plano -->
            <div class="plano-caracteristicas">
                <ul class="caracteristicas-list">
                    <li class="caracteristicas-item">
                        <i class="eziicon-plano-administradora">
                            <img src="~/App/common/views/modals/detalhesProdutoDePlanoDeSaude/img/administradora-icon.png">
                        </i>
                        <span class="titulo-caracteristica cor-operadora">Administradora</span>
                        <span class="texto-caracteristica">{{$ctrl.planoModal.administradora}}</span>
                    </li>
                    <li class="caracteristicas-item">
                        <i class="eziicon-plano-abrangencia">
                            <img src="~/App/common/views/modals/detalhesProdutoDePlanoDeSaude/img/abrangencia-icon.png">
                        </i>
                        <span class="titulo-caracteristica cor-operadora">Abrangência</span>
                        <span class="texto-caracteristica">{{$ctrl.planoModal.abrangencia}}</span>
                    </li>
                    <li class="caracteristicas-item">
                        <i class="eziicon-plano-acomodacao">
                            <img src="~/App/common/views/modals/detalhesProdutoDePlanoDeSaude/img/acomodacao-icon.png">
                        </i>
                        <span class="titulo-caracteristica cor-operadora">Acomodação</span>
                        <span class="texto-caracteristica">{{$ctrl.planoModal.acomodacao}}</span>
                    </li>
                    <li class="caracteristicas-item">
                        <i class="eziicon-plano-reembolso">
                            <img src="~/App/common/views/modals/detalhesProdutoDePlanoDeSaude/img/reembolso-icon.png">
                        </i>
                        <span class="titulo-caracteristica cor-operadora">Reembolso</span>
                        <span class="texto-caracteristica">{{$ctrl.planoModal.reembolso ? "SIM" : "NÃO"}}</span>
                    </li>
                    <li class="caracteristicas-item">
                        <i class="eziicon-plano-valor">
                            <img src="~/App/common/views/modals/detalhesProdutoDePlanoDeSaude/img/valor-icon.png">
                        </i>
                        <span class="titulo-caracteristica cor-operadora">Valor</span>
                        <span class="texto-caracteristica">{{$ctrl.planoModal.valor | currency:"R$ ":2}}</span>
                    </li>
                </ul>
            </div>
            <!-- Caracteristicas do plano -->
            <ng-include ng-if="$ctrl.planoModal.statusProposta" src="'~/App/common/views/componentes/statusDoProcesso/statusDoProcessoComponent.cshtml'"></ng-include>
            <!-- Texto adicional do plano -->
            <div class="plano-informacoes clearfix">
                
                
                <div style=" margin-top: 0px;" class="left">

                    <h4 class="info-title cor-operadora">Informações Básicas</h4>
                    <div class="info-content borda-operadora">
                        <div>

                            <span>{{$ctrl.planoModal.descricao}}</span>

                        </div>
                    </div>
                </div>

               
                <div class="right">
                  
                    <h4 class="info-title cor-operadora">Rede Credenciada</h4>

                    <div class="info-content borda-operadora">
                        <div>
                           
                            <div class="col-md-6 text-center">
                                <a class="btn btn-primary btn-responsive red"style="" href="{{$ctrl.planoModal.redeCredenciada}}" target="_blank">Visualizar Rede Credenciada</a>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <!-- Texto adicional do plano -->
        </div>
    </div>
</div>