﻿<div class="ezs-container">
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div class="porlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">@L("CreatingNewPermissaoDeVendaDePlanoDeSaudeParaCorretor")</span>
                </div>
            </div>
            <div class="portlet-body form">
                <permissao-de-venda-de-plano-de-saude-para-corretor-form operation="create">
                </permissao-de-venda-de-plano-de-saude-para-corretor-form>
            </div>
        </div>
    </div>
</div>