﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("PermissaoDeVendaDePlanoDeSaudeParaCorretor")" headerInfo="@L("PermissaoDeVendaDePlanoDeSaudeParaCorretorHeaderInfo")">
    </cabecalho>

    <permissao-de-venda-de-plano-de-saude-para-corretor-index>
    </permissao-de-venda-de-plano-de-saude-para-corretor-index>

    <rodape></rodape>
</div>