﻿@model EZ.EZControl.Web.Models.EZLiv.RegistroEzlivViewModel
@using Abp.Web.Mvc.Extensions
@using Recaptcha.Web
@using Recaptcha.Web.Mvc
@section Scripts
{
    <script>
        @*window.passwordComplexitySetting = @(new JavaScriptSerializer().Serialize(ViewBag.ModelAz.PasswordComplexitySetting).Replace("\"", ""));*@

        


    </script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    @Html.IncludeScript("~/Views/Account/Register.js")
}
<form class="register-form" method="post">

    <h3>@L("SignUp")</h3>

    @if (@ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
        </div>
    }

    //@Html.AntiForgeryToken()

    @*<input type="hidden" name="IsExternalLogin" value="@ViewBag.ModelAz.IsExternalLogin.ToString()" />*@

    <p class="hint">
        @L("PersonalInformations")
    </p>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("Name")</label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="@L("Name")" name="Nome" required value="@Model.Nome" maxlength="100" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Celular</label>
        <input id="celular" class="form-control placeholder-no-fix" type="text" placeholder="Celular" name="Celular" required value="@Model.Celular" maxlength="100" />
    </div>
    @*<div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("Surname")</label>
        <input class="form-control placeholder-no-fix" type="text" placeholder="@L("Surname")" name="Surname" required value="@Model.Surname" maxlength="@EZ.EZControl.Authorization.Users.User.MaxSurnameLength" />
    </div>*@
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("EmailAddress")</label>
        <input class="form-control placeholder-no-fix" type="email" placeholder="@L("EmailAddress")" name="Email" required value="@Model.Email" maxlength="64" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">CPF</label>
        <input id="CPF" class="form-control placeholder-no-fix"  type="text" placeholder="CPF" name="Cpf" required value="@Model.Cpf" maxlength="15" />

    </div>

    @if (string.IsNullOrWhiteSpace(Request.QueryString["tipo"]))
    {
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Tipo de usuário</label>
            <div>
                <label class="radio-inline"><input type="radio" name="TipoDeUsuario" value="3" required>Corretor</label>
                <label class="radio-inline"><input type="radio" name="TipoDeUsuario" value="2" required>Cliente</label>
            </div>
        </div>
    }
    else
    {
        <input type="hidden" name="TipoDeUsuario" value="@Request.QueryString["tipo"]" required>
    }

    <input type="hidden" name="SlugCorretora" value="@Request.QueryString["corretora"]">

    @if (!ViewBag.ModelAz.IsExternalLogin)
    {
        @*<p class="hint">
            @L("AccountSettings")
        </p>*@
        @*<div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@L("UserName")</label>
            <input class="form-control placeholder-no-fix input-ltr" type="text" autocomplete="off" placeholder="@L("UserName")" name="UserName" value="@Model.UserName" required maxlength="@EZ.EZControl.Authorization.Users.User.MaxUserNameLength" />
        </div>*@
        @*<div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@L("Password")</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="RegisterPassword" placeholder="@L("Password")" name="Password" required />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">@L("PasswordRepeat")</label>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required />
        </div>*@
    }

    @if (ViewBag.UseCaptcha)
    {
        <p class="hint">
            @L("Captha_Hint")
        </p>
        <div class="form-group margin-bottom-20">
            @Html.Recaptcha(theme: RecaptchaTheme.Red)
        </div>
    }

    <div class="form-actions">
        <a class="_btnBackRegister" href="@Url.Action("Login","Account")"><button type="button" id="register-back-btn" class="btn btn-default">@L("Back")</button></a>
        <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">@L("Submit")</button>
    </div>
</form>
