@using EZ.EZControl.Localization
<div class="ezs-container" ng-controller="common.views.roles.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Roles")</span> <small>@L("RolesHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" ng-click="vm.createRole()"><i class="fa fa-plus"></i> @L("CreateNewRole")</button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-6">
                                <permission-combo selected-permission="vm.requestParams.permission"></permission-combo>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <button class="btn btn-default" style="display: block; width: 100%" ng-click="vm.getRoles()"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.roleGridOptions" ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>