﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Paginas")" headerInfo="@L("PaginasHeaderInfo")">
    </cabecalho>

    <pagina-index>
    </pagina-index>

    <rodape></rodape>
</div>