﻿<form name="paginaForm" role="form" novalidate class="form-horizontal">
    <div class="form-body">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2">@L("Pagina.Site")</label>
                <div class="col-md-10">
                    <ez-select-typed ez-select="$ctrl.ezSelectSite"
                                     is-required="true">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@L("Pagina.TipoDePagina")</label>
                <div class="col-md-10">
                    <ez-select-typed ez-select="$ctrl.ezSelectTipoDePaginaParaPaginaDefault" input-disabled="$ctrl.disableControls || $ctrl.entity.siteId <= 0" >
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@L("Pagina.Titulo")</label>
                <div class="col-md-10">
                    <input class="form-control" 
                           type="text" 
                           ng-disabled="$ctrl.disableControls || $ctrl.entity.siteId <= 0" 
                           ng-model="$ctrl.entity.titulo" 
                           ng-change="$ctrl.tituloNgChange($ctrl.entity)"
                           ng-blur="$ctrl.getLink($ctrl.entity)"
                           maxlength="@EZ.EZControl.Domain.CMS.Geral.Pagina.TituloMaxLength" 
                           required />
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-2">@L("Pagina.Slug")</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="text"
                           readonly
                           maxlength="@EZ.EZControl.Domain.CMS.Geral.Pagina.SlugMaxLength"
                           ng-model="$ctrl.entity.slug"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@L("Pagina.Link")</label>
                <div class="col-md-10">
                    <input class="form-control"
                           type="text"
                           readonly
                           ng-model="$ctrl.entity.link"/>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-2">@L("Pagina.Conteudo")</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="conteudo"
                              ui-tinymce="$ctrl.tinyMceOptions"
                              ng-disabled="$ctrl.disableControls"
                              rows="10"
                              ng-model="$ctrl.entity.conteudo" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">@L("Pagina.Status")</label>
                <div class="col-md-2">
                    <select class="form-control"
                            ng-disabled="$ctrl.disableControls"
                            ng-model="$ctrl.entity.statusDaPublicacaoEnum"
                            ng-options="item.valor as item.nome for item in $ctrl.statusDaPublicacao"></select>
                </div>
                <label class="control-label col-md-1">@L("Pagina.Data")</label>
                <div class="col-md-3">
                    <input class="form-control"
                           type="date"
                           ng-disabled="$ctrl.disableControls"
                           ng-model="$ctrl.entity.dataDePublicacao"
                           required />
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="paginaForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary red"
                        ng-click="$ctrl.delete()"
                        ng-disabled="paginaForm.$invalid"
                        ng-if="!$ctrl.createOrEdit">
                    <i class="fa fa-remove"></i>
                    <span>
                        @L("Delete")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>