﻿@using EZ.EZControl.Localization

<uib-tabset style="padding: 20px;">

    <uib-tab heading="Dados Pessoais" select="true">

        <form name="forms.perfilForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body">
                <div busy-if="$ctrl.loading">

                    <div class="form-group">

                        <div class="col-md-6">
                            <label>@L("Beneficiario.Nome")</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-model="$ctrl.entity.nome" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>@L("Enum_TipoDeDocumentoEnum_Cpf")</label>
                            <input type="text" class="form-control"
                                   i-mask="{{$ctrl.mascaraDocumento}}"
                                   ng-model="$ctrl.entity.cpf"
                                   ez-field-validation="$ctrl.validaNumeroDocumento"
                                   ng-readonly="$ctrl.isCpfReadonly"
                                   required />
                        </div>
                        @*<div class="col-md-6">
                                <label>@L("PessoaFisica.GrupoPessoa")</label>
                                <div>
                                    <ez-select-typed ez-select="$ctrl.ezSelectGrupoPessoa" is-required="true"></ez-select-typed>
                                </div>
                            </div>*@
                    </div>

                    <div class="form-group">


                        <div class="col-md-3">
                            <label>@L("PessoaFisica.DataDeNascimento")</label>
                            <div>
                                <input type="date" class="form-control" required
                                       ng-model="$ctrl.entity.dataDeNascimento"
                                       ng-change="$ctrl.atualizarIdade($ctrl.entity)" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label>@L("Proponente.RG")</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-readonly="$ctrl.isRgReadonly"
                                       ng-model="$ctrl.entity.rg" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>@L("Proponente.OrgaoExpedidor")</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-model="$ctrl.entity.orgaoExpedidor" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>@L("Enum_TipoTelefoneEnum_Celular")</label>
                            <div>
                                <input type="text" class="form-control"
                                       ui-mask="(99) 99999-9999"
                                       model-view-value="true"
                                       ng-model="$ctrl.entity.celular" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <label>@L("Proponente.Nacionalidade")</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-model="$ctrl.entity.nacionalidade" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>@L("Dependente.Sexo")</label>
                            <div>
                                <select name="sexo" class="form-control"
                                        ng-model="$ctrl.entity.sexo"
                                        ng-options="item.valor as item.descricao for item in $ctrl.sexos"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>@L("Dependente.EstadoCivil")</label>
                            <div>
                                <select name="estadoCivil" class="form-control"
                                        ng-model="$ctrl.entity.estadoCivil"
                                        ng-options="item.valor as item.descricao for item in $ctrl.estadosCivis"></select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>@L("Proponente.Email")</label>
                            <div>
                                <input type="text" class="form-control"
                                       readonly
                                       ng-model="$ctrl.entity.emailPrincipal.endereco" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>@L("Endereco.CEP")</label>
                            <input name="cep" type="text" class="form-control"
                                   ui-mask="99999-999"
                                   ui-mask-placeholder-char="_"
                                   ng-model="$ctrl.entity.enderecoPrincipal.cep"
                                   ng-change="$ctrl.getEndereco()" />
                        </div>
                        <div class="col-md-3">
                            <label>@L("Endereco.TipoDeLogradouro")</label>
                            <ez-select-typed ez-select="$ctrl.ezSelectTipoDeLogradouro"
                                             is-required="true">
                            </ez-select-typed>
                        </div>
                        <div class="col-md-4">
                            <label>@L("Endereco.Logradouro")</label>
                            <input name="logradouro" type="text" class="form-control" required
                                   ng-model="$ctrl.entity.enderecoPrincipal.logradouro" />
                        </div>
                        <div class="col-md-2">
                            <label>@L("Endereco.Numero")</label>
                            <input name="numero" type="text" class="form-control" required
                                   ng-model="$ctrl.entity.enderecoPrincipal.numero" />

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>@L("Endereco.Complemento")</label>
                            <input name="complemento" type="text" class="form-control"
                                   ng-model="$ctrl.entity.enderecoPrincipal.complemento" />
                        </div>
                        <div class="col-md-3">
                            <label>@L("Endereco.Bairro")</label>
                            <input name="bairro" type="text" class="form-control"
                                   ng-model="$ctrl.entity.enderecoPrincipal.bairro" />
                        </div>
                        <div class="col-md-3">
                            <label>@L("Cidade")</label>
                            <ez-select-typed ez-select="$ctrl.ezSelectCidade" input-disabled="true">
                            </ez-select-typed>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </uib-tab>

    <uib-tab heading="Dados Bancários" select="false" ng-if="$ctrl.entity.isCorretor">

        <form name="forms.perfilForm" role="form" novalidate class="" ng-if="$ctrl.entity.isCorretor" bn-uniform>

            <div class="form-body">

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Nome do banco</label>

                            <select name="select-bancos" class="form-control"
                                    ng-model="$ctrl.entity.corretorDadosBancario.bancoId"
                                    ng-options="item.id as item.nome for item in $ctrl.entity.bancos"></select>

                            @*<input type="text" class="form-control" ng-model="$ctrl.entity.corretorDadosBancario.bancos[0].nome" />*@
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Número da agência</label>
                            <input type="text" class="form-control" ng-model="$ctrl.entity.corretorDadosBancario.codigoAgencia" maxlength="7" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Número da conta</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-model="$ctrl.entity.corretorDadosBancario.contaCorrente" maxlength="14" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Nome do favorecido</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-model="$ctrl.entity.corretorDadosBancario.nomeFavorecido" maxlength="80" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Tipo da conta</label>
                            <div>

                                <select name="select-bancos" class="form-control"
                                        ng-model="$ctrl.entity.corretorDadosBancario.tipoConta"
                                        ng-options="item.codigo as item.nome for item in $ctrl.typeAccount" required></select>

                                @*<input type="text" class="form-control"
                        ng-model="$ctrl.entity.corretorDadosBancario.tipoConta" />*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>


        @*<form action="/action_page.php">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="remember"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>*@


    </uib-tab>

    <uib-tab heading="Dados do CNPJ" select="false" ng-if="$ctrl.entity.isCorretor">

        <form name="forms.perfilForm" role="form" novalidate class="form-horizontal" ng-if="$ctrl.entity.isCorretor" bn-uniform>
            <div class="form-body">
                <div busy-if="$ctrl.loading">

                    <div class="form-group">

                        <div class="col-md-6">
                            <label>Número do CNPJ</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-model="$ctrl.entity.corretorPessoaJuridica.cnpj" maxlength="18" required/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>Razão social</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-model="$ctrl.entity.corretorPessoaJuridica.razaoSocial" maxlength="80" required/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>Nome Fantasia</label>
                            <div>
                                <input type="text" class="form-control"
                                       ng-model="$ctrl.entity.corretorPessoaJuridica.nomeFantasia" maxlength="80" required/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>Observação</label>
                            <div>
                                <textarea class="form-control"
                                       ng-model="$ctrl.entity.corretorPessoaJuridica.observacao" maxlength="500" required/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </uib-tab>

</uib-tabset>

<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button type="button" class="btn btn-default eziicon-home" style="padding: 0px 11px; font-size: 25px !important;" ui-sref="tenant.dashboard"></button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="perfilForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
        </div>
    </div>
</div>
