﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("GruposPessoa")" headerInfo="@L("GruposPessoaHeaderInfo")">
    </cabecalho>

    <grupo-pessoa-index>
    </grupo-pessoa-index>

    <rodape></rodape>
</div>