﻿<form name="indiceDeReajustePorFaixaEtariaForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body" busy-if="$ctrl.loadingEntity">
        <div class="form-group">
            <label class="control-label col-md-4">@L("FaixaEtaria")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectFaixaEtaria"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("IndiceDeReajustePorFaixaEtaria.Operadora")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectOperadora"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("IndiceDeReajustePorFaixaEtaria.IndiceDeReajuste")</label>
            <div class="col-md-5">
                <input class="form-control"
                       type="number"
                       ng-model="$ctrl.entity.indiceDeReajuste"
                       min="0" max="100"
                       required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.entity.isActive"/>
                        @L("FaixaEtaria.Ativo")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="indiceDeReajustePorFaixaEtariaForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>