﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("EZPag.Transacao")" headerInfo="@L("EZPagTransacaoHeaderInfo")">
    </cabecalho>
    <transacao-index>
    </transacao-index>
    <rodape></rodape>
</div>