﻿<form name="itemDeMenuForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-4">@L("ItemDeMenu.Menu")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectMenu"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("ItemDeMenu.ItemDeMenuPai")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectItemDeMenu"></ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("ItemDeMenu.Titulo")</label>
            <div class="col-md-5">
                <input class="form-control" 
                       type="text" 
                       ng-disabled="$ctrl.disableControls" 
                       ng-model="$ctrl.entity.titulo" 
                       required maxlength="@EZ.EZControl.Domain.CMS.Geral.ItemDeMenu.TituloMaxLength" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("ItemDeMenu.DescricaoDoTitulo")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.descricaoDoTitulo" required maxlength="@EZ.EZControl.Domain.CMS.Geral.ItemDeMenu.DescricaoDoTituloMaxLength" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("ItemDeMenu.TipoDeMenuFixo")</label>
            <div class="col-md-5">
                <select name="tipoDeMenuFixo" class="form-control" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.tipoDeItemDeMenu" ng-change="$ctrl.tipoDeMenuSelected()" ng-options="item.valor as item.descricao for item in $ctrl.tipoDeItemDeMenu" required>
                    <option value="">(Escolha o Tipo de Menu)</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-if="$ctrl.entity.tipoDeItemDeMenu == 3">
            <label class="control-label col-md-4">@L("ItemDeMenu.Categoria")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectCategoria" is-required="true">
                </ez-select-typed>

            </div>
        </div>
        <div class="form-group" ng-if="$ctrl.entity.tipoDeItemDeMenu == 1">
            <label class="control-label col-md-4">@L("ItemDeMenu.Pagina")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectPagina" is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("ItemDeMenu.Url")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-readonly="$ctrl.entity.tipoDeItemDeMenu != 2" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.url" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                        @L("ItemDeMenu.Ativo")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="itemDeMenuForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary red"
                        ng-click="$ctrl.delete()"
                        ng-disabled="itemDeMenuForm.$invalid"
                        ng-if="!$ctrl.createOrEdit">
                    <i class="fa fa-remove"></i>
                    <span>
                        @L("Delete")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>