﻿<div class="ez-accordion" ng-cloak>
    <div class="accordion-header">
        <span class="accordion-number">
            <span class="number-circle">
                
            </span>
        </span>
        <h3 class="accordion-title">
            {{title}}
        </h3>
        <span class="accordion-toggle"></span>
    </div>
</div>