﻿<form name="forms.empresaForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <uib-tabset style="padding: 20px;" ng-init="$ctrl.setFormScope(this.forms.empresaForm)">
        <uib-tab heading="@L("Empresa.DadosGerais")">
            <div busy-if="$ctrl.loading">
                <ng-include src="'~/App/tenant/views/global/empresa/tabs/dadosGerais.cshtml'"></ng-include>
            </div>
        </uib-tab>
        <uib-tab heading="@L("Empresa.AssociarUsuarios")" ng-if="$ctrl.entity.id > 0" ng-click="$ctrl.SelectUsuarioAll()">
            <div busy-if="$ctrl.loading">
                <ng-include src="'~/App/tenant/views/global/empresa/tabs/usuarios.cshtml'"></ng-include>
            </div>
        </uib-tab>
    </uib-tabset>
</form>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="$ctrl.empresaForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save(true)"
                    ng-disabled="$ctrl.entradaForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("SaveAndContinue")
                </span>
            </button>
        </div>
    </div>
</div>