﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Empresas")" headerInfo="@L("EmpresasHeaderInfo")">
    </cabecalho>

    <empresa-index>
    </empresa-index>

    <rodape></rodape>
</div>