﻿<div class="ezs-container">
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div class="porlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">@L("EditingCliente")</span>
                </div>
            </div>
            <div class="portlet-body form">
                <cliente-form operation="edit">
                </cliente-form>
            </div>
        </div>
    </div>
</div>