﻿<div class="input-group" busy-if="$ctrl.ezSelect.loading">
    <input ng-model="$ctrl.inputText"
           auto-focus
           class="form-control"
           placeholder="{{$ctrl.ezSelect.wordToSearch.placeholderInputSearch}}"
           type="text"
           readonly="readonly"
           ng-required="$ctrl.isRequired">

    <span class="input-group-btn">
        <button ng-if="$ctrl.inputText === undefined || $ctrl.inputText === ''"
                ng-click="$ctrl.ezSelect.gridSelectOpen()"
                class="btn default"
                type="submit"
                ng-disabled="$ctrl.inputDisabled">
            <i class="icon-magnifier"></i>
        </button>
        <button ng-if="$ctrl.inputText !== undefined && $ctrl.inputText !== ''"
                ng-click="$ctrl.ezSelect.gridSelectClear()"
                class="btn default"
                type="submit"
                ng-disabled="$ctrl.inputDisabled">
            <i class="icon-trash"></i>
        </button>
    </span>
</div>