﻿@using EZ.EZControl.Localization

<uib-tabset style="padding: 20px;">
    <uib-tab heading="@L("QuestionarioDeDeclaracaoDeSaude")">
        <form name="questionarioDeDeclaracaoDeSaudeForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="ezs-container">
                <div class="form-body" busy-if="$ctrl.loadingEntity">
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("QuestionarioDeDeclaracaoDeSaude.Nome")</label>
                        <div class="col-md-6">
                            <input class="form-control"
                                   type="text"
                                   ng-model="$ctrl.entity.nome"
                                   required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("QuestionarioDeDeclaracaoDeSaude.Operadora")</label>
                        <div class="col-md-6">
                            <ez-select-typed ez-select="$ctrl.ezSelectOperadora"
                                             is-required="true">
                            </ez-select-typed>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="$ctrl.entity.isActive" />
                                    @L("QuestionarioDeDeclaracaoDeSaude.Ativo")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab heading="@L("QuestionarioDeDeclaracaoDeSaude.Perguntas")">
        <form name="perguntaForm" role="form" novalidate class="form-horizontal" bn-uniform style="margin-top: 30px">
            <div class="ezs-container">
                <div class="form-group">
                    <label class="control-label col-md-3">@L("ItemDeDeclaracaoDeSaude.Pergunta")</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               type="text"
                               required
                               ng-model="$ctrl.perguntaCurrent.pergunta" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">@L("ItemDeDeclaracaoDeSaude.Ordenacao")</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               type="text"
                               required
                               ng-model="$ctrl.perguntaCurrent.ordenacao" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("ItemDeDeclaracaoDeSaude.TipoDeItemDeDeclaracao")</label>
                    <div class="col-md-7">
                        <select name="tipoDeItemDeDeclaracao"
                                class="form-control"
                                required
                                ng-disabled="$ctrl.disableControls"
                                ng-model="$ctrl.perguntaCurrent.tipoDeItemDeDeclaracao"
                                ng-options="item.valor as item.descricao for item in $ctrl.tipoDeItemDeDeclaracaoEnum"></select>
                    </div>
                </div>
                
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-9">
                            <button type="submit"
                                    button-busy="$ctrl.savingPergunta"
                                    busy-text="@L("SavingWithThreeDot")"
                                    class="btn btn-primary blue"
                                    ng-disabled="perguntaForm.$invalid"
                                    ng-click="$ctrl.addPergunta()">
                                <i class="fa fa-save"></i>
                                <span ng-if="!$ctrl.perguntaCurrent.id">
                                    @L("Adicionar")
                                </span>
                                <span ng-if="$ctrl.perguntaCurrent.id > 0">
                                    @L("Editar")
                                </span>
                            </button>
                            <button ng-disabled="$ctrl.savingPergunta"
                                    type="button"
                                    class="btn btn-default"
                                    ng-click="$ctrl.cancelEditPergunta()">
                                @L("Back")
                            </button>
                        </div>
                    </div>

                </div>
                <div busy-if="$ctrl.loadingPerguntaInput">
                    <div ui-grid="$ctrl.perguntaGridOptionsInput" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>

<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="questionarioDeDeclaracaoDeSaudeForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
        </div>
    </div>
</div>