﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Profissoes")" headerInfo="@L("ProfissoesHeaderInfo")">
    </cabecalho>

    <profissao-index>
    </profissao-index>

    <rodape></rodape>
</div>