﻿<form name="profissaoForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-4">@L("Profissao.Codigo")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.codigo" required maxlength="@EZ.EZControl.Domain.Global.Geral.Profissao.CodigoMaxLength" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Profissao.Titulo")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.titulo" required maxlength="@EZ.EZControl.Domain.Global.Geral.Profissao.TituloMaxLength" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                        @L("Profissao.Ativo")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="profissaoForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary red"
                        ng-click="$ctrl.delete()"
                        ng-disabled="profissaoForm.$invalid"
                        ng-if="!$ctrl.createOrEdit">
                    <i class="fa fa-remove"></i>
                    <span>
                        @L("Delete")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>