﻿<form name="especialidadeForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">@L("Especialidade.Codigo")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.codigo" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Especialidade.Nome")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.nome" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                            @L("Especialidade.Ativo")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-4 col-md-9">
                    <button ng-disabled="$ctrl.saving"
                            type="button"
                            class="btn btn-default"
                            ng-click="$ctrl.cancel()">
                        @L("Back")
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue"
                            ng-click="$ctrl.save()"
                            ng-disabled="especialidadeForm.$invalid"
                            ng-if="$ctrl.createOrEdit">
                        <i class="fa fa-save"></i>
                        <span>
                            @L("Save")
                        </span>
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary red"
                            ng-click="$ctrl.save()"
                            ng-disabled="especialidadeForm.$invalid"
                            ng-if="!$ctrl.createOrEdit">
                        <i class="fa fa-remove"></i>
                        <span>
                            @L("Delete")
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>