﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Especialidades")" headerInfo="@L("EspecialidadesHeaderInfo")">
    </cabecalho>

    <especialidade-index>
    </especialidade-index>

    <rodape></rodape>
</div>