﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Sites")" headerInfo="@L("SitesHeaderInfo")">
    </cabecalho>

    <site-index>
    </site-index>

    <rodape></rodape>
</div>