﻿<div class="ez-datepicker" ng-model="ngModel">
    <ul class="datepicker-titles">
        <li class="day">Dia</li>
        <li class="month">Mês</li>
        <li class="year">Ano</li>
    </ul>
    <div class="datepicker-inputs">

        <div class="datepicker-day">
            <span class="increment" ng-click="increment(day, 'day')">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <input type="text" ng-model="day" class="datepicker-input day-input" />
            <span class="decrement" ng-click="decrement(day, 'day')">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </span>
        </div>

        <div class="datepicker-month">
            <span class="increment" ng-click="increment(month, 'month')">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <input type="text" ng-model="month" class="datepicker-input month-input" />
            <span class="decrement" ng-click="decrement(month, 'month')">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </span>
        </div>

        <div class="datepicker-year">
            <span class="increment" ng-click="increment(year, 'year')">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <input type="text" ng-model="year" class="datepicker-input year-input" />
            <span class="decrement" ng-click="decrement(year, 'year')">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</div>