﻿<form name="faixaEtariaForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body" busy-if="$ctrl.loadingEntity">
        <div class="form-group">
            <label class="control-label col-md-4">@L("FaixaEtaria.IdadeInicial")</label>
            <div class="col-md-5">
                <input class="form-control"
                       type="number"
                       ng-model="$ctrl.entity.idadeInicial"
                       ng-change="$ctrl.createDescription()"
                       required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("FaixaEtaria.IdadeFinal")</label>
            <div class="col-md-5">
                <input class="form-control"
                       type="number"
                       ng-change="$ctrl.createDescription()"
                       ng-model="$ctrl.entity.idadeFinal"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("FaixaEtaria.Descricao")</label>
            <div class="col-md-5">
                <input class="form-control"
                       type="text"
                       ng-model="$ctrl.entity.descricao"
                       required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.entity.isActive"/>
                        @L("FaixaEtaria.Ativo")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="faixaEtariaForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>