﻿<div class="ui-grid-cell-contents">
    <span ng-show="row.entity[col.field]" class="label label-success">{{grid.appScope.localize('Yes')}}</span>
    <span ng-show="!row.entity[col.field]" class="label label-default">{{grid.appScope.localize('No')
}}</span>
</div>