﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Agenda.Parametros.Regras")" headerInfo="@L("Agenda.Parametros.RegraHeaderInfo")">
    </cabecalho>

    <regra-consulta-index>
    </regra-consulta-index>

    <rodape></rodape>
</div>