﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("TipoDeContato")" headerInfo="@L("TipoDeContatoHeaderInfo")">
    </cabecalho>

    <tipo-de-contato-index>
    </tipo-de-contato-index>

    <rodape></rodape>
</div>