﻿@using EZ.EZControl.Localization

<uib-tabset style="padding: 20px;">
    <uib-tab heading="Dados Gerais">
        <form name="forms.pedidoForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" ng-init="$ctrl.setPedidoForm(this.forms.pedidoForm)" busy-if="$ctrl.loadingEntity">
                @*Cliente*@
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Pedido.Cliente")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectCliente"
                                         is-required="true">
                        </ez-select-typed>
                    </div>
                </div>
                @*Tipo de Pedido*@
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Pedido.Tipo")</label>
                    <div class="col-md-5">
                        <select name="tipoDeItemDePedido" class="form-control"
                                ng-model="$ctrl.entity.tipo"
                                ng-options="item.valor as item.descricao for item in $ctrl.tipoDePedido"></select>
                    </div>
                </div>
                @*Status do Pedido*@
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Pedido.Status")</label>
                    <div class="col-md-5">
                        <select name="tipoDeItemDePedido" class="form-control"
                                ng-model="$ctrl.entity.status"
                                ng-options="item.valor as item.descricao for item in $ctrl.statusDoPedido"></select>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab heading="Itens do Pedido">
        <form name="forms.itemDePedidoForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" ng-init="$ctrl.setItemDePedidoForm(this.forms.itemDePedidoForm)" busy-if="$ctrl.loadingEntity">
                @*Tipo do Item*@
                <div class="form-group">
                    <label class="control-label col-md-4">@L("ItemDePedidos.TipoDeItem")</label>
                    <div class="col-md-5">
                        <select name="tipoDeItemDePedido" class="form-control"
                                ng-model="$ctrl.itemDePedidoCurrent.tipoDeItemDePedido"
                                ng-options="item.valor as item.descricao for item in $ctrl.tipoDeItemDePedido"
                                ng-change="$ctrl.tipoDeItemDePedidoChange()"
                                ng-disabled="$ctrl.editandoItem"></select>
                    </div>
                </div>
                @*Produto*@
                <div class="form-group" ng-show="$ctrl.itemDePedidoCurrent.tipoDeItemDePedido == 1">
                    <label class="control-label col-md-4">@L("ItemDePedidos.Produto")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectProduto"
                                         is-required="$ctrl.itemDePedidoCurrent.tipoDeItemDePedido == 1">
                        </ez-select-typed>
                    </div>
                </div>
                @*Servico*@
                <div class="form-group" ng-show="$ctrl.itemDePedidoCurrent.tipoDeItemDePedido == 2">
                    <label class="control-label col-md-4">@L("ItemDePedidos.Servico")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectServico"
                                         is-required="$ctrl.itemDePedidoCurrent.tipoDeItemDePedido == 2">
                        </ez-select-typed>
                    </div>
                </div>
                @*Valor*@
                <div class="form-group">
                    <label class="control-label col-md-4">@L("ItemDePedidos.Valor")</label>
                    <div class="col-md-5">
                        <input class="form-control"
                               name="valor"
                               type="text"
                               ng-model="$ctrl.itemDePedidoCurrent.valor"
                               ng-currency />
                    </div>
                </div>
                @*Quantidade*@
                <div class="form-group" ng-class="forms.itemDePedidoForm.quantidade.$error.invalidValue ? 'has-error' : ''">
                    <label class="control-label col-md-4">@L("ItemDePedidos.Quantidade")</label>
                    <div class="col-md-5">
                        <input class="form-control"
                               name="quantidade"
                               type="text"
                               ez-validation-local="$ctrl.isQuantidadeValida"
                               ng-model="$ctrl.itemDePedidoCurrent.quantidade"/>
                        <span class="help-block" ng-show="forms.itemDePedidoForm.quantidade.$error.invalidValue">
                            valor inválido
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancelarItem()">
                            @L("Back")
                        </button>
                        <button type="submit"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="!$ctrl.editandoItem"
                                ng-click="$ctrl.salvarItem()"
                                ng-disabled="forms.itemDePedidoForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Adicionar")
                            </span>
                        </button>
                        <button type="submit"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="$ctrl.editandoItem"
                                ng-click="$ctrl.salvarItem()"
                                ng-disabled="forms.itemDePedidoForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        
        <div busy-if="$ctrl.loadingItemDePedido">
            <div ui-grid="$ctrl.itemDePedidoGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
        </div>
    </uib-tab>
</uib-tabset>

<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="$ctrl.pedidoForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary red"
                    ng-click="$ctrl.cancel()"
                    ng-disabled="$ctrl.pedidoForm.$invalid"
                    ng-if="!$ctrl.createOrEdit">
                <i class="fa fa-remove"></i>
                <span>
                    @L("Back")
                </span>
            </button>
        </div>
    </div>
</div>
