﻿@using EZ.EZControl.Localization
<uib-tabset style="padding: 20px;">
    <uib-tab heading="@L("Entidade")" select="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.PreCadastro)">
        <form name="forms.associacaoForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" ng-init="$ctrl.setFormScope(this.forms.associacaoForm)">
                <div busy-if="$ctrl.loading">
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Administradora.Logo")</label>
                        <div class="col-md-5">
                            <ez-file-typed ez-file="$ctrl.ezFile"></ez-file-typed>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Pessoa")</label>
                        <div class="col-md-5">
                            <ez-select-typed ez-select="$ctrl.ezSelectPessoaJuridica"
                                             is-required="true"
                                             input-disabled="$ctrl.entity.id > 0">
                            </ez-select-typed>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive"/>
                                    @L("Entidade.Ativo")
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Entidade.Instrucoes")</label>
                        <div class="col-md-5">
                            <textarea class="form-control" name="texto"
                                      ui-tinymce="$ctrl.tinyMceOptions"
                                      ng-disabled="$ctrl.disableControls"
                                      ng-model="$ctrl.entity.instrucoes" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab heading="@L("Entidade.DadosPagSeguro")">
        <div busy-if="$ctrl.loading">

            <form name="pagSeguroForm" role="form" novalidate class="form-horizontal" bn-uniform>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Entidade.Email")</label>
                        <div>
                            <input type="email" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.email" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Entidade.Token")</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.token" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </uib-tab>
</uib-tabset>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="associacaoForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
        </div>
    </div>
</div>