﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Entidade")" headerInfo="@L("EntidadeHeaderInfo")">
    </cabecalho>

    <associacao-index>
    </associacao-index>

    <rodape></rodape>
</div>