﻿@using EZ.EZControl.Localization
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.Nome")</label>
    <div class="col-md-5">
        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.nome" required maxlength="@EZ.EZControl.Domain.CMS.Geral.Site.NomeMaxLength" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.Descricao")</label>
    <div class="col-md-5">
        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.descricao" maxlength="@EZ.EZControl.Domain.CMS.Geral.Site.DescricaoMaxLength" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.MetaKeywords")</label>
    <div class="col-md-5">
        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.metaKeywords" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.MetaTags")</label>
    <div class="col-md-5">
        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.metaTags" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.Owner")</label>
    <div class="col-md-5">
        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.owner" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                @L("Site.Ativo")
            </label>
        </div>
    </div>
</div>