﻿@using EZ.EZControl.Localization
<div class="form-group">
    <label class="control-label col-md-4">@L("ConfigurarSite.Hosts.Url")</label>
    <div class="col-md-4">
        <input class="form-control"
               type="text"
               ng-model="$ctrl.hostCurrent.url"
               ng-disabled="$ctrl.disableControls"
               maxlength="@EZ.EZControl.Domain.CMS.Geral.Host.UrlMaxLength" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="$ctrl.hostCurrent.isPrincipal" />
                @L("ConfigurarSite.Hosts.Principal")
            </label>
        </div>
    </div>
</div>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-disabled="valorForm.$invalid"
                    ng-click="$ctrl.addHost()">
                <i class="fa fa-save"></i>
                <span>
                    @L("Adicionar")
                </span>
            </button>
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancelEditHost()">
                @L("Back")
            </button>
        </div>
    </div>
</div>
<div busy-if="$ctrl.loadingHostsInput">
    <div ui-grid="$ctrl.hostsGridOptionsInput" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
</div>