﻿@using EZ.EZControl.Localization
<div class="form-group">
    <div class="col-md-offset-4 col-md-5">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.evitarMecanismoDeBusca" />
                @L("ConfigurarSite.EvitarMecanismoDeBusca")
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("ConfigurarSite.TipoDePublicacao")</label>
    <div class="col-md-5">
        <select class="form-control" name="tipoDePublicacao" required
                ng-disabled="$ctrl.disableControls"
                ng-model="$ctrl.entity.tipoDePublicacao"
                ng-options="item.valor as item.descricao for item in $ctrl.tipoDePublicacaoEnum"></select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("ConfigurarSite.TipoDeConteudoRSS")</label>
    <div class="col-md-5">
        <select class="form-control" name="tipoDePublicacao" required
                ng-disabled="$ctrl.disableControls"
                ng-model="$ctrl.entity.tipoDeConteudoRSS"
                ng-options="item.valor as item.descricao for item in $ctrl.tipoDeConteudoRSSEnum"></select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("ConfigurarSite.LimitePostPorPagina")</label>
    <div class="col-md-5">
        <input class="form-control" type="number" required ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.limitePostPorPagina" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("ConfigurarSite.LimitePostPorRss")</label>
    <div class="col-md-5">
        <input class="form-control" type="number" required ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.limitePostPorRss" />
    </div>
</div>