﻿@using EZ.EZControl.Localization
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.TemplateDefault")</label>
    <div class="col-md-5">
        <ez-select-typed ez-select="$ctrl.ezSelectTemplate"
                         is-required="false">
        </ez-select-typed>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.TipoDePaginaParaPaginaDefault")</label>
    <div class="col-md-5">
        <ez-select-typed ez-select="$ctrl.ezSelectTipoDePaginaParaPaginaDefault" is-required="true" input-disabled="!$ctrl.entity.templateDefaultId">
        </ez-select-typed>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.TipoDePaginaParaPostDefault")</label>
    <div class="col-md-5">
        <ez-select-typed ez-select="$ctrl.ezSelectTipoDePaginaParaPostDefault" is-required="true" input-disabled="!$ctrl.entity.templateDefaultId">
        </ez-select-typed>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.TipoDePaginaParaCategoriaDefault")</label>
    <div class="col-md-5">
        <ez-select-typed ez-select="$ctrl.ezSelectTipoDePaginaParaCategoriaDefault" is-required="true" input-disabled="!$ctrl.entity.templateDefaultId">
        </ez-select-typed>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">@L("Site.TipoDePaginaParaPaginaInicialDefault")</label>
    <div class="col-md-5">
        <ez-select-typed ez-select="$ctrl.ezSelectTipoDePaginaParaPaginaInicialDefault" is-required="true" input-disabled="!$ctrl.entity.templateDefaultId">
        </ez-select-typed>
    </div>
</div>