﻿<form name="detailForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <button ng-click="$ctrl.close()">
        Fechar
    </button>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-5">@L("Produto.Nome")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.nome}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5">@L("ProdutoDePlanoDeSaude.PlanoDeSaude")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.planoDeSaude.numeroDeRegistro}}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5">@L("PlanoDeSaude.PlanoDeSaudeAns")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.detailProduto.descricaoTipoDePlanoAns}}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5">@L("PlanoDeSaude.Abrangencia")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.detailProduto.descricaoAbrangencia}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5">@L("PlanoDeSaude.SegmentacaoAssistencial")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.detailProduto.descricaoSegmentacao}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5">@L("PlanoDeSaude.Acomodacao")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.detailProduto.descricaoAcomodacao}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5">@L("ProdutoDePlanoDeSaude.Reembolso")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.planoDeSaude.descricaoDoReembolso}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@L("ProdutoDePlanoDeSaude.Valores")</label>
            <div class="col-md-10">
                <label class="control-label col-md-10">{{$ctrl.produto.detailProduto.nomeTitular}} - {{$ctrl.produto.detailProduto.valorTitular}}</label>
                <div ng-repeat="dependente in $ctrl.produto.detailProduto.dependentes">
                    <label class="control-label col-md-10">{{dependente.nome}} - {{dependente.valor}}</label>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="$ctrl.produto.descricaoDoAcompanhante != null && $ctrl.produto.descricaoDoAcompanhante != ''">
            <label class="control-label col-md-5">@L("ProdutoDePlanoDeSaude.Acompanhante")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.descricaoDoAcompanhante}}</label>
            </div>
        </div>

        <div class="form-group" ng-if="$ctrl.produto.descricaoDaCoberturaExtra != null && $ctrl.produto.descricaoDaCoberturaExtra != ''">
            <label class="control-label col-md-5">@L("ProdutoDePlanoDeSaude.CoberturaExtra")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.descricaoDaCoberturaExtra}}</label>
            </div>
        </div>

        <div class="form-group" ng-if="$ctrl.produto.descricaoDaCarenciaEspecial != null && $ctrl.produto.descricaoDaCarenciaEspecial != ''">
            <label class="control-label col-md-5">@L("ProdutoDePlanoDeSaude.CarenciaEspecial")</label>
            <div class="col-md-5">
                <label class="control-label col-md-10">{{$ctrl.produto.descricaoDaCarenciaEspecial}}</label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" ng-if="$ctrl.produto.redeCredenciada.hospitaisDiferenciados.length > 0 || $ctrl.produto.redeCredenciada.laboratoriosDiferenciados.length > 0">@L("ProdutoDePlanoDeSaude.RedesDiferenciadas")</label>
            <div class="col-md-5">
                <h4>
                    <label class="control-label col-md-10" ng-if="$ctrl.produto.redeCredenciada.hospitaisDiferenciados.length > 0">
                        @L("Hospitais")
                    </label>
                </h4>
                <label class="control-label col-md-10" ng-repeat="hospital in $ctrl.produto.redeCredenciada.hospitaisDiferenciados">{{hospital.unidadeDeSaude.nome}}</label>
                <h4>
                    <label class="control-label col-md-10" ng-if="$ctrl.produto.redeCredenciada.laboratoriosDiferenciados.length > 0">
                        @L("Laboratorios")
                    </label>
                </h4>
                <label class="control-label col-md-10" ng-repeat="laboratorio in $ctrl.produto.redeCredenciada.laboratoriosDiferenciados">{{laboratorio.unidadeDeSaude.nome}}</label>
            </div>
        </div>

        @*<div class="list-group">
                <div class="list-group-item" ng-repeat="laboratorio in $ctrl.produto.redeCredenciada.laboratoriosDiferenciados">
                    <div class="list-group-item-heading">
                        {{laboratorio.unidadeDeSaude.nome}}
                    </div>
                </div>
            </div>*@

    </div>
    <br />
</form>

<style>
    .form-group {
        margin-bottom: 2px;
    }
</style>
