﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("ProdutoDePlanoDeSaude")" headerInfo="@L("ProdutoDePlanoDeSaudeHeaderInfo")">
    </cabecalho>

    <produto-de-plano-de-saude-index>
    </produto-de-plano-de-saude-index>

    <rodape></rodape>
</div>