﻿<!DOCTYPE html>
<html>
<head>
    <title>EZLiv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/Template/TemplateEZLiv/Webroot/img/ezliv-icon-64px.png" />
    <link rel="icon" href="/Template/TemplateEZLiv/Webroot/img/ezliv-icon-32px.png" />
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Template/TemplateEZLiv/Webroot/css/main.css">
    <meta description="EZLiv" http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo"><a href="/"><img src="/Template/TemplateEZLiv/Webroot/img/logo-ezliv.svg" alt="Ez Liv"></a></h1>
            <div class="header-actions">
                <p class="welcome-msg"><span class="time-greet">Boa tarde, </span><a class="login-link link-blue">visitante</a></p>
                <ul class="actions-list">
                    <li><a class="btn-signup" href="cadastro" target="_blank">Cadastre-se</a></li>
                    <li class="login-btn">
                        <a class="btn-login eziicon-lock"></a>
                        <div class="login-screen">
                            <div class="login-head">
                                <h3>Acesse sua conta</h3>
                            </div>
                            <form class="login-form">
                                <div class="input-block">
                                    <input class="input-email" placeholder="Digite o seu e-mail"><i class="eziicon-mail"></i>
                                </div>
                                <div class="input-block">
                                    <input class="input-senha" type="password" placeholder="Digite a sua senha"><i class="eziicon-pass"></i>
                                </div>
                                <button class="submit-login">Entrar</button>
                            </form>
                            <div class="facebook-login"><a class="fb-login"><i class="eziicon-facebook"></i><span>Entrar com o Facebook</span></a></div>
                            <div class="google-login"><a class="g-login"><i class="eziicon-google"></i><span>Entrar com o Google</span></a></div>
                            <div class="login-options"><a class="signup" href="cadastro.html">Cadastre-se</a><a class="recovery">Recuperar senha</a></div>
                        </div>
                    <li class="chat-btn"><a class="btn-chat eziicon-chat"></a></li>
                    <li><a class="btn-search eziicon-search"></a></li>
                    </li>
                </ul>
                <label class="menu-wrapper">
                    <input class="menu-input" id="menu-input" type="checkbox" name="menu-input"><span class="menu-toggle" for="menu-input"></span>
                </label>
            </div>
        </div>
    </header>
    <div class="login-screen">
        <div class="login-head">
            <h3>Acesse sua conta</h3>
        </div>
        <form class="login-form">
            <div class="input-block">
                <input class="input-email" placeholder="Digite o seu e-mail"><i class="eziicon-mail"></i>
            </div>
            <div class="input-block">
                <input class="input-senha" type="password" placeholder="Digite a sua senha"><i class="eziicon-pass"></i>
            </div>
            <button class="submit-login">Entrar</button>
        </form>
        <div class="facebook-login"><a class="fb-login"><i class="eziicon-facebook"></i><span>Entrar com o Facebook</span></a></div>
        <div class="google-login"><a class="g-login"><i class="eziicon-google"></i><span>Entrar com o Google</span></a></div>
        <div class="login-options"><a class="signup">Cadastre-se</a><a class="recovery">Recuperar senha</a></div>
    </div>
    <div class="main">
        <div class="full-page">
            <section class="full-slider">
                <div class="slider-saude" data-service="service-item-x">
                    <div class="container">
                        <div class="text-box">
                            <div class="title">
                                <p>Encontre</p><strong>Planos de saúde</strong>
                            </div>
                            <div class="text">
                                <p>A plataforma EZLiv disponibiliza planos de saúde que se adequam à sua necessidade. <a class="link-blue" href="#">Contrate o seu agora!</a></p><a class="slider-btn" href="#">Listar Planos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="services-bar">
                <div class="bg-dinamic"></div>
                <div class="bg-static"></div>
                <div class="container">
                    <ul class="services-list">
                        <li class="service-item service-item-saude" data-bg="#127cc3">
                            <i class="icon-service-saude eziicon-heart"></i>
                            <p>planos de saúde</p>
                        </li>
                        <li class="service-item service-item-dentais" data-bg="#d0ae11">
                            <i class="icon-service-dentais eziicon-start"></i>
                            <p>planos dentais</p>
                        </li>
                        <li class="service-item service-item-medico" data-bg="#991847">
                            <i class="icon-service-medico eziicon-search"></i>
                            <p>encontrar medicos</p>
                        </li>
                        <li class="service-item service-item-produto" data-bg="#018789">
                            <i class="icon-service-produto eziicon-medkit"></i>
                            <p>seguros e produtos</p>
                        </li>
                    </ul>
                    <div class="ez-card">
                        <img class="img-card" src="/Template/TemplateEZLiv/Webroot/img/card-ezliv.png">
                        <p class="text-box">Planos ideais para você e para <span>sua família</span></p>
                    </div>
                </div>
            </section>
            <section class="partner">
                <a class="partner-link">
                    <div class="container">
                        <div class="text-box">
                            <h3>Seja um Parceiro!</h3>
                            <p>Plano de Parceria para consultores, corretoras e empresas</p>
                        </div>
                        <div class="animation-box">
                            <div class="wrapper-yellow">
                                <div class="content">
                                    <p>Conheça as vantagens de ser um parceiro EzSaúde!</p>
                                </div>
                            </div>
                            <div class="wrapper-blue">
                                <div class="content">
                                    <svg id="right-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 24">
                                        <path class="cls-1" d="M163,2137.22h0l-10,9h0a3,3,0,1,1-4-4.44h0l4.19-3.77H103a3,3,0,0,1,0-6h50.18l-4.19-3.77h0a3,3,0,1,1,4-4.44h0l10,9h0a3,3,0,0,1,0,4.44" transform="translate(-100 -2123)" />
                                    </svg>
                                </div>
                            </div><img class="microscope" src="/Template/TemplateEZLiv/Webroot/img/microscope.svg"><img class="blood-bag" src="/Template/TemplateEZLiv/Webroot/img/blood-bag.svg"><img class="medkit" src="/Template/TemplateEZLiv/Webroot/img/medkit.svg">
                        </div>
                    </div>
                </a>
            </section>
        </div>
    </div>
    <footer>
        <div class="footer-top">
            <div class="container">
                <a class="footer-logo"><img src="/Template/TemplateEZLiv/Webroot/img/logo-ezliv.svg"></a>
                <div class="col-block our-info">
                    <h4><i class="eziicon-location"></i><span>EZLiv Seguros e saúde LTDA</span></h4>
                    <p>
                        Av. Júlio de Sá Bierrenbach, 65 Bloco 1 - 524 <br>
                        Barra da Tijuca - Rio de Janeiro - RJ.
                    </p>
                </div>
                <div class="col-block attendance">
                    <h4><i class="eziicon-chat2"></i><span>Atendimento</span></h4>
                    <p>
                        <strong>0800 123 4567 - Horário Comercial</strong> <br>
                        atendimento@ezliv.com.br
                    </p>
                </div>
                <div class="col-block support">
                    <h4><i class="eziicon-support"></i><span>Suporte</span></h4>
                    <p>
                        <strong>0800-123.4567 - Horário Comerical</strong> <br>
                        suporte@ezliv.com.br
                    </p>
                </div>
                <ul class="footer-links">
                    <li><a href="#">A empresa</a></li>
                    <li><a href="#">Portal EzSaúde</a></li>
                    <li><a href="#">Atendimento</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Consumidor.org</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">© 2017 |  EZLiv Seguros e Saúde Ltda.  |  Todos os direitos reservados  |  Um produto EZSoft </p>
                <ul class="social-links">
                    <li class="linkedin"><a class="eziicon-linkedin"></a></li>
                    <li class="twitter"><a class="eziicon-twitter"></a></li>
                    <li class="facebook"><a class="eziicon-facebook"></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/Template/TemplateEZLiv/Webroot/js/main.js"></script>
</body>
</html>