﻿<div class="ez-selectinput" 
     ng-click="is_open = !is_open" 
     ng-class="{open: is_open}" 
     ng-init="is_open=false" 
     ng-mouseleave="is_open=false">

    <div class="option-show">
        {{selected}}
    </div>

    <section class="option-list-wrapper" ng-show="is_open">
        <ul class="option-list">
            <li class="option-item" ng-repeat="option in options" ng-click="is_open = !is_open; select(option)">
                {{option.descricao}}
            </li>
        </ul>
    </section>
</div>