@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("PessoasJuridicas")" headerInfo="@L("PessoasJuridicasHeaderInfo")">
    </cabecalho>

    <pessoa-juridica-index>
    </pessoa-juridica-index>

    <rodape></rodape>
</div>