﻿<uib-tabset style="padding: 20px;">
    @*Dados Gerais*@
    <uib-tab heading="Dados Gerais">
        <form name="forms.pessoaJuridicaForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" ng-init="$ctrl.setFormScope(this.forms.pessoaJuridicaForm)">
                <div busy-if="$ctrl.loading">
                    <div>
                        @*Pessoa Juridica*@
                        <div class="form-group">
                            <label class="control-label col-md-4">@L("PessoaJuridica.NomeFantasia")</label>
                            <div class="col-md-5">
                                <input class="form-control" name="pessoaJuridicaNomeFantasia" type="text" maxlength="@EZ.EZControl.Domain.Global.Pessoa.PessoaJuridica.MaxNomeFantasiaLength"
                                       ng-disabled="$ctrl.disableControls"
                                       ng-model="$ctrl.entity.nomeFantasia"
                                       ng-required="$ctrl.entity.tipoPessoa == 2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">@L("PessoaJuridica.RazaoSocial")</label>
                            <div class="col-md-5">
                                <input class="form-control" name="pessoaJuridicaRazaoSocial" type="text" maxlength="@EZ.EZControl.Domain.Global.Pessoa.PessoaJuridica.MaxRazaoSocialLength"
                                       ng-disabled="$ctrl.disableControls"
                                       ng-model="$ctrl.entity.razaoSocial"
                                       ng-required="$ctrl.entity.tipoPessoa == 2" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("PessoaJuridica.GrupoPessoa")</label>
                        <div class="col-md-5">
                            <ez-select-typed ez-select="$ctrl.ezSelectGrupoPessoa">
                            </ez-select-typed>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Observacoes")</label>
                        <div class="col-md-5">
                            <textarea name="observacoes" placeholder="Observações" class="materialize-textarea" rows="6" cols="50" style="width: 100%;"
                                      ng-model="$ctrl.entity.observacao"
                                      ng-disabled="$ctrl.disableControls"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    @*Documento*@
    <uib-tab heading="Documentos" ng-if="$ctrl.entity.id > 0">
        <div busy-if="$ctrl.loading">
            <documento-form tipo-pessoa="$ctrl.entity.tipoPessoa"
                            pessoa-id="$ctrl.entity.id"
                            is-detail="true"
                            permissao-alterar-registro="Pages.Tenant.Global.PessoaJuridicaDocumento.Edit"
                            permissao-excluir-registro="Pages.Tenant.Global.PessoaJuridicaDocumento.Delete"
                            permissao-criar-registro="Pages.Tenant.Global.PessoaJuridicaDocumento.Create">
            </documento-form>
        </div>
    </uib-tab>
    @*Contato*@
    <uib-tab heading="Contatos" ng-if="$ctrl.entity.id > 0">
        <div busy-if="$ctrl.loading">
            <contato-form tipo-pessoa="$ctrl.entity.tipoPessoa"
                          pessoa-id="$ctrl.entity.id"
                          is-detail="true"
                          permissao-alterar-registro="Pages.Tenant.Global.PessoaJuridicaContato.Edit"
                          permissao-excluir-registro="Pages.Tenant.Global.PessoaJuridicaContato.Delete"
                          permissao-criar-registro="Pages.Tenant.Global.PessoaJuridicaContato.Create">
            </contato-form>
        </div>
    </uib-tab>
    @*Endereco*@
    <uib-tab heading="Endereços" ng-if="$ctrl.entity.id > 0">
        <div busy-if="$ctrl.loading">
            <endereco-form tipo-pessoa="$ctrl.entity.tipoPessoa"
                           pessoa-id="$ctrl.entity.id"
                           is-detail="true"
                           permissao-alterar-registro="Pages.Tenant.Global.PessoaJuridicaEndereco.Edit"
                           permissao-excluir-registro="Pages.Tenant.Global.PessoaJuridicaEndereco.Delete"
                           permissao-criar-registro="Pages.Tenant.Global.PessoaJuridicaEndereco.Create">
            </endereco-form>
        </div>
    </uib-tab>
    @*Endereco Eletronico*@
    <uib-tab heading="Endereços Eletrônicos" ng-if="$ctrl.entity.id > 0">
        <div busy-if="$ctrl.loading">
            <endereco-eletronico-form tipo-pessoa="$ctrl.entity.tipoPessoa"
                                      pessoa-id="$ctrl.entity.id"
                                      is-detail="true"
                                      permissao-alterar-registro="Pages.Tenant.Global.PessoaJuridicaEnderecoEletronico.Edit"
                                      permissao-excluir-registro="Pages.Tenant.Global.PessoaJuridicaEnderecoEletronico.Delete"
                                      permissao-criar-registro="Pages.Tenant.Global.PessoaJuridicaEnderecoEletronico.Create">
            </endereco-eletronico-form>
        </div>
    </uib-tab>
    @*Telefone*@
    <uib-tab heading="Telefones" ng-if="$ctrl.entity.id > 0">
        <div busy-if="$ctrl.loading">
            <telefone-form tipo-pessoa="$ctrl.entity.tipoPessoa"
                           pessoa-id="$ctrl.entity.id"
                           is-detail="true"
                           permissao-alterar-registro="Pages.Tenant.Global.PessoaJuridicaTelefone.Edit"
                           permissao-excluir-registro="Pages.Tenant.Global.PessoaJuridicaTelefone.Delete"
                           permissao-criar-registro="Pages.Tenant.Global.PessoaJuridicaTelefone.Create">
            </telefone-form>
        </div>
    </uib-tab>
</uib-tabset>

<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="$ctrl.pessoaJuridicaForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
            <button type="submit"
                    button-busy="$ctrl.savingAndContinue"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save(true)"
                    ng-disabled="$ctrl.pessoaJuridicaForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("SaveAndContinue")
                </span>
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary red"
                    ng-click="$ctrl.delete()"
                    ng-disabled="$ctrl.pessoaJuridicaForm.$invalid"
                    ng-if="!$ctrl.createOrEdit">
                <i class="fa fa-remove"></i>
                <span>
                    @L("Delete")
                </span>
            </button>
        </div>
    </div>
</div>