﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("UsuarioPorPessoa")" headerInfo="@L("UsuarioPorPessoaHeaderInfo")">
    </cabecalho>

    <usuario-por-pessoa-index>
    </usuario-por-pessoa-index>

    <rodape></rodape>
</div>