﻿<div class="dropdown bar-right-link">
    <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
    <ul class="bar-right-menu dropdown-menu">
        @*@if (Model.UserLoginInfo != null)
        {
            <li><a href="@Url.Action("index", "application")">Painel</a></li>
            <li role="separator" class="divider"></li>
        }*@
        <li><a href="/register/email">Receber alertas</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/register/site">Anunciar vagas</a></li>
    </ul>
</div>

<div class="dropdown user">
@*@if (Model.UserLoginInfo != null)
{
    <a href="javascript:void(0);" data-toggle="dropdown">
        <img id="HeaderProfilePicture" alt="" class="img-circle" src="@Url.Action("GetProfilePicture", "Profile")?t=@Clock.Now.Ticks.ToString()" />
    </a>
    <ul class="bar-right-menu dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="@Url.Action("logout", "account")?returnUrl=@Request.Url">Sair</a></li>
    </ul>
}
else
{*@
    <a href="@Url.Action("login", "account")?returnUrl=@Request.Url" class="user login">
        Login
    </a>
@*}*@
</div>
