﻿<div id="copyright" class="psearch">
    <div class="container-fluid">

        <div class="copyright-left">
            &copy; <span class="hidden-xs">Copyright</span> @DateTime.Now.Year <span class="hidden-xs"> DoutoEZ | Todos os direitos reservados</span>
        </div>

        <div class="copyright-right dropup">
            <a href="@Url.Action("Terms", new { controller = "Info"})">Termos</a>
            <a href="@Url.Action("Privacy", new { controller = "Info"})">Privacidade</a>
        </div>

    </div>
</div><!-- #copyright -->
@if (Request.Browser.IsMobileDevice)
{
    <div mobile="1"></div>
}
else
{
    <div mobile="0"></div>
}