﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("DocumentoAPagar")" headerInfo="@L("DocumentoAPagarHeaderInfo")">
    </cabecalho>

    <documento-a-pagar-index>
    </documento-a-pagar-index>

    <rodape></rodape>
</div>