﻿<div ng-controller="tenant.views.tratamento.delete as vm">
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div class="porlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">@L("DeletingTratamento")</span>
                </div>
            </div>
            <div class="portlet-body form">
                <tratamento-form operation="delete">
                </tratamento-form>
            </div>
        </div>
    </div>
</div>