﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Tratamentos")" headerInfo="@L("TratamentosHeaderInfo")">
    </cabecalho>

    <tratamento-index>
    </tratamento-index>

    <rodape></rodape>
</div>