﻿@using EZ.EZControl.Domain.Global.Pessoa

<form name="tratamentoForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-4">@L("Tratamento.Descricao")</label>
            <div class="col-md-5">
                <input name="descricao" class="form-control" type="text" required maxlength="@Tratamento.MaxDescricaoLength"
                       ng-disabled="$ctrl.disableControls"
                       ng-model="$ctrl.entity.descricao" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input name="isActive" type="checkbox"
                               ng-disabled="$ctrl.disableControls"
                               ng-model="$ctrl.entity.isActive" />
                        @L("Tratamento.Ativo")
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="tratamentoForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary red"
                        ng-click="$ctrl.delete()"
                        ng-disabled="tratamentoForm.$invalid"
                        ng-if="!$ctrl.createOrEdit">
                    <i class="fa fa-remove"></i>
                    <span>
                        @L("Delete")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>