﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Estoque.Parametro.Natureza")" headerInfo="@L("EstoqueNaturezaHeaderInfo")">
    </cabecalho>
    <estoque-natureza-index>
    </estoque-natureza-index>
    <rodape></rodape>
</div>