﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("TipoDeDocumentoFinanceiro")" headerInfo="@L("TipoDeDocumentoFinanceiroHeaderInfo")">
    </cabecalho>

    <tipo-de-documento-financeiro-index>
    </tipo-de-documento-financeiro-index>

    <rodape></rodape>
</div>