﻿<form name="eventoForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-4">@L("TipoDeDocumentoFinanceiro.Nome")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" required ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.nome" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("TipoDeDocumentoFinanceiro.Tipo")</label>
                <div class="col-md-5">
                    <select name="tipoDeDocumento"
                            class="form-control"
                            ng-model="$ctrl.entity.tipo"
                            ng-disabled="$ctrl.disableControls"
                            ng-options="item.valor as item.descricao for item in $ctrl.tipoDeDocumentoFinanceiroEnum" required>
                        <option value="">(Escolha o Tipo de Documento)</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                            @L("TipoDeDocumentoFinanceiro.Ativo")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-4 col-md-9">
                    <button ng-disabled="$ctrl.saving"
                            type="button"
                            class="btn btn-default"
                            ng-click="$ctrl.cancel()">
                        @L("Back")
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue"
                            ng-click="$ctrl.save()"
                            ng-disabled="eventoForm.$invalid"
                            ng-if="$ctrl.createOrEdit">
                        <i class="fa fa-save"></i>
                        <span>
                            @L("Save")
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>