﻿<form name="localArmazenamentoForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body" busy-if="$ctrl.loadingEntity">

        <div class="form-group">
            <label class="control-label col-md-4">@L("Estoque.LocalArmazenamento.Descricao")</label>
            <div class="col-md-5">
                <input class="form-control" 
                       type="text" 
                       ng-model="$ctrl.entity.descricao" 
                       required maxlength="@EZ.EZControl.Domain.Estoque.Geral.LocalArmazenamento.DescricaoMaxLength"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Estoque.LocalArmazenamento.Empresa")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectEmpresa"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.entity.isActive"/>
                        @L("Estoque.LocalArmazenamento.Ativo")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="localArmazenamentoForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>