﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("MeusProdutos")" headerInfo="@L("MeusProdutosHeaderInfo")">
    </cabecalho>

    <meus-produtos-index>
    </meus-produtos-index>

    <rodape></rodape>
</div>