﻿@using EZ.EZControl.Localization
<uib-tabset style="padding: 20px;">
    <uib-tab heading="Dados Gerais">
        <form name="forms.hospitalForm" role="form" novalidate class="form-horizontal" bn-uniform>

            <div class="form-group">
                <label class="control-label col-md-4">@L("Hospital.Nome")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" ng-model="$ctrl.entity.nome" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">@L("Pessoa")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectPessoaJuridica" is-required="true">
                    </ez-select-typed>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">@L("Hospital.Endereco")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectEnderecoPessoaJuridica"
                                     is-required="true"
                                     input-disabled="$ctrl.entity.pessoaJuridicaId == 0">
                    </ez-select-typed>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">@L("Hospital.Telefone")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectTelefone1"
                                     is-required="true"
                                     input-disabled="$ctrl.entity.pessoaJuridicaId == 0">
                    </ez-select-typed>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">@L("Hospital.Telefone")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectTelefone2"
                                     is-required="false"
                                     input-disabled="$ctrl.entity.pessoaJuridicaId == 0">
                    </ez-select-typed>
                </div>
            </div>

            <div busy-if="$ctrl.loading">
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Hospital.Site")</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" ng-model="$ctrl.entity.site" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">@L("Hospital.Email")</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" ng-model="$ctrl.entity.email" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                                @L("Hospital.Ativo")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>

    <uib-tab heading="Especialidades">
        <div class="form-body">
            <form name="valorForm" role="form" novalidate class="form-horizontal" bn-uniform>
                <div busy-if="$ctrl.loading">
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Hospital.Especialidade")</label>
                        <div class="col-md-5">
                            <ez-select-typed ez-select="$ctrl.ezSelectEspecialidade">
                            </ez-select-typed>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-9">
                                <button type="submit"
                                        button-busy="$ctrl.saving"
                                        busy-text="@L("SavingWithThreeDot")"
                                        class="btn btn-primary blue"
                                        ng-disabled="valorForm.$invalid"
                                        ng-click="$ctrl.addEspecialidade()">
                                    <i class="fa fa-save"></i>
                                    <span>
                                        @L("Adicionar")
                                    </span>
                                </button>
                                <button ng-disabled="$ctrl.saving"
                                        type="button"
                                        class="btn btn-default"
                                        ng-click="$ctrl.cancelEditEspecialidade()">
                                    @L("Back")
                                </button>
                            </div>
                        </div>

                    </div>

                    <div busy-if="$ctrl.loadingEspecialidadeInput">
                        <div ui-grid="$ctrl.especialidadeGridOptionsInput" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                    </div>

                </div>
            </form>
        </div>
    </uib-tab>
</uib-tabset>


<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="hospitalForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
        </div>
    </div>
</div>