﻿/*
* Alterações CSS do Bootstrap e do Metronic
*/

/*
 * Overwrite do Bootstrap
 */

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,400i,600,700');

html {
	font-family: 'Exo 2', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.form-control {
	height: 45px;
	font-size: 18px;
	color: #777777;
	border: 2px solid #d1d1d1;
    font-style: italic;
}

textarea.form-control {
	height: 125px;
}

select.form-control {
    background: #fff url('/libs/ez-lib/img/select-arrow.png');
    background-size: 13px;
    background-position:  right 10px center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.form-control:focus {
	color: #074266;
    border-color: #25aae1;
}

.form-control::-moz-placeholder {
    color: #d1d1d1;
}
  .form-control:-ms-input-placeholder {
    color: #d1d1d1; 
}
  .form-control::-webkit-input-placeholder {
    color: #d1d1d1; 
}

  .no-padding {
      padding: 0px;
  }

.input-hidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn.no-radius {
    border-radius: 0px;
}

  .np-l {
      padding-left: 0px;
  }
  
  .np-r {
      padding-right: 0px;
  }

  .no-margin {
      margin: 0px;
  }

  .pr-30 {
      padding-right: 30px;
  }

  .pl-30 {
      padding-left: 30px;
  }

  .mtb-20 {
      margin: 20px 0px;
  }

  .mb-20 {
      margin-bottom: 20px;
  }

  .mt-20 {
      margin-top: 20px;
  }
.btn {
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	border: 2px solid transparent;
	padding: 20px 35px;
	font-size: 16px;
	border-radius: 25px;
	height: 50px;
	box-shadow: none;
}

.btn-default {
	color: #25aae1;
	border-color: #25aae1;
    background-color: #f4f4f4;
    transition: all .3s ease;
}
.btn-default:focus, .btn-default.focus {
    color: #25aae1;
    background-color: #eee;
    border-color: #25aae1; 
}
.btn-default:hover {
	color: #25aae1;
    background-color: #fdfdfd;
    border-color: #25aae1; 
}

.btn-primary {
	color: #fff;
	background-color: #25aae1;
	border-color: #25aae1; 
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #25aae1;
    border-color: #25aae1; 
}

.btn-primary:hover {
    color: #fff;
    background-color: #25aae1;
    border-color: #25aae1; 
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 1;
}

.list-group-item {
    background-color: #f4f4f4;
    border: none;
}

.input-group-btn .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    height: 45px;
    border-radius: 0px;
    padding: 0px 10px;
}

.input-group-btn:last-child > .btn-group {
    margin-left: 0px; 
}

.collapse {
    height: 0px;
    overflow: hidden;
}
/*
 * Final Overwrite do Bootstrap
 */

 /*
 * Overwrite do Metronic
 */
 html {
     background-color: #f4f4f4;
 }

 body {
    font-family: 'Exo 2', "Open Sans", sans-serif;
    background-color: #f4f4f4;
 }

 body.page-md {
     background-color: #f4f4f4;
 }

 .portlet.light.bordered {
     border: none !important;
 }

 .portlet {
     border: none;
     background-color:#f4f4f4;
     box-shadow: none;
 }

 .portlet.light {
     padding: 0px;
     background-color:#f4f4f4;
 }

 .porlet-title {
     display: none;
 }

 .portlet.light .portlet-body {
     padding-top: 40px;
 }

.btn.blue:not(.btn-outline) {
	background-color: #25aae1;
	border-color: #25aae1; 
}

.btn.blue:not(.btn-outline):disabled {
    background-color: #ddd;
    border-color: #ddd;
}

.btn.blue:not(.btn-outline):disabled:hover {
    background-color: #ddd;
    border-color: #ddd;
}


.btn.blue:not(.btn-outline):hover {
    background-color: #208ebc;
    border-color: #208ebc; 
}

.ez-grid-actions .btn.blue:not(.btn-outline), 
.btn.blue:not(.btn-outline):active:hover, 
.btn.blue:not(.btn-outline):active:focus, 
.btn.blue:not(.btn-outline):active.focus, 
.btn.blue:not(.btn-outline).active:hover, 
.btn.blue:not(.btn-outline).active:focus, 
.btn.blue:not(.btn-outline).active.focus, 
.open > .btn.blue:not(.btn-outline).dropdown-toggle:hover, 
.open > .btn.blue:not(.btn-outline).dropdown-toggle:focus, 
.open > .btn.blue:not(.btn-outline).dropdown-toggle.focus,
.open > .btn.blue:not(.btn-outline).dropdown-toggle {
    background: transparent;
    border: none;
    color: #25aae1;
    box-shadow: none !important;
}

.ez-grid-actions .btn.blue:not(.btn-outline):hover {
    background: transparent;
    border: none;
    color: #25aae1;
}

.btn.blue:not(.btn-outline):active, .btn.blue:not(.btn-outline).active,
  .open > .btn.blue:not(.btn-outline).dropdown-toggle {
    background-color: #208ebc;
    border-color: #208ebc; 
}

.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
	font-size: 16px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	padding: 10px 35px; 
	height: 50px;
}

.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child,.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}


.btn:not(.btn-sm):not(.btn-lg) {
	line-height: 16px;
}

.modal-dialog .btn:not(.btn-sm):not(.btn-lg) {
    min-width: 150px;
    margin-left: 10px;
}

.ui-grid .btn:not(.btn-sm):not(.btn-lg) {
    min-width: initial;   
}

.ui-grid-contents-wrapper {
    min-height: 400px;
    overflow: auto;
    width: max-content !important;
}

.ui-grid-menu {
    background-color: #36c6d3 !important;
    width: 211px !important;
}

.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all):hover, 
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all):active {
	box-shadow: none;
    transition: all .3s ease;
}

.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-xs {
    height: 23px;
}
proposta-de-contratacao-index .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-xs {
    height: 50px
}

.btn.blue.dropdown-toggle:active,
.open > .btn.blue.dropdown-toggle:active,
.open > .btn.blue.dropdown-toggle.active,
.open > .btn.blue:not(.btn-outline).dropdown-toggle {
    background: transparent !important;
    background-color: transparent !important;
}

.ezgrid-component .portlet-title .portlet-input button.btn,
.page-content-wrapper .ezs-container .text-right > button.btn {
    height: 45px;
    margin: 0;
    padding: 12px 20px;
}

.control-label {
	display: block;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
	color: #666666;
}

.form-horizontal .control-label {
    text-align: left;
    margin-bottom: 10px;
    padding-top: 15px;
}

.control-label .required,
.form-group .required {
	color: #666666; 
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin: 0px;
        padding: 0px;
        min-height: auto;
    }
}


/*
 * Final do Metronic
 */

 /*
 * Inicio do Angular Material
 */

 button, html, input, select, textarea {
 	font-family: 'Exo 2', Roboto, Helvetica Neue, sans-serif;
 }

/*
 * Sidebar function
 */

.page-sidebar-wrapper {
    position: fixed;
    left: -100%;
    top: 0px;
    z-index: 10;
    transition: all .4s ease;
    height: 100%;
    overflow: auto;
}

.page-sidebar-wrapper .page-sidebar {
    border: 2px solid #ddd;
}

.page-sidebar-wrapper.active {
    left: 0;
}



/*
 * Componentes EZ isolados
 */

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.93);
    z-index: 9999;
    display: none;
}

#loading-overlay .loading-box {
    width: 250px;
    height: 200px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#loading-overlay .ezliv-loading {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#loading-overlay .loading-text {
    display: block;
    color: #2b75a2;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

#loading-overlay .message {
    display: block;
    text-align: center;
    color: #25a9e1;
    font-size: 16px;
}

#loading-overlay .linesplit {
    width: 120px;
    height: 3px;
    display: block;
    margin: 15px auto;
    background-color: #25a9e1;
}

.fr {
    float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.page-title {
    color: #25aae1;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 10px 0 5px 0;
    font-weight: 400;
    font-family: 'Exo 2';

}
proposta-de-contratacao-form .page-title {
    margin: 50px 0 5px 0;
}


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*Ez Actions*/

/*tooltip*/
.clearTooltip {
    display: inline-block !important;
}

md-tooltip.tt-multiline .md-content {
    height: auto !important;
    line-height: 15px !important;
}

.rm-dependente {
    margin-top: 30px;
}

.ez-actions {
    display: block;
    width: 100%;
}
.form .form-actions.ez-actions {
    margin-top: 50px;
}

.ez-actions .row {
    width: 100%;
    position: relative;
    margin: 0px;
    height: 50px;
}

.ez-actions .row:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #25aae1;
    position: absolute;
    bottom: 24px;
}

.ez-actions .row:after {
    content: '';
    display: table;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #208ebc;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 15px;
    left: 0px;
}

.ez-actions .fr {
    margin-right: -1px;
}

.ez-actions .btn-default {
    margin-right: 10px;
}

.ez-action-spec{
    position: absolute !important;
    bottom: -134px;
    left: 0;
    z-index: 1;
}

.ez-action-spec i {
    position: absolute;
    left: 20px;
    top: 0;
    height: 100%;
    line-height: 45px;
    font-size: 25px;
    border-right: 2px solid #25aae1;
}

.ez-action-spec i:before {
    margin-right: 15px;
}

.ez-action-spec span {
    padding-left: 50px;
}

/*EzFile*/
.ezfile-input {

}

.doc-spacer {
    margin-top: 48px;
    margin-left: 40px;
}

/*Accordion*/
.ez-accordion {
    display: block;
    width: 100%;
}

.ez-accordion-wrapper {
    outline: none;
    margin-bottom: 25px;
}

.ez-accordion .accordion-header {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.ez-accordion .accordion-header:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #25aae1;
    position: absolute;
    z-index: -1;
    bottom: 15px;
}

.ez-accordion .accordion-number {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #f4f4f4;
    vertical-align: bottom;
}

.ez-accordion .number-circle {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 0px;
    border: 2px solid #25aae1;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    background-color: #f4f4f4;
}

.ez-accordion .accordion-title {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: #074266;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: -3px;
}

.ez-accordion .accordion-toggle {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0px;
    border: 2px solid #25aae1;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: absolute;
    right: 0px;
    bottom: 6px;
}

.ez-accordion .accordion-toggle:before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 2px;
    background-color: #25aae1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

.ez-accordion .accordion-toggle:after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 2px;
    background-color: #25aae1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    transform: rotate(90deg);
    transition: all .4s ease;
}

.ez-accordion.active .accordion-toggle:after {
    transform: rotate(0deg);
}

.ez-accordion .accordion-content {
    display: none;
    width: 100%;
}

.ez-accordion.true .accordion-content {
    display: block;
}

/*Datepicker*/

.ez-datepicker {
    width: 200px;
    height: 172px;
}

.ez-datepicker .datepicker-titles {
    display: block;
    width: 100%;
    padding: 0px;
}

.ez-datepicker .datepicker-titles li {
    display: block;
    float: left;
    width: calc(100% / 3);    
    background-color: #074266;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-right: 2px solid white;
    height: 30px;
    line-height: 30px;
}

.ez-datepicker .datepicker-titles li:last-child {
    border: none;
}

.ez-datepicker .datepicker-inputs div {
    width: calc(100% / 3);
    float: left;
    border-top: 2px solid white
}

.ez-datepicker .datepicker-day, .ez-datepicker .datepicker-month {
    border-right: 2px solid white;
}

.ez-datepicker .datepicker-year {
    border: none;
}


.ez-datepicker .increment, .ez-datepicker .decrement {
    display: block;
    width: 100%;
    background-color: #25aae1;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    cursor: pointer;
    transition: all .3s ease;
}

.ez-datepicker .increment:hover, .ez-datepicker .decrement:hover {
    background-color: #0a91c9;
}

.ez-datepicker .increment:active, .ez-datepicker .decrement:active {
    background-color: #09739f;
}


.ez-datepicker .increment i, .ez-datepicker .decrement i {
    width: 100%;
    text-align: center;
    color: white;
}

.ez-datepicker .datepicker-input {
    width: 100%;
    border: none;
    text-align: center;
    background-color: #074266;
    color: white;
    height: 60px;
    font-size: 26px
}


.ez-selectinput {
    display: block;
    width: 100%;
    border: 2px solid #d1d1d1;
    border-radius: 4px;
    height: 45px;
    font-size: 18px;
    color: #777;
    transition: all .4s ease;
    position: relative;
}

.ez-selectinput:hover {
    border: 2px solid #25aae1;
    color: #074266;
}

.ez-selectinput:after {
    font-family: 'ezi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: '\e911';
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 20px;
}



.ez-selectinput .option-show {
    line-height: 50px;
    padding-left: 20px;
}

.ez-selectinput .option-list-wrapper {
    display: none;
    border: 2px solid #25aae1;
    background-color: white;
    margin-left: -2px;
    margin-right: -2px;
    position: absolute;
    z-index: 10;
    width: calc(100% + 4px);
    top: 51px;
    left: 0px;
}

.ez-selectinput .option-list-wrapper {
    display: block;
}

.ez-selectinput .option-list {
    border: 2px solid white;
    max-height: 133px;
    overflow-y: auto;
    padding: 0px;
    margin: 0px
}

.ez-selectinput .option-item {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    background-color: #1f95c8;
    color: white;
    padding-left: 20px;
}

.ez-selectinput .option-item:nth-child(even) {
    background-color: #25aae1;
}

/*
 * CSS dos componentes EZ (Dashboard).
 */


@font-face {
  font-family: 'ezi';
  src: url("/libs/ez-lib/fonts/ezi.eot?se416n");
  src: url("/libs/ez-lib/fonts/ezi.eot?se416n#iefix") format("embedded-opentype"), url("/libs/ez-lib/fonts/ezi.ttf?se416n") format("truetype"), url("/libs/ez-lib/fonts/ezi.woff?se416n") format("woff"), url("/libs/ez-lib/fonts/ezi.svg?se416n#ezi") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ezi"], [class*=" ezi"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ezi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.eziicon-quickaccess:before {
  content: "\e922";
}
.eziicon-warning:before {
  content: "\e920";
}
.eziicon-checked:before {
  content: "\e921";
}
.eziicon-usermore:before {
  content: "\e91e";
}
.eziicon-notify:before {
  content: "\e91f";
}
.eziicon-fileok:before {
  content: "\e918";
}
.eziicon-diamond:before {
  content: "\e919";
}
.eziicon-id:before {
  content: "\e91a";
}
.eziicon-medal:before {
  content: "\e91b";
}
.eziicon-money:before {
  content: "\e91c";
}
.eziicon-file:before {
  content: "\e91d";
}
.eziicon-grip:before {
  content: "\e917";
}
.eziicon-calendar:before {
  content: "\e90d";
}
.eziicon-chat3:before {
  content: "\e90e";
}
.eziicon-flag:before {
  content: "\e90f";
}
.eziicon-home:before {
  content: "\e910";
}
.eziicon-next:before {
  content: "\e911";
}
.eziicon-notepad:before {
  content: "\e912";
}
.eziicon-plus:before {
  content: "\e913";
}
.eziicon-search:before {
  content: "\e914";
}
.eziicon-user:before {
  content: "\e915";
}
.eziicon-wallet:before {
  content: "\e916";
}
.eziicon-arrow:before {
  content: "\e900";
}
.eziicon-chat:before {
  content: "\e901";
}
.eziicon-chat2:before {
  content: "\e902";
}
.eziicon-facebook:before {
  content: "\e903";
}
.eziicon-heart:before {
  content: "\e904";
}
.eziicon-linkedin:before {
  content: "\e905";
}
.eziicon-location:before {
  content: "\e906";
}
.eziicon-lock:before {
  content: "\e907";
}
.eziicon-medkit:before {
  content: "\e908";
}
.eziicon-search2:before {
  content: "\e909";
}
.eziicon-start:before {
  content: "\e90a";
}
.eziicon-support:before {
  content: "\e90b";
}
.eziicon-twitter:before {
  content: "\e90c";
}

@font-face {
  font-family: 'simplesnails';
  src: url("/libs/ez-lib/fonts/simplesnails_ver_4.0-webfont.woff2") format("woff2"), url("/libs/ez-lib/fonts/simplesnails_ver_4.0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bebasnue';
  src: url("/libs/ez-lib/fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("/libs/ez-lib/fonts/bebasneue_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bebasnue';
  src: url("/libs/ez-lib/fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("/libs/ez-lib/fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/* 
* IconFonts in _fonts.scss
*/
.ezs-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 0 10px; }
  .ezs-container::after {
    clear: both;
    content: "";
    display: table; }
  .ezs-container::after {
    clear: both;
    content: "";
    display: table; }

.link-blue {
  color: #25aae1;
  text-decoration: underline; }
  .link-blue:hover {
    text-decoration: underline; }

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }
  .page-overlay.active {
    display: block; }

.main-wrapper.blur {
  filter: blur(3px); }

#ezs-block-atividades {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  padding: 0px; }
  #ezs-block-atividades .ezs-block-header {
    width: 100%;
    height: 70px;
    background-color: #bf1e59;
    position: relative; }
    #ezs-block-atividades .ezs-block-header .eziicon-calendar {
      float: left;
      margin-left: 30px;
      font-size: 19px;
      color: #fff;
      margin-top: 24px; }
    #ezs-block-atividades .ezs-block-header .eziicon-grip {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 10px;
      color: #fff; }
  #ezs-block-atividades .ezs-block-title {
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 28px; }
  #ezs-block-atividades .ezs-add-event {
    float: right;
    margin-top: 18px;
    margin-right: 20px;
    color: #fff;
    font-size: 28px; }
  #ezs-block-atividades .ezs-date-search {
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    height: 61px; }
    #ezs-block-atividades .ezs-date-search .closest-dates, #ezs-block-atividades .ezs-date-search .day, #ezs-block-atividades .ezs-date-search .month, #ezs-block-atividades .ezs-date-search .year, #ezs-block-atividades .ezs-date-search .search {
      float: left;
      display: block;
      border-right: 1px solid #fff;
      text-transform: uppercase;
      text-align: center;
      height: 60px;
      line-height: 60px;
      font-weight: 600;
      letter-spacing: 1px; }
    #ezs-block-atividades .ezs-date-search .closest-dates {
      width: 17%;
      background-color: #b2da95;
      color: #fff; }
    #ezs-block-atividades .ezs-date-search .day {
      width: 9%;
      background-color: #959595;
      color: #fff; }
    #ezs-block-atividades .ezs-date-search .month {
      width: 25%;
      background-color: #e6e6e6;
      color: #959595; }
    #ezs-block-atividades .ezs-date-search .year {
      width: 17%;
      background-color: #e6e6e6;
      color: #959595; }
    #ezs-block-atividades .ezs-date-search .info-picker {
      display: none; }
      #ezs-block-atividades .ezs-date-search .info-picker.active {
        display: block; }
    #ezs-block-atividades .ezs-date-search .search {
      width: 32%;
      border: none;
      font-weight: 400;
      text-align: left;
      padding-left: 15px;
      padding-right: 40px;
      color: #666;
      text-transform: none;
      outline: none; 
      font-size: 16px;
      font-style: italic;
    }

    #ezs-block-atividades .ezs-date-search .search:focus {
        color: #074266;
    }
    #ezs-block-atividades .ezs-date-search .input-submit {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      margin: auto 0;
      width: 40px;
      height: 35px;
      font-size: 32px;
      color: #dde0e2; }
      #ezs-block-atividades .ezs-date-search .input-submit:hover {
        text-decoration: none; }
  #ezs-block-atividades .event-list {
    display: block;
    margin: 0px;
    background-color: #fff; }
    #ezs-block-atividades .event-list::after {
      clear: both;
      content: "";
      display: table; }
    #ezs-block-atividades .event-list .event-item {
      display: block; }
    #ezs-block-atividades .event-list .event-label {
      width: 17%;
      float: left;
      height: 80px;
      padding-top: 15px;
      border-right: 1px solid #e6e6e6; }
      #ezs-block-atividades .event-list .event-label .hour-tag {
        width: 90%;
        max-width: 115px;
        height: 30px;
        font-size: 20px;
        color: #fff;
        float: right;
        border-radius: 25px 0px 0px 25px;
        padding-left: 15px;
        line-height: 28px; }
        #ezs-block-atividades .event-list .event-label .hour-tag.atendimento {
          background-color: #9666b7; }
        #ezs-block-atividades .event-list .event-label .hour-tag.tarefa {
          background-color: #6cb2c4; }
        #ezs-block-atividades .event-list .event-label .hour-tag.reuniao {
          background-color: #b2cd69; }
      #ezs-block-atividades .event-list .event-label .type-tag {
        font-weight: 600;
        font-size: 12px;
        padding-left: 15px;
        text-transform: uppercase;
        letter-spacing: 1px; }
        #ezs-block-atividades .event-list .event-label .type-tag.atendimento {
          color: #9666b7; }
        #ezs-block-atividades .event-list .event-label .type-tag.tarefa {
          color: #6cb2c4; }
        #ezs-block-atividades .event-list .event-label .type-tag.reuniao {
          color: #b2cd69; }
    #ezs-block-atividades .event-list .event-info {
      width: 75%;
      float: left;
      height: 80px;
      border-bottom: 1px solid #e6e6e6; }
      #ezs-block-atividades .event-list .event-info .info-title {
        font-size: 18px;
        padding-left: 30px;
        margin-top: 18px;
        margin-bottom: 10px; 
        font-weight: 600;
      }
      #ezs-block-atividades .event-list .event-info .info-user {
        color: #25aae1;
        text-decoration: underline; }
        #ezs-block-atividades .event-list .event-info .info-user:hover {
          text-decoration: underline; }
      #ezs-block-atividades .event-list .event-info.atendimento .info-title {
        color: #9666b7; }
      #ezs-block-atividades .event-list .event-info.tarefa .info-title {
        color: #6cb2c4; }
      #ezs-block-atividades .event-list .event-info.reuniao .info-title {
        color: #b2cd69; }
      #ezs-block-atividades .event-list .event-info .info-description {
        font-size: 14px;
        color: #666;
        padding-left: 30px; }
        #ezs-block-atividades .event-list .event-info .info-description .text-warning {
          color: #fad111; }
    #ezs-block-atividades .event-list .event-status {
      float: left;
      width: 8%;
      height: 80px;
      background-color: #f7f7f7;
      position: relative;
      border-bottom: 1px solid #e6e6e6; }
      #ezs-block-atividades .event-list .event-status .event-done-input {
        position: fixed;
        top: -9999px;
        left: -9999px; }
        #ezs-block-atividades .event-list .event-status .event-done-input:checked + .event-done:after {
          opacity: 1;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          -webkit-transition: -webkit-transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), background-color 0.23s ease;
          -moz-transition: -moz-transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), background-color 0.23s ease;
          transition: transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), background-color 0.23s ease; }
      #ezs-block-atividades .event-list .event-status .event-done {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #666; }
        #ezs-block-atividades .event-list .event-status .event-done:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 7px;
          height: 7px;
          background-color: #666;
          border-radius: 50%;
          opacity: 0;
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
          -webkit-transition: -webkit-transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), opacity 0.23s ease;
          -moz-transition: -moz-transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), opacity 0.23s ease;
          transition: transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), opacity 0.23s ease; }

#ezs-breadcrumb {
  width: 100%;
  height: 70px;
  background-color: #f9f9f9; }
  #ezs-breadcrumb .bc-list {
    float: left; 
    padding-left: 0px;

  }
  #ezs-breadcrumb .bc-item {
    float: left;
    position: relative;
    border-bottom: 4px solid transparent;
    text-transform: uppercase;
    padding-top: 26px;
    padding-bottom: 17px;
    padding-right: 3px;
    font-size: 15px;
    color: #999999;
    margin-right: 35px; }
    #ezs-breadcrumb .bc-item:before {
      content: '';
      display: block;
      border-right: 1px dashed #999999;
      position: absolute;
      right: -15px;
      top: 0px;
      width: 1px;
      height: 70px; }
    #ezs-breadcrumb .bc-item:after {
      font-family: 'ezi' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      content: '\e911';
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #25aae1;
      color: #fff;
      position: absolute;
      top: 6px;
      bottom: 0;
      right: -21px;
      margin: auto 0; 
      text-align: center;
      font-size: 8px;
      line-height: 14px;
    }
    #ezs-breadcrumb .bc-item:first-of-type {
        line-height: 14px;
    }
    #ezs-breadcrumb .bc-item:last-of-type {
      border-bottom: 4px solid #e6e6e6; 
    }
    #ezs-breadcrumb .bc-item:last-of-type:before {
      display: none;
    }
    #ezs-breadcrumb .bc-item:last-of-type:after {
      display: none;
    }
    #ezs-breadcrumb .bc-item .eziicon-home {
      color: #25aae1; 
      font-size: 26px;
      line-height: 18px;
    }
  #ezs-breadcrumb .fast-access-toggle {
    float: right;
    background-color: #e0e0e0;
    height: 70px;
    width: 45px;
    cursor: pointer; 
    text-align: center;
  }
  #ezs-breadcrumb .fast-access-toggle i {
    color: white;
    line-height: 70px;
    font-size: 20px;
  }

#ezs-block-contatos {
  border: 1px solid #d1d1d1;
  padding: 0px;
  border-radius: 3px; }
  #ezs-block-contatos .ezs-block-header {
    width: 100%;
    height: 70px;
    background-color: #25aae1;
    position: relative;

  }
    #ezs-block-contatos .ezs-block-header .eziicon-user {
      float: left;
      margin-left: 30px;
      font-size: 19px;
      color: #fff;
      margin-top: 23px; }
    #ezs-block-contatos .ezs-block-header .eziicon-grip {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 10px;
      color: #fff; }
  #ezs-block-contatos .ezs-block-title {
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 28px; }
  #ezs-block-contatos .ezs-add-contact {
    float: right;
    margin-top: 18px;
    margin-right: 20px;
    color: #fff;
    font-size: 28px; }
  #ezs-block-contatos .ezs-block-search {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d1d1d1;
    position: relative; }
    #ezs-block-contatos .ezs-block-search .contact-search-input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding-left: 30px;
      font-size: 16px; 
      font-style: italic;
      color: #666
    }
    #ezs-block-contatos .ezs-block-search .contact-search-input:focus {
        color: #074266;
    }
    #ezs-block-contatos .ezs-block-search .input-submit {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      margin: auto 0;
      width: 40px;
      height: 35px;
      font-size: 32px;
      color: #dde0e2; }
      #ezs-block-contatos .ezs-block-search .input-submit:hover {
        text-decoration: none; }
  #ezs-block-contatos .ezs-bc-list {
    width: 100%;
    margin: 0px;
    padding: 0px; }
  #ezs-block-contatos .ezs-bc-item {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    display: block;
    list-style-type: none; }
    #ezs-block-contatos .ezs-bc-item:nth-child(odd) {
      background-color: #fafafa; }
    #ezs-block-contatos .ezs-bc-item .status {
      float: left;
      width: 10px;
      height: 80px; }
      #ezs-block-contatos .ezs-bc-item .status.cliente-ativo {
        background: #35bd78; }
      #ezs-block-contatos .ezs-bc-item .status.cliente-andamento {
        background: #e9d028; }
      #ezs-block-contatos .ezs-bc-item .status.usuario {
        background: #6a1e80; }
      #ezs-block-contatos .ezs-bc-item .status.contato {
        background: #e5e5e5; }
  #ezs-block-contatos .contact-info {
    float: left;
    width: calc(100% - 10px);
    height: 100%; }
  #ezs-block-contatos .contact-image {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px 20px; }
  #ezs-block-contatos .text-box {
    float: left; }
  #ezs-block-contatos .contact-name {
    color: #25aae1;
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 5px; }
  #ezs-block-contatos .contact-mail {
    color: #c8d2d9; }
  #ezs-block-contatos .eziicon-chat3 {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    margin: auto 0;
    font-size: 21px;
    color: #25aae1; }

#ezs-fast-access {
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 30px; 
  margin-bottom: 50px;
}
#ezs-fast-access .facc-list {
    text-align: center;
}
  #ezs-fast-access .facc-item {
    /*float: left;*/
    width: calc((100% / 4) - 4px);
    min-height: 265px;
    position: relative;
    cursor: pointer; 
    display: inline-block;
    vertical-align: top;
  }
    #ezs-fast-access .facc-item:before {
      content: '';
      display: block;
      width: 1px;
      height: 153px;
      border-right: 1px dashed #999999;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0px;
      right: 0px; }
    #ezs-fast-access .facc-item:after {
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      background: #666;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0px;
      right: -4px; }
    #ezs-fast-access .facc-item:last-of-type:after, #ezs-fast-access .facc-item:last-of-type:before {
      display: none; }
  #ezs-fast-access .hover-border {
    width: 130px;
    height: 130px;
    background-color: #f4f4f4;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  #ezs-fast-access .facc-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #999999;
    background-color: #f4f4f4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    #ezs-fast-access .facc-icon i {
      color: #999999;
      display: block;
      font-size: 55px;
      text-align: center;
      line-height: 100px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  #ezs-fast-access .facc-title {
    font-family: "bebasnue", sans-serif;
    font-size: 30px;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  #ezs-fast-access .facc-text {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
    color: #666;
    font-size: 18px; }
  #ezs-fast-access .facc-item.contratacao:hover .hover-border {
    background-color: rgba(37, 170, 225, 0.4); }
  #ezs-fast-access .facc-item.contratacao:hover .facc-icon {
    width: 90px;
    height: 90px;
    background-color: #25aae1;
    border: 2px solid #25aae1; }
    #ezs-fast-access .facc-item.contratacao:hover .facc-icon i {
      color: #fff;
      line-height: 90px; }
  #ezs-fast-access .facc-item.contratacao:hover .facc-title {
    color: #25aae1; }

  #ezs-fast-access .facc-item.processos:hover .hover-border {
    background-color: rgba(106, 30, 128, 0.4); }
  #ezs-fast-access .facc-item.processos:hover .facc-icon {
    width: 90px;
    height: 90px;
    background-color: #6a1e80;
    border: 2px solid #6a1e80; }
    #ezs-fast-access .facc-item.processos:hover .facc-icon i {
      color: #fff;
      line-height: 90px; }
  #ezs-fast-access .facc-item.processos:hover .facc-title {
    color: #6a1e80; }

footer {
  background-color: #fff; 
  margin-top: 75px;
}
  footer .footer-top {
    background-color: #f9f9f9;
    padding-top: 40px;
    padding-bottom: 20px; }
  footer .footer-bottom {
    padding: 20px 0px; }
  footer .footer-logo {
    float: left;
    padding-right: 42px; }
    footer .footer-logo img {
      width: 147px; }
  footer .col-block {
    /*float: left;
    padding-right: 95px;
    padding-top: 10px;*/ 

  }
    footer .col-block h4 {
      color: #25aae1; 
      font-size: 18px;
      font-weight: 600;
      margin: 0px;
    }
      footer .col-block h4 i {
        margin-right: 10px;
        font-size: 28px;
      }
    footer .col-block p {
      color: #074266;
      margin: 0px;
      margin-top: 20px; 
      font-size: 14px;
      line-height: 20px;

    }
      footer .col-block p strong {
        font-weight: 600; }
    footer .footer-links {
        /*width: 100%;
    padding-left: 192px;*/
        float: left;
        /*margin-top: 30px;
    margin-bottom: 10px;*/
        margin-top: 3px;
    }
    footer .footer-links li {
      float: left;
      padding: 0px 15px;
      border-left: 1px solid #999999;
      line-height: 16px; }
      footer .footer-links li:first-child {
        border-left: none;
        padding-left: 0px; }
      footer .footer-links li a {
        display: block;
        color: #999999;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 12px; }
        footer .footer-links li a:hover {
          text-decoration: underline; }
  footer .copyright {
    float: left;
    color: #074266;
    line-height: 30px; 
    margin: 0px;
  }
  footer .social-links {
    float: right; }
    footer .social-links li {
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: red;
      color: #fff;
      text-align: center;
      margin-left: 15px;
      background-color: #999999;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      footer .social-links li.linkedin:hover {
        background-color: #0e76a8; }
      footer .social-links li.twitter:hover {
        background-color: #4099ff; }
      footer .social-links li.facebook:hover {
        background-color: #3a5897; }
      footer .social-links li a {
        line-height: 30px; }

#ezs-header {
    height: 95px;
    /*width: 163px;*/
    border-top: 4px solid #bf1e59;
    padding: 10px 0px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
    background-color: white;
}
  #ezs-header .ezs-logo {
    float: left;
    margin: 0px; 
    margin-top: 7px;
  }
    #ezs-header .ezs-logo img {
      width: 163px; }
  #ezs-header .ezs-header-actions {
    float: right;
    padding-top: 12px; }
    #ezs-header .ezs-header-actions .ezs-welcome-msg {
      display: block;
      float: left;
      line-height: 43px;
      margin: 0px;
      color: #074266;
    }

    #ezs-header .ezs-header-actions .ezs-actions-list {
      float: left; 
      padding-left: 0px;
    }
      #ezs-header .ezs-header-actions .ezs-actions-list li {
        display: block;
        float: left; }
      #ezs-header .ezs-header-actions .ezs-actions-list a[class*='btn-'] {
        display: block;
        background-color: #25aae1;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-left: 15px;
        color: #fff;
        text-align: center;
        font-size: 22px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease; 
        text-decoration: none;
      }

      #ezs-header .ezs-header-actions .ezs-actions-list li:first-child a[class*='btn-'] {
          margin-left: 20px;
      }
        #ezs-header .ezs-header-actions .ezs-actions-list a[class*='btn-']:before {
          line-height: 45px; }
        #ezs-header .ezs-header-actions .ezs-actions-list a[class*='btn-'].eziicon-chat:before {
          line-height: 48px; }
        #ezs-header .ezs-header-actions .ezs-actions-list a[class*='btn-']:hover {
          background-color: #1e88b4; }
      #ezs-header .ezs-header-actions .ezs-actions-list a.ezs-btn-signup {
        width: auto;
        height: auto;
        background-color: #bf1e59;
        text-indent: 0;
        padding: 14px 20px;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        letter-spacing: 2px; }
        #ezs-header .ezs-header-actions .ezs-actions-list a.ezs-btn-signup:hover {
          background-color: #ac1b50; }
      #ezs-header .ezs-header-actions .ezs-actions-list a.ezs-btn-profile {
        background-color: #fff;
        border: 2px solid #25aae1;
        position: relative; 
        height: 49px;
        width: 49px;
        margin-top: -1px;
      }
        #ezs-header .ezs-header-actions .ezs-actions-list a.ezs-btn-profile img {
          position: absolute;
          width: 41px;
          height: 41px;
          border-radius: 50%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto; }
  #ezs-header .ezs-menu-wrapper {
    float: right; }

.ezs-menu-wrapper {
  float: right;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  border: 2px solid #25aae1;
  padding: 8px 9px;
  border-radius: 50%;
  cursor: pointer; }

.ezs-menu-input {
  position: fixed;
  top: -9999px;
  left: -9999px; }

.ezs-menu-toggle {
  display: inline-block;
  position: relative;
  width: 23px;
  height: 4px;
  background-color: #25aae1;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .ezs-menu-toggle:before {
    content: '';
    width: 23px;
    height: 4px;
    background-color: #25aae1;
    position: absolute;
    top: -7px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .ezs-menu-toggle:after {
    content: '';
    width: 23px;
    height: 4px;
    background-color: #25aae1;
    position: absolute;
    top: 7px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }

#ezs-metrics {
  border: 1px solid #e9e9e9;
  border-bottom: none;
  border-radius: 3px;
  padding: 0px;
  margin-top: 30px;
  background-color: #fff; }
  #ezs-metrics::after {
    clear: both;
    content: "";
    display: table; }
  #ezs-metrics .metric-item {
    float: left;
    width: calc(100% / 3);
    border-right: 1px solid #e9e9e9; }
    #ezs-metrics .metric-item:last-child {
      border-right: none; }
  #ezs-metrics .metric-value-wrapper {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    color: #fff;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 35px;
    margin-top: 40px;
    margin-bottom: 45px;
    position: relative;
    text-align: center;
    font-size: 35px; }
    #ezs-metrics .metric-value-wrapper:before {
      content: '';
      display: block;
      width: 101px;
      height: 101px;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      left: -10px; }
    #ezs-metrics .metric-value-wrapper .value {
      position: absolute;
      text-align: center;
      line-height: 75px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  #ezs-metrics .text-box {
    float: left; }
  #ezs-metrics .metric-name {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px; 
    font-size: 15px;
    margin-bottom: 0px;
  }
  #ezs-metrics .metric-description {
    color: #bac2c7;
    font-size: 18px;
    max-width: 150px; 
    margin: 0px;
    font-weight: 300;
    margin-top: 5px;
    line-height: 20px;
  }
  #ezs-metrics .eziicon-arrow {
    float: right;
    font-size: 25px;
    margin-top: 65px;
    margin-right: 10px; }
    #ezs-metrics .eziicon-arrow:before {
      display: block;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  #ezs-metrics .metric-item.contratos {
    border-bottom: 3px solid #00adb0; }
    #ezs-metrics .metric-item.contratos .metric-value-wrapper {
      background-color: #00adb0; }
      #ezs-metrics .metric-item.contratos .metric-value-wrapper:before {
        background-color: rgba(0, 173, 176, 0.4); }
    #ezs-metrics .metric-item.contratos .metric-name, #ezs-metrics .metric-item.contratos .eziicon-arrow {
      color: #00adb0; }
  #ezs-metrics .metric-item.processos {
    border-bottom: 3px solid #fad111; }
    #ezs-metrics .metric-item.processos .metric-value-wrapper {
      background-color: #fad111; }
      #ezs-metrics .metric-item.processos .metric-value-wrapper:before {
        background-color: rgba(250, 209, 17, 0.4); }
    #ezs-metrics .metric-item.processos .metric-name, #ezs-metrics .metric-item.processos .eziicon-arrow {
      color: #fad111; }
  #ezs-metrics .metric-item.atendimento {
    border-bottom: 3px solid #6a1e80; }
    #ezs-metrics .metric-item.atendimento .metric-value-wrapper {
      background-color: #6a1e80; }
      #ezs-metrics .metric-item.atendimento .metric-value-wrapper:before {
        background-color: rgba(106, 30, 128, 0.4); }
    #ezs-metrics .metric-item.atendimento .metric-name, #ezs-metrics .metric-item.atendimento .eziicon-arrow {
      color: #6a1e80; }
.ezs-process-timeline {
    position: relative;
    z-index: 1;
}
.ezs-process-timeline::after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 23px;
    margin: 0px auto;
    width: 1000px;
    height: 2px;
    background-color: #d1d1d1;
    z-index: -1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.ezs-process-timeline .nav > li > a {
    padding: initial;
}

.ezs-process-timeline .nav-tabs > li.active > a {
    border: none;
}

.ezs-process-timeline .nav-tabs {
    margin-bottom: 0px;
}

.ezs-process-timeline .pt-list {
    padding-left: 40px;
}

.ezs-process-timeline .pt-item {
  float: left;
  width: 120px;
  margin-right: 80px;
  text-align: center;
  cursor: pointer; 
  position: relative;
  z-index: 2;
  outline: none;
}

.ezs-process-timeline .pt-item:after {
    content: '';
    display: block;
    position: absolute;
    width: 
}

.ezs-process-timeline .pt-wrapper {
  font-size: 20px;
  color: #999999;
  background-color: #d1d1d1;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  border: 6px solid #d1d1d1;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }

  .ezs-process-timeline .pt-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    margin: auto 0px;
    width: 0px;
    height: 2px;
    background-color: transparent;
    z-index: -1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.ezs-process-timeline .pristine .pt-wrapper:after {
    width: 78px;
}

.ezs-process-timeline .active > .pt-wrapper:after {
    width: 78px;
}
.ezs-process-timeline .completo > .pt-wrapper:after {
    width: 156px;
}
  .ezs-process-timeline .pt-wrapper:before {
    font-family: 'ezi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 15px;
    content: '\e911';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #d1d1d1;
    color: #fff;
    font-size: 8px;
    border-radius: 50%;
    position: absolute;
    left: 106px;
    top: 0;
    bottom: 0;
    margin: auto 0px;
    z-index: 3; }
  .ezs-process-timeline .pt-item .pt-icon:before {
    font-family: 'ezi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 15px;
  }

  .ezs-process-timeline .pt-item:nth-child(1) .pt-icon:before {
      content: '\e91a';
  }
  .ezs-process-timeline .pt-item:nth-child(2) .pt-icon:before {
      content: '\e919';
      line-height: 39px;
  }
  .ezs-process-timeline .pt-item:nth-child(3) .pt-icon:before {
      content: "\e91d";
  }
  .ezs-process-timeline .pt-item:nth-child(4) .pt-icon:before {
      content: "\e918";
  }
  .ezs-process-timeline .pt-item:nth-child(5) .pt-icon:before {
      content: "\e91b";
  }
  .ezs-process-timeline .pt-item:nth-child(6) .pt-icon:before {
      content: "\e91c";
  }

  .ezs-process-timeline .pt-wrapper i:after {
    content: '';
    width: 36px;
    height: 36px;
    border: 3px solid #d1d1d1;
    display: block;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; }

.ezs-process-timeline .tab-name {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 25px;
  position: relative;
  color: #d1d1d1;
  padding-bottom: 8px;
  z-index: 2; 
  text-decoration: none;
}
  .ezs-process-timeline .tab-name:after {
    content: '';
    display: block;
    background-color: #d1d1d1;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .ezs-process-timeline .tab-name:before {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #25aae1;
    opacity: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .ezs-process-timeline .tab-name:before {}

.ezs-process-timeline .pt-item:last-child {
  margin-right: 0; }
  .ezs-process-timeline .pt-item:last-child .pt-wrapper:after {
    display: none
  }
  .ezs-process-timeline .pt-item:last-child .pt-wrapper:before {
    display: none; }

.ezs-process-timeline .pt-item.active .pt-wrapper {
  border: 6px solid #25aae1;
  background-color: #fff;
  color: #25aae1; }
  .ezs-process-timeline .pt-item.active .pt-wrapper:after {
    background-color: #25aae1; }
  .ezs-process-timeline .pt-item.active .pt-wrapper:before {
    background-color: #25aae1; }
  .ezs-process-timeline .pt-item.active .pt-wrapper i:after {
    border: 3px solid #25aae1; }

.ezs-process-timeline .pt-item.active .tab-name {
  color: #fff !important; }
  .ezs-process-timeline .pt-item.active .tab-name:after {
    background-color: #25aae1;
    height: 30px;
    width: calc(100% + 20px);
    left: -10px;
    border-radius: 3px 3px 0px 0px; }
  .ezs-process-timeline .pt-item.active .tab-name:before {
    opacity: 1; }

.ezs-process-timeline .pt-item.active:hover .pt-wrapper {
  border: 6px solid #abdef4; }
  .ezs-process-timeline .pt-item.active:hover .pt-wrapper i:after {
    opacity: 1; }

/* Completo */
.ezs-process-timeline .pt-item.completo .pt-wrapper {
  border: 6px solid #139413;
  background-color: #fff;
  color: #139413; }
  .ezs-process-timeline .pt-item.completo .pt-wrapper:after {
    background-color: #139413; }
  .ezs-process-timeline .pt-item.completo .pt-wrapper:before {
    background-color: #139413; 
    content: '\e921';
  }
  .ezs-process-timeline .pt-item.completo .pt-wrapper i:after {
    border: 3px solid #139413; }
  .ezs-process-timeline .completo .tab-name:before {
      background-color: #139413;
  }

.ezs-process-timeline .pt-item.completo .tab-name {
  color: #139413; }
  .ezs-process-timeline .pt-item.completo .tab-name:after {
    background-color: #139413; }

.ezs-process-timeline .pt-item.completo:hover .pt-wrapper {
  border: 6px solid #84ef84; }
  .ezs-process-timeline .pt-item.completo:hover .pt-wrapper i:after {
    opacity: 1; }

/* Pendente */
.ezs-process-timeline .pt-item.pendente .pt-wrapper {
  border: 6px solid #D7B40F;
  background-color: #fff;
  color: #D7B40F; }
  .ezs-process-timeline .pt-item.pendente .pt-wrapper:after {
    background-color: #D7B40F; }
  .ezs-process-timeline .pt-item.pendente .pt-wrapper:before {
    background-color: #D7B40F; 
    content: '\e920';
  }
  .ezs-process-timeline .pt-item.pendente .pt-wrapper i:after {
    border: 3px solid #D7B40F; }
  .ezs-process-timeline .pendente .tab-name:before {
      background-color: #D7B40F;
  }

.ezs-process-timeline .pt-item.pendente .tab-name {
  color: #D7B40F; }
  .ezs-process-timeline .pt-item.pendente .tab-name:after {
    background-color: #D7B40F; }

.ezs-process-timeline .pt-item.pendente:hover .pt-wrapper {
  border: 6px solid #d7c25e; }
  .ezs-process-timeline .pt-item.pendente:hover .pt-wrapper i:after {
    opacity: 1; }

/* Exigência */
.ezs-process-timeline .pt-item.exigencia .pt-wrapper {
  border: 6px solid #8b3461;
  background-color: #fff;
  color: #8b3461; }
  .ezs-process-timeline .pt-item.exigencia .pt-wrapper:after {
    background-color: #8b3461; }
  .ezs-process-timeline .pt-item.exigencia .pt-wrapper:before {
    background-color: #8b3461; 
    content: '\e920';
  }
  .ezs-process-timeline .pt-item.exigencia .pt-wrapper i:after {
    border: 3px solid #8b3461; }
  .ezs-process-timeline .exigencia .tab-name:before {
      background-color: #8b3461;
  }

.ezs-process-timeline .pt-item.exigencia .tab-name {
  color: #8b3461; }
  .ezs-process-timeline .pt-item.exigencia .tab-name:after {
    background-color: #8b3461; }

.ezs-process-timeline .pt-item.exigencia:hover .pt-wrapper {
  border: 6px solid #db86b2; }
  .ezs-process-timeline .pt-item.exigencia:hover .pt-wrapper i:after {
    opacity: 1; }


/* Rejeitada */
.ezs-process-timeline .pt-item.rejeitada .pt-wrapper {
  border: 6px solid #ef0820;
  background-color: #fff;
  color: #ef0820; }
  .ezs-process-timeline .pt-item.rejeitada .pt-wrapper:after {
    background-color: #ef0820; }
  .ezs-process-timeline .pt-item.rejeitada .pt-wrapper:before {
    background-color: #ef0820; 
    content: '\e920';
  }
  .ezs-process-timeline .pt-item.rejeitada .pt-wrapper i:after {
    border: 3px solid #ef0820; }
  .ezs-process-timeline .rejeitada .tab-name:before {
      background-color: #ef0820;
  }

.ezs-process-timeline .pt-item.rejeitada .tab-name {
  color: #ef0820; }
  .ezs-process-timeline .pt-item.rejeitada .tab-name:after {
    background-color: #ef0820; }

.ezs-process-timeline .pt-item.rejeitada:hover .pt-wrapper {
  border: 6px solid #f15666; }
  .ezs-process-timeline .pt-item.rejeitada:hover .pt-wrapper i:after {
    opacity: 1; }

.tab-pane .nav-tabs {
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    border-bottom: 2px solid #ddd;
}
.tab-pane .nav-tabs > li {
    float: none;
    display: inline-block;
    padding: 0px 5px;
}

.tab-pane .nav-tabs > li > a {
    padding-top: 17px;
    color: #999;
    text-transform: uppercase;
    padding-bottom: 13px;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border .4s ease, border-color .4s ease;
    font-size: 13px;
}

.tab-pane .nav-tabs > li > a:hover {
    color: #25aae1;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}

.tab-pane .nav-tabs > li.active > a {
    color: #25aae1;
    border-bottom: 2px solid #25aae1;
}

#ezs-product-type {
  position: fixed;
  display: block;
  width: 900px;
  height: 526px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  margin: auto;
  box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.5);
  padding: 0px; 
  transform: scale(0);
  opacity: 0;
  transition: all .3s ease;
  z-index: -10;
}
  #ezs-product-type.open {
    display: block;
    opacity: 1;
    transform: scale(1);
    z-index: 10;
  }
  #ezs-product-type .ezs-product-list {
    padding: 0px;
    margin: 0px; }
  #ezs-product-type .ezs-product-item {
    float: left;
    width: 225px;
    border: 1px solid #cfcfd0;
    position: relative;
    max-height: 526px;
    overflow: hidden; }
    #ezs-product-type .ezs-product-item a {
      display: block;
      padding: 0px; }
    #ezs-product-type .ezs-product-item .ezs-product-img-wrapper {
      width: 100%;
      height: 261px;
      overflow: hidden; }
    #ezs-product-type .ezs-product-item .ezs-product-image {
      display: block;
      width: 100%;
      margin: 0 auto;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    #ezs-product-type .ezs-product-item .ezs-product-icon {
      position: absolute;
      display: block;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0.6);
      left: 0;
      right: 0;
      top: 235px;
      margin: 0 auto;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      #ezs-product-type .ezs-product-item .ezs-product-icon i {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #25aae1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        color: #fff;
        font-size: 20px; }
        #ezs-product-type .ezs-product-item .ezs-product-icon i:before {
          position: absolute;
          top: 11px;
          left: 10px; }
    #ezs-product-type .ezs-product-item .ezs-product-info {
      border-top: 1px solid #fff;
      color: #fff;
      height: 263px; }
    #ezs-product-type .ezs-product-item .ezs-product-name {
      font-family: "bebasnue", sans-serif;
      font-weight: bold;
      font-size: 27px;
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px; }
      #ezs-product-type .ezs-product-item .ezs-product-name:after {
        content: '';
        display: block;
        width: 83px;
        height: 3px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 15px; }
    #ezs-product-type .ezs-product-item .ezs-product-description {
      font-size: 16px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      height: 60px;
      width: 160px; }
    #ezs-product-type .ezs-product-item .ezs-product-btn {
      display: block;
      width: 140px;
      height: 50px;
      border-radius: 25px;
      background-color: #fff;
      border: 2px solid #fff;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      line-height: 46px; }
    #ezs-product-type .ezs-product-item.adesao .ezs-product-icon i {
      background-color: #25aae1; }
    #ezs-product-type .ezs-product-item.adesao .ezs-product-info {
      background-color: #25aae1; }
    #ezs-product-type .ezs-product-item.adesao .ezs-product-btn {
      color: #25aae1; }
    #ezs-product-type .ezs-product-item.corporativo .ezs-product-icon i {
      background-color: #00adb0; }
    #ezs-product-type .ezs-product-item.corporativo .ezs-product-info {
      background-color: #00adb0; }
    #ezs-product-type .ezs-product-item.corporativo .ezs-product-btn {
      color: #00adb0; }
    #ezs-product-type .ezs-product-item.dentais .ezs-product-icon i {
      background-color: #fad111; }
    #ezs-product-type .ezs-product-item.dentais .ezs-product-info {
      background-color: #fad111; }
    #ezs-product-type .ezs-product-item.dentais .ezs-product-btn {
      color: #fad111; }
    #ezs-product-type .ezs-product-item.seguros .ezs-product-icon i {
      background-color: #bf1e59; }
    #ezs-product-type .ezs-product-item.seguros .ezs-product-info {
      background-color: #bf1e59; }
    #ezs-product-type .ezs-product-item.seguros .ezs-product-btn {
      color: #bf1e59; }
    #ezs-product-type .ezs-product-item .hover-border {
      width: 100%;
      height: 100%;
      position: absolute;
      border: 10px solid #fff;
      top: 0;
      left: 0;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #ezs-product-type .ezs-product-item:hover a {
      padding: 0px; }
    #ezs-product-type .ezs-product-item:hover .ezs-product-image {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    #ezs-product-type .ezs-product-item:hover .ezs-product-icon i {
      background-color: #fff;
      color: #bf1e59; }
    #ezs-product-type .ezs-product-item:hover .ezs-product-btn {
      background-color: #bf1e59;
      color: #fff; }
    #ezs-product-type .ezs-product-item:hover .hover-border {
      border: 0px solid #fff; }


/* Menu SVG iteration */

.all-wrapper {
	overflow: hidden;
	width: 100%;
}

.main-wrapper {
    overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/*.content-wrapper {
	position: relative;
	background: #b4bad2;
}

.content-wrapper::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}*/


.menu-wrap {
	position: fixed;
	z-index: 1001;
	width: 360px;
	height: 100%;
    right: 0px;
	font-size: 1.15em;
    border: 1px solid #25aae1;
    border-top: 4px solid #25aae1;
	-webkit-transform: translate3d(360px,0,0);
	transform: translate3d(360px,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
    background-color: transparent;
    overflow: hidden;
}

.menu-header {
    width: 100%;
    height: 100px;
    background-color: #1676a4;
    color: white;
    position: absolute;
    z-index: 1001;
    left: 0px;
    padding: 35px 0px;
}

.menu-header .menu-logo {
    width: 40px;
    margin-top: -10px;
    margin-right: 20px;
    margin-left: 30px;
}

.menu-header img {
    float: left;
}

.menu-header h3 {
    float: left;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0px;
}

.menu-header .close-btn {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    margin-top: -1px;
}

.menu-header .close-btn:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: white;
    transform: rotate(-45deg);
}

.menu-header .close-btn:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: white;
    transform: rotate(45deg);
}


.menu-content {
	background: #001736;
	width: calc(100% - 30px);
	height: 100%;
    float: right;
    padding: 0px;
    border-top: 1px solid;
    margin-top: 99px;
    padding-bottom: 99px;
    overflow: scroll;
}

.menu-content::-webkit-scrollbar {
    display: none;
}

.menu-content .menu-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #25aae1;
    display: block;
    position: relative;
    font-weight: 400;
    border-bottom: 1px solid #25aae1;
    margin-top: 35px;
    outline: none;
    cursor: pointer;
}
.menu-content .menu-title:before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 2px;
    background-color: #fff;
    top: 0px;
    right: 15px;
    bottom: 0px;
    margin: auto;
}

.menu-content .menu-title:after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 2px;
    background-color: #fff;
    top: 0px;
    right: 15px;
    bottom: 0px;
    margin: auto;
    transform: rotate(90deg);
    transition: all .4s ease;
}
.menu-content .menu-title.active:after {
    transform: rotate(0deg);
}
.menu-content .menu-list {
    padding: 0px;
    margin: 0px;
}
.menu-content .menu-item {
    margin-bottom: 10px;
}
.menu-content .item-link {
    color: white;
    font-size: 18px;
    transition: all .15s linear;
}
.menu-content .item-link i {
    color: #bf1e59;
    transition: all .15s linear;
}
.menu-content .link-text {
    margin-left: 15px;
}
.menu-content .item-link:hover {
    color: #25aae1;
    padding-left: 10px;
}
.menu-content .item-link:hover i {
    color: #25aae1;
}


/* Morph Shape */
.morph-shape {
	position: absolute;
	width: 30px;
	height: 100%;
	top: 0;
	left: 0;
	fill: #001736;
	z-index: 1000;
    transform: rotate(180deg);
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.main-wrapper::before {
    position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
    display: none;
}

.show-menu .main-wrapper {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(-300px,0,0);
	transform: translate3d(-300px,0,0);
    overflow: hidden;
}

.show-menu .main-wrapper::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    display: block;
}

.page-quick-sidebar-wrapper {
    right: initial;
    left: -320px;
    transition: left 0.3s;
}

.page-quick-sidebar-toggler {
    right: initial;
    left: 282px;
}

.page-quick-sidebar-open .page-quick-sidebar-wrapper {
    right: initial;
    left: 0;
}

.page-quick-sidebar-wrapper a.page-quick-sidebar-pinner {
    left: 253px;
    right: initial;
}



/* NOTIFICAÇões no menu */

#UserNotificationDropdown {

}

#UserNotificationDropdown .badge-danger {
    position: absolute;
} 


#UserNotificationDropdown .dropdown-menu-list {
    padding: 0px;
}

#UserNotificationDropdown .dropdown-menu-list li {
    display: block;
    float: none;
    padding: 5px 15px;
    background-color: #fff;
}
#UserNotificationDropdown .dropdown-menu-list li:nth-child(odd) {
    background-color: #f3f3f3;
    width: 320px;
}

#UserNotificationDropdown a.user-notification-item.user-notification-item-unread {
    color: #074266;
}

#UserNotificationDropdown a.user-notification-item .fa-check {
    display: none;
}

#UserNotificationDropdown a.user-notification-item .set-as-read-text {
    font-size: 0px;
}

#UserNotificationDropdown a.user-notification-item .set-as-read-text:after {
    content: '\f00d';
    font-family: FontAwesome;
    font-size: 16px;
    color: #074266;
}

@media (min-width: 767px) {
    .page-quick-sidebar-wrapper a.page-quick-sidebar-pinner {
        left: 282px;
    }
}


/* Responsive configs */

@media screen and (max-width: 1199px) {
    .ezs-process-timeline .pt-item {
        margin-right: 30px;
    }
    .ezs-process-timeline::after {
        width: 780px;
    }
    .ezs-process-timeline .pt-list {
        padding-left: 80px;
    }
}


@media screen and (max-width: 991px) {
    .page-content-wrapper .page-content {
        overflow: initial;
    }
    .np-l, .np-r, .pr-30, .pl-30, .r-np {
        padding-left: 0px;
        padding-right: 0px;
    }

    #ezs-fast-access .facc-item {
        float: left;
        width: 50%;
    }

    footer .footer-logo {
        padding-right: 0px;
        text-align: center;
        display: block;
        width: 100%;
    }

    footer .col-block {
        width: 100%;
        padding-right: 0px;
        padding-top: 20px;
    }

    footer .col-block h4 {
        text-align: center;
    }

    footer .col-block p {
        text-align: center;
    }

    footer .footer-links {
        padding-left: 0px;
        text-align: center;
    }

    footer .footer-links li {
        display: block;
        width: 100%;
        border: none;
        padding: 0px;
    }

    footer .footer-links li a {
        padding: 5px 0px;
    }

    footer .copyright {
        text-align: center;
        margin-bottom: 10px;
    }

    footer .social-links {
        float: none;
        text-align: center;
        padding-left: 0px;
        margin-top: 15px;
    }

    footer .social-links li {
        display: inline-block;
        float: none;
    }

    footer .social-links li:first-child {
        margin-left: 0px;
    }

    .portlet.light .portlet-body {
        padding-top: 0px;
    }

    #ezs-header .ezs-header-actions .ezs-welcome-msg {
        display: none;
    }

    #ezs-breadcrumb {
        display: none;
    }

    #ezs-fast-access .facc-item {
        float: none;
        width: 100%;
        margin-bottom: 5px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }
    #ezs-fast-access .facc-item:after, #ezs-fast-access .facc-item:before {
        display: none;
    }
    .ezs-process-timeline::after, 
    .ezs-process-timeline .pt-wrapper:after, 
    .ezs-process-timeline .pt-wrapper:before,
    .ezs-process-timeline .tab-name:after,
    .ezs-process-timeline .tab-name:before {
        display: none;
    }

    .ezs-process-timeline .pt-list {
        padding: 0px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .ezs-process-timeline .pt-item {
        width: calc(100% / 3);
        margin: 0;
        float: left;
        height: 120px;
        padding: 20px 5px 0px;
        border: 1px solid #ddd;
    }

    .ezs-process-timeline .pt-item:nth-child(3n+1),
    .ezs-process-timeline .pt-item:nth-child(3n+2)  {
        border-right: 0px;
    }

    .ezs-process-timeline .pt-item:nth-child(-n+3) {
        border-bottom: 0px;
    }
    

    .ezs-process-timeline .pt-list .ezs-container {
        padding: 0px;
    }

    .ezs-process-timeline .pt-item:after,  .ezs-process-timeline .pt-item:before {
        content: "";
        display: table;
    }

    .ezs-process-timeline .pt-item:after {
        clear: both;
    }

    .ezs-process-timeline .pt-item:last-child {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .ezs-process-timeline .pt-wrapper {
        float: none;
        display: block;
    }

    .ezs-process-timeline .tab-name {
        padding-bottom: 0px;
        height: 40px;
        margin-top: 5px;
    }

    .ezs-process-timeline .pt-item.active .tab-name {
        color: #25aae1 !important;
    }

    .ez-accordion .accordion-header {
        width: calc(100% + 30px);
        margin: 0px -15px;
    }

    .ez-accordion .accordion-header:before {
        bottom: 19px;
    }

    .ez-accordion .accordion-title {
        padding: 10px 5px;
    }

    .ez-accordion .accordion-toggle {
        bottom: 10px;
    }

    .tab-pane .nav-tabs {
        height: auto;
    }

    .tab-pane .nav-tabs > li {
        display: block;
        width: 100%;
    }
    

    /* Botões */

    .ez-actions .row:before,
    .ez-actions .row:after {
        display: none;
    }

    .ez-action-spec {
        bottom: -75px;
        padding-left: 23px !important;
        padding-right: 23px !important;
        left: 0;
        width: calc(100% - 30px);
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .ez-action-spec i {
        left: 11px;
    }

    .ez-action-spec i:before {
        margin-right: 10px;
    }

    .ez-action-spec span {
        padding-left: 38px;
    }

    .ez-actions .fr {
        float: none;
        position: relative; /* Orienta o alinhamento dos botões */
        display: flex;
        flex-direction: column-reverse;
    }

    .ez-actions .btn.btn-voltar {
        float: right;
        /*margin-bottom: 15px;*/
        margin: 0px;
        margin-top: 10px;
    }

    .ez-actions .btn.btn-salvar {
        float: right;
        margin-left: 0px;
    }

    .btn-responsive {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 640px) {

}


.protocolo-container {
    margin-top: 20px;
    margin-bottom: -15px;
    background-color: #c7e9f3;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-left: -11px;
    margin-right: -11px;
    padding-top: 4px;
    box-shadow: 1px 1px 1px 1px #ababab
}

.protocolo-text {
    margin-right: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    color: #666666;
}

.protocolo-number {
    font-family: fantasy;
    font-size: medium;
}