﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Telefones")" headerInfo="@L("TelefonesHeaderInfo")">
    </cabecalho>

    <telefone-index>
    </telefone-index>

    <rodape></rodape>
</div>