﻿@using EZ.EZControl.Domain.Global.Pessoa
@using EZ.EZControl.Localization

<form name="telefoneForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="form-group" ng-if="!$ctrl.isDetail">
            <label class="control-label col-md-4">@L("Pessoa")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectPessoa"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Telefone.Tipo")</label>
            <div class="col-md-5">
                <select name="tipoTelefone"
                        class="form-control"
                        ng-disabled="$ctrl.disableControls"
                        ng-model="$ctrl.entity.tipo"
                        ng-options="item.valor as item.descricao for item in $ctrl.tipoTelefones"
                        required>
                    <option value="">(Escolha o tipo de telefone)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Telefone.DDI")</label>
            <div class="col-md-5">
                <input name="ddi" type="text" class="form-control" required maxlength="@Telefone.MaxDDILength"
                       ng-model="$ctrl.entity.ddi" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Telefone.DDD")</label>
            <div class="col-md-5">
                <input name="ddd" type="text" class="form-control" required maxlength="@Telefone.MaxDDDLength"
                       ng-model="$ctrl.entity.ddd" />
            </div>
        </div>
       
        <div class="form-group">
            <label class="control-label col-md-4">@L("Telefone.Numero")</label>
            <div class="col-md-5">
                <input name="numero" type="text" class="form-control" required maxlength="@Telefone.MaxNumeroLength"
                       ng-model="$ctrl.entity.numero" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Telefone.Ramal")</label>
            <div class="col-md-5">
                <input name="ramal" type="text" class="form-control" maxlength="@Telefone.MaxRamalLength"
                       ng-model="$ctrl.entity.ramal" />
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                        @L("Telefone.Ativo")
                    </label>
                </div>
            </div>
        </div>*@
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-if="!$ctrl.editing && !$ctrl.deleting"
                        ng-click="$ctrl.save($ctrl.isDetail)"
                        ng-disabled="telefoneForm.$invalid">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Adicionar")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-if="$ctrl.editing"
                        ng-click="$ctrl.save($ctrl.isDetail)"
                        ng-disabled="telefoneForm.$invalid">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>

<div ng-if="$ctrl.isDetail">
    <div busy-if="$ctrl.loadingTelefones">
        <div ui-grid="$ctrl.telefoneGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
    </div>
</div>