﻿/*
* Alterações CSS do Bootstrap e do Metronic
*/

/*
 * Overwrite do Bootstrap
 */

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,600,700');

html {
	font-family: 'Exo 2', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.form-control {
	height: 55px;
	font-size: 18px;
	color: #777777;
	border: 2px solid #d1d1d1;
}

.form-control:focus {
	color: #074266;
    border-color: #25aae1;
}

.form-control::-moz-placeholder {
    color: #d1d1d1;
}
  .form-control:-ms-input-placeholder {
    color: #d1d1d1; 
}
  .form-control::-webkit-input-placeholder {
    color: #d1d1d1; 
}

  .no-padding {
      padding: 0px;
  }

  .np-l {
      padding-left: 0px;
  }
  
  .np-r {
      padding-right: 0px;
  }

  .no-margin {
      margin: 0px;
  }

.btn {
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	border: 2px solid transparent;
	padding: 20px 35px;
	font-size: 16px;
	border-radius: 25px;
	height: 50px;
	box-shadow: none;
}

.btn-default {
	color: #25aae1;
	border-color: #25aae1; 
}
.btn-default:focus, .btn-default.focus {
    color: #25aae1;
    background-color: #eee;
    border-color: #25aae1; 
}
.btn-default:hover {
	color: #25aae1;
    background-color: #eee;
    border-color: #25aae1; 
}

.btn-primary {
	color: #fff;
	background-color: #25aae1;
	border-color: #25aae1; 
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #25aae1;
    border-color: #25aae1; 
}

.btn-primary:hover {
    color: #fff;
    background-color: #25aae1;
    border-color: #25aae1; 
}

.input-group-btn .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    height: 55px;
    border-radius: 0px;
    padding: 0px 10px;
}

.input-group-btn:last-child > .btn-group {
    margin-left: 0px; 
}

/*
 * Final Overwrite do Bootstrap
 */

 /*
 * Overwrite do Metronic
 */
 html {
     background-color: #f4f4f4;
 }

 body {
    font-family: 'Exo 2', "Open Sans", sans-serif;
    background-color: #f4f4f4;
 }

 body.page-md {
     background-color: #f4f4f4;
 }

.btn.blue:not(.btn-outline) {
	background-color: #25aae1;
	border-color: #25aae1; 
}

.btn.blue:not(.btn-outline):hover {
    background-color: #208ebc;
    border-color: #208ebc; 
}

.btn.blue:not(.btn-outline):active, .btn.blue:not(.btn-outline).active,
  .open > .btn.blue:not(.btn-outline).dropdown-toggle {
    background-color: #208ebc;
    border-color: #208ebc; 
}

.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
	font-size: 16px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	padding: 10px 35px; 
	height: 50px;
}

.btn:not(.btn-sm):not(.btn-lg) {
	line-height: 16px;
}

.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all),
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all):hover, 
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all):active {
	box-shadow: none;
}

.control-label {
	display: block;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
	color: #666666;
}

.form-horizontal .control-label {
    text-align: left;
    margin-bottom: 10px;
    padding-top: 15px;
}

.control-label .required,
.form-group .required {
	color: #666666; 
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin: 0px;
        padding: 0px;
    }
}


/*
 * Final do Metronic
 */

 /*
 * Inicio do Angular Material
 */

 button, html, input, select, textarea {
 	font-family: 'Exo 2', Roboto, Helvetica Neue, sans-serif;
 }

/*
 * Sidebar function
 */

.page-sidebar-wrapper {
    position: fixed;
    left: -100%;
    top: 0px;
    z-index: 10;
    transition: all .4s ease;
    height: 100%;
    overflow: auto;
}

.page-sidebar-wrapper .page-sidebar {
    border: 2px solid #ddd;
}

.page-sidebar-wrapper.active {
    left: 0;
}

/*
 * Componentes EZ isolados
 */


/*Accordion*/
.ez-accordion {
    display: block;
    width: 100%;
}

.ez-accordion .accordion-header {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.ez-accordion .accordion-header:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #25aae1;
    position: absolute;
    z-index: -1;
    bottom: 25px;
}

.ez-accordion .accordion-number {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #f4f4f4;
}

.ez-accordion .number-circle {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 0px;
    border: 2px solid #25aae1;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    background-color: #f4f4f4;
}

.ez-accordion .accordion-title {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: #074266;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-left: -3px;
}

.ez-accordion .accordion-toggle {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0px;
    border: 2px solid #25aae1;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: absolute;
    right: 0px;
    bottom: 16px;
}

.ez-accordion .accordion-toggle:before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 2px;
    background-color: #25aae1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

.ez-accordion .accordion-toggle:after {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 2px;
    background-color: #25aae1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    transform: rotate(90deg);
    transition: all .4s ease;
}

.ez-accordion.true .accordion-toggle:after {
    transform: rotate(0deg);
}

.ez-accordion .accordion-content {
    display: none;
    width: 100%;
}

.ez-accordion.true .accordion-content {
    display: block;
}

/*Datepicker*/

.ez-datepicker {
    width: 200px;
    height: 172px;
}

.ez-datepicker .datepicker-titles {
    display: block;
    width: 100%;
    padding: 0px;
}

.ez-datepicker .datepicker-titles li {
    display: block;
    float: left;
    width: calc(100% / 3);    
    background-color: #074266;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-right: 2px solid white;
    height: 30px;
    line-height: 30px;
}

.ez-datepicker .datepicker-titles li:last-child {
    border: none;
}

.ez-datepicker .datepicker-inputs div {
    width: calc(100% / 3);
    float: left;
    border-top: 2px solid white
}

.ez-datepicker .datepicker-day, .ez-datepicker .datepicker-month {
    border-right: 2px solid white;
}

.ez-datepicker .datepicker-year {
    border: none;
}


.ez-datepicker .increment, .ez-datepicker .decrement {
    display: block;
    width: 100%;
    background-color: #25aae1;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    cursor: pointer;
    transition: all .3s ease;
}

.ez-datepicker .increment:hover, .ez-datepicker .decrement:hover {
    background-color: #0a91c9;
}

.ez-datepicker .increment:active, .ez-datepicker .decrement:active {
    background-color: #09739f;
}


.ez-datepicker .increment i, .ez-datepicker .decrement i {
    width: 100%;
    text-align: center;
    color: white;
}

.ez-datepicker .datepicker-input {
    width: 100%;
    border: none;
    text-align: center;
    background-color: #074266;
    color: white;
    height: 60px;
    font-size: 26px
}


.ez-selectinput {
    display: block;
    width: 100%;
    border: 2px solid #d1d1d1;
    border-radius: 4px;
    height: 55px;
    font-size: 18px;
    color: #777;
    transition: all .4s ease;
    position: relative;
}

.ez-selectinput:hover {
    border: 2px solid #25aae1;
    color: #074266;
}

.ez-selectinput:after {
    font-family: 'ezi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: '\e911';
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 20px;
}

.ez-actions {
	display:block;
	width: 100%;
	position: relative;
}

.ez-actions:before {
	content:'';
	display:block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 44px;
}

.ez-actions .btn-default{
	margin-right: 10px;
}

.ez-selectinput .option-show {
    line-height: 50px;
    padding-left: 20px;
}

.ez-selectinput .option-list-wrapper {
    display: none;
    border: 2px solid #25aae1;
    background-color: white;
    margin-left: -2px;
    margin-right: -2px;
    position: absolute;
    z-index: 10;
    width: calc(100% + 4px);
    top: 51px;
    left: 0px;
}

.ez-selectinput .option-list-wrapper {
    display: block;
}

.ez-selectinput .option-list {
    border: 2px solid white;
    max-height: 133px;
    overflow-y: auto;
    padding: 0px;
    margin: 0px
}

.ez-selectinput .option-item {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    background-color: #1f95c8;
    color: white;
    padding-left: 20px;
}

.ez-selectinput .option-item:nth-child(even) {
    background-color: #25aae1;
}

/*
 * CSS dos componentes EZ (Dashboard).
 */


@font-face {
  font-family: 'ezi';
  src: url("/libs/ez-lib/fonts/ezi.eot?se416n");
  src: url("/libs/ez-lib/fonts/ezi.eot?se416n#iefix") format("embedded-opentype"), url("/libs/ez-lib/fonts/ezi.ttf?se416n") format("truetype"), url("/libs/ez-lib/fonts/ezi.woff?se416n") format("woff"), url("/libs/ez-lib/fonts/ezi.svg?se416n#ezi") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ezi"], [class*=" ezi"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ezi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.eziicon-fileok:before {
  content: "\e918"; }

.eziicon-diamond:before {
  content: "\e919"; }

.eziicon-id:before {
  content: "\e91a"; }

.eziicon-medal:before {
  content: "\e91b"; }

.eziicon-money:before {
  content: "\e91c"; }

.eziicon-file:before {
  content: "\e91d"; }

.eziicon-grip:before {
  content: "\e917"; }

.eziicon-calendar:before {
  content: "\e90d"; }

.eziicon-chat3:before {
  content: "\e90e"; }

.eziicon-flag:before {
  content: "\e90f"; }

.eziicon-home:before {
  content: "\e910"; }

.eziicon-next:before {
  content: "\e911"; }

.eziicon-notepad:before {
  content: "\e912"; }

.eziicon-plus:before {
  content: "\e913"; }

.eziicon-search:before {
  content: "\e914"; }

.eziicon-user:before {
  content: "\e915"; }

.eziicon-wallet:before {
  content: "\e916"; }

.eziicon-arrow:before {
  content: "\e900"; }

.eziicon-chat:before {
  content: "\e901"; }

.eziicon-chat2:before {
  content: "\e902"; }

.eziicon-facebook:before {
  content: "\e903"; }

.eziicon-heart:before {
  content: "\e904"; }

.eziicon-linkedin:before {
  content: "\e905"; }

.eziicon-location:before {
  content: "\e906"; }

.eziicon-lock:before {
  content: "\e907"; }

.eziicon-medkit:before {
  content: "\e908"; }

.eziicon-search2:before {
  content: "\e909"; }

.eziicon-start:before {
  content: "\e90a"; }

.eziicon-support:before {
  content: "\e90b"; }

.eziicon-twitter:before {
  content: "\e90c"; }

@font-face {
  font-family: 'simplesnails';
  src: url("/libs/ez-lib/fonts/simplesnails_ver_4.0-webfont.woff2") format("woff2"), url("/libs/ez-lib/fonts/simplesnails_ver_4.0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bebasnue';
  src: url("/libs/ez-lib/fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("/libs/ez-lib/fonts/bebasneue_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bebasnue';
  src: url("/libs/ez-lib/fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("/libs/ez-lib/fonts/bebasneue_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/* 
* IconFonts in _fonts.scss
*/
.ezs-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 0px 10px; }
  .ezs-container::after {
    clear: both;
    content: "";
    display: table; }
  .ezs-container::after {
    clear: both;
    content: "";
    display: table; }

.link-blue {
  color: #25aae1;
  text-decoration: underline; }
  .link-blue:hover {
    text-decoration: underline; }

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }
  .page-overlay.active {
    display: block; }

.main-wrapper.blur {
  filter: blur(10px); }

#ezs-block-atividades {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  padding: 0px; }
  #ezs-block-atividades .ezs-block-header {
    width: 100%;
    height: 72px;
    background-color: #bf1e59;
    position: relative; }
    #ezs-block-atividades .ezs-block-header .eziicon-calendar {
      float: left;
      margin-left: 30px;
      font-size: 19px;
      color: #fff;
      margin-top: 21px; }
    #ezs-block-atividades .ezs-block-header .eziicon-grip {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 10px;
      color: #fff; }
  #ezs-block-atividades .ezs-block-title {
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 25px; }
  #ezs-block-atividades .ezs-add-event {
    float: right;
    margin-top: 18px;
    margin-right: 20px;
    color: #fff;
    font-size: 28px; }
  #ezs-block-atividades .ezs-date-search {
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    height: 60px; }
    #ezs-block-atividades .ezs-date-search .closest-dates, #ezs-block-atividades .ezs-date-search .day, #ezs-block-atividades .ezs-date-search .month, #ezs-block-atividades .ezs-date-search .year, #ezs-block-atividades .ezs-date-search .search {
      float: left;
      display: block;
      border-right: 1px solid #fff;
      text-transform: uppercase;
      text-align: center;
      height: 60px;
      line-height: 60px;
      font-weight: 600;
      letter-spacing: 1px; }
    #ezs-block-atividades .ezs-date-search .closest-dates {
      width: 17%;
      background-color: #b2da95;
      color: #fff; }
    #ezs-block-atividades .ezs-date-search .day {
      width: 9%;
      background-color: #959595;
      color: #fff; }
    #ezs-block-atividades .ezs-date-search .month {
      width: 25%;
      background-color: #e6e6e6;
      color: #959595; }
    #ezs-block-atividades .ezs-date-search .year {
      width: 17%;
      background-color: #e6e6e6;
      color: #959595; }
    #ezs-block-atividades .ezs-date-search .info-picker {
      display: none; }
      #ezs-block-atividades .ezs-date-search .info-picker.active {
        display: block; }
    #ezs-block-atividades .ezs-date-search .search {
      width: 32%;
      border: none;
      font-weight: 400;
      text-align: left;
      padding-left: 15px;
      padding-right: 40px;
      color: #959595;
      text-transform: none;
      outline: none; }
    #ezs-block-atividades .ezs-date-search .input-submit {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      margin: auto 0;
      width: 40px;
      height: 35px;
      font-size: 32px;
      color: #dde0e2; }
      #ezs-block-atividades .ezs-date-search .input-submit:hover {
        text-decoration: none; }
  #ezs-block-atividades .event-list {
    display: block;
    margin: 0px;
    background-color: #fff; }
    #ezs-block-atividades .event-list::after {
      clear: both;
      content: "";
      display: table; }
    #ezs-block-atividades .event-list .event-item {
      display: block; }
    #ezs-block-atividades .event-list .event-label {
      width: 17%;
      float: left;
      height: 80px;
      padding-top: 15px;
      border-right: 1px solid #e6e6e6; }
      #ezs-block-atividades .event-list .event-label .hour-tag {
        width: 90%;
        max-width: 115px;
        height: 30px;
        font-size: 20px;
        color: #fff;
        float: right;
        border-radius: 25px 0px 0px 25px;
        padding-left: 15px;
        line-height: 28px; }
        #ezs-block-atividades .event-list .event-label .hour-tag.atendimento {
          background-color: #9666b7; }
        #ezs-block-atividades .event-list .event-label .hour-tag.tarefa {
          background-color: #6cb2c4; }
        #ezs-block-atividades .event-list .event-label .hour-tag.reuniao {
          background-color: #b2cd69; }
      #ezs-block-atividades .event-list .event-label .type-tag {
        font-weight: 600;
        font-size: 12px;
        padding-left: 15px;
        text-transform: uppercase;
        letter-spacing: 1px; }
        #ezs-block-atividades .event-list .event-label .type-tag.atendimento {
          color: #9666b7; }
        #ezs-block-atividades .event-list .event-label .type-tag.tarefa {
          color: #6cb2c4; }
        #ezs-block-atividades .event-list .event-label .type-tag.reuniao {
          color: #b2cd69; }
    #ezs-block-atividades .event-list .event-info {
      width: 75%;
      float: left;
      height: 80px;
      border-bottom: 1px solid #e6e6e6; }
      #ezs-block-atividades .event-list .event-info .info-title {
        font-size: 18px;
        padding-left: 30px;
        margin-top: 18px;
        margin-bottom: 10px; }
      #ezs-block-atividades .event-list .event-info .info-user {
        color: #25aae1;
        text-decoration: underline; }
        #ezs-block-atividades .event-list .event-info .info-user:hover {
          text-decoration: underline; }
      #ezs-block-atividades .event-list .event-info.atendimento .info-title {
        color: #9666b7; }
      #ezs-block-atividades .event-list .event-info.tarefa .info-title {
        color: #6cb2c4; }
      #ezs-block-atividades .event-list .event-info.reuniao .info-title {
        color: #b2cd69; }
      #ezs-block-atividades .event-list .event-info .info-description {
        font-size: 14px;
        color: #666;
        padding-left: 30px; }
        #ezs-block-atividades .event-list .event-info .info-description .text-warning {
          color: #fad111; }
    #ezs-block-atividades .event-list .event-status {
      float: left;
      width: 8%;
      height: 80px;
      background-color: #f7f7f7;
      position: relative;
      border-bottom: 1px solid #e6e6e6; }
      #ezs-block-atividades .event-list .event-status .event-done-input {
        position: fixed;
        top: -9999px;
        left: -9999px; }
        #ezs-block-atividades .event-list .event-status .event-done-input:checked + .event-done:after {
          opacity: 1;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          -webkit-transition: -webkit-transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), background-color 0.23s ease;
          -moz-transition: -moz-transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), background-color 0.23s ease;
          transition: transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), background-color 0.23s ease; }
      #ezs-block-atividades .event-list .event-status .event-done {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #666; }
        #ezs-block-atividades .event-list .event-status .event-done:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 7px;
          height: 7px;
          background-color: #666;
          border-radius: 50%;
          opacity: 0;
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
          -webkit-transition: -webkit-transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), opacity 0.23s ease;
          -moz-transition: -moz-transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), opacity 0.23s ease;
          transition: transform 0.23s cubic-bezier(0.38, 2.38, 1, 1.08), opacity 0.23s ease; }

#ezs-breadcrumb {
  width: 100%;
  height: 50px;
  background-color: #f9f9f9; }
  #ezs-breadcrumb .bc-list {
    float: left; }
  #ezs-breadcrumb .bc-item {
    float: left;
    position: relative;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #999999;
    margin-right: 20px; }
    #ezs-breadcrumb .bc-item:before {
      content: '';
      display: block;
      border-right: 1px dashed #999999;
      position: absolute;
      right: -10px;
      top: 0px;
      width: 1px;
      height: 50px; }
    #ezs-breadcrumb .bc-item:after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #25aae1;
      color: #fff;
      position: absolute;
      top: 7px;
      bottom: 0;
      right: -15px;
      margin: auto 0; }
    #ezs-breadcrumb .bc-item:last-of-type {
      border-bottom: 3px solid #b8b8b8; }
    #ezs-breadcrumb .bc-item .eziicon-home {
      color: #25aae1; }
  #ezs-breadcrumb .fast-access-toggle {
    float: right;
    background-color: #e0e0e0;
    height: 50px;
    width: 40px;
    cursor: pointer; }

#ezs-block-contatos {
  border: 1px solid #d1d1d1;
  padding: 0px;
  border-radius: 3px; }
  #ezs-block-contatos .ezs-block-header {
    width: 100%;
    height: 72px;
    background-color: #25aae1;
    position: relative; }
    #ezs-block-contatos .ezs-block-header .eziicon-user {
      float: left;
      margin-left: 30px;
      font-size: 19px;
      color: #fff;
      margin-top: 21px; }
    #ezs-block-contatos .ezs-block-header .eziicon-grip {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 10px;
      color: #fff; }
  #ezs-block-contatos .ezs-block-title {
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 25px; }
  #ezs-block-contatos .ezs-add-contact {
    float: right;
    margin-top: 18px;
    margin-right: 20px;
    color: #fff;
    font-size: 28px; }
  #ezs-block-contatos .ezs-block-search {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d1d1d1;
    position: relative; }
    #ezs-block-contatos .ezs-block-search .contact-search-input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding-left: 30px;
      font-size: 16px; }
    #ezs-block-contatos .ezs-block-search .input-submit {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      margin: auto 0;
      width: 40px;
      height: 35px;
      font-size: 32px;
      color: #dde0e2; }
      #ezs-block-contatos .ezs-block-search .input-submit:hover {
        text-decoration: none; }
  #ezs-block-contatos .ezs-bc-list {
    width: 100%;
    margin: 0px;
    padding: 0px; }
  #ezs-block-contatos .ezs-bc-item {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    display: block;
    list-style-type: none; }
    #ezs-block-contatos .ezs-bc-item:nth-child(odd) {
      background-color: #fafafa; }
    #ezs-block-contatos .ezs-bc-item .status {
      float: left;
      width: 10px;
      height: 80px; }
      #ezs-block-contatos .ezs-bc-item .status.cliente-ativo {
        background: #35bd78; }
      #ezs-block-contatos .ezs-bc-item .status.cliente-andamento {
        background: #e9d028; }
      #ezs-block-contatos .ezs-bc-item .status.usuario {
        background: #6a1e80; }
      #ezs-block-contatos .ezs-bc-item .status.contato {
        background: #e5e5e5; }
  #ezs-block-contatos .contact-info {
    float: left;
    width: calc(100% - 10px);
    height: 100%; }
  #ezs-block-contatos .contact-image {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px 20px; }
  #ezs-block-contatos .text-box {
    float: left; }
  #ezs-block-contatos .contact-name {
    color: #25aae1;
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 5px; }
  #ezs-block-contatos .contact-mail {
    color: #c8d2d9; }
  #ezs-block-contatos .eziicon-chat3 {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    margin: auto 0;
    font-size: 21px;
    color: #25aae1; }

#ezs-fast-access {
  background-color: #f4f4f4;
  padding-top: 75px;
  padding-bottom: 30px; }
  #ezs-fast-access .facc-item {
    float: left;
    width: calc(100% / 4);
    min-height: 265px;
    position: relative;
    cursor: pointer; }
    #ezs-fast-access .facc-item:before {
      content: '';
      display: block;
      width: 1px;
      height: 153px;
      border-right: 1px dashed #999999;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0px;
      right: 0px; }
    #ezs-fast-access .facc-item:after {
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      background: #666;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0px;
      right: -4px; }
    #ezs-fast-access .facc-item:last-of-type:after, #ezs-fast-access .facc-item:last-of-type:before {
      display: none; }
  #ezs-fast-access .hover-border {
    width: 130px;
    height: 130px;
    background-color: #f4f4f4;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  #ezs-fast-access .facc-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #999999;
    background-color: #f4f4f4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    #ezs-fast-access .facc-icon i {
      color: #999999;
      display: block;
      font-size: 55px;
      text-align: center;
      line-height: 100px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  #ezs-fast-access .facc-title {
    font-family: "bebasnue", sans-serif;
    font-size: 30px;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  #ezs-fast-access .facc-text {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
    color: #666;
    font-size: 18px; }
  #ezs-fast-access .facc-item.contratacao:hover .hover-border {
    background-color: rgba(37, 170, 225, 0.4); }
  #ezs-fast-access .facc-item.contratacao:hover .facc-icon {
    width: 90px;
    height: 90px;
    background-color: #25aae1;
    border: 2px solid #25aae1; }
    #ezs-fast-access .facc-item.contratacao:hover .facc-icon i {
      color: #fff;
      line-height: 90px; }
  #ezs-fast-access .facc-item.contratacao:hover .facc-title {
    color: #25aae1; }
  #ezs-fast-access .facc-item.carteira-clientes:hover .hover-border {
    background-color: rgba(106, 30, 128, 0.4); }
  #ezs-fast-access .facc-item.carteira-clientes:hover .facc-icon {
    width: 90px;
    height: 90px;
    background-color: #6a1e80;
    border: 2px solid #6a1e80; }
    #ezs-fast-access .facc-item.carteira-clientes:hover .facc-icon i {
      color: #fff;
      line-height: 90px; }
  #ezs-fast-access .facc-item.carteira-clientes:hover .facc-title {
    color: #6a1e80; }

#ezs-footer {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 20px; }
  #ezs-footer .footer-logo {
    float: left;
    padding-right: 42px; }
    #ezs-footer .footer-logo img {
      width: 147px; }
  #ezs-footer .col-block {
    float: left;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    padding-right: 42px;
    padding-top: 10px; }
    #ezs-footer .col-block:last-child {
      margin-right: 0; }
    #ezs-footer .col-block h4 {
      font-size: 16px;
      color: #25aae1; }
      #ezs-footer .col-block h4 i {
        margin-right: 5px; }
    #ezs-footer .col-block p {
      color: #1c4867;
      margin-top: 20px; }
      #ezs-footer .col-block p strong {
        font-weight: 600; }
  #ezs-footer .footer-links {
    width: 100%;
    padding-left: 192px;
    float: left;
    margin-top: 30px;
    margin-bottom: 50px; }
    #ezs-footer .footer-links li {
      float: left;
      padding: 0px 10px;
      border-left: 1px solid #999999;
      line-height: 16px; }
      #ezs-footer .footer-links li:first-child {
        border-left: none;
        padding-left: 0px; }
      #ezs-footer .footer-links li a {
        display: block;
        color: #999999;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 12px; }
        #ezs-footer .footer-links li a:hover {
          text-decoration: underline; }
  #ezs-footer .copyright {
    float: left;
    color: #1c4867;
    line-height: 30px; }
  #ezs-footer .social-links {
    float: right; }
    #ezs-footer .social-links li {
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: red;
      color: #fff;
      text-align: center;
      margin-left: 15px;
      background-color: #999999;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #ezs-footer .social-links li.linkedin:hover {
        background-color: #0e76a8; }
      #ezs-footer .social-links li.twitter:hover {
        background-color: #4099ff; }
      #ezs-footer .social-links li.facebook:hover {
        background-color: #3a5897; }
      #ezs-footer .social-links li a {
        line-height: 30px; }

#ezs-header {
  height: 95px;
  border-top: 4px solid #bf1e59;
  padding: 10px 0px 15px;
  -webkit-box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }
  #ezs-header .ezs-logo {
    float: left;
    margin: 0px; }
    #ezs-header .ezs-logo img {
      width: 172px; }
  #ezs-header .ezs-header-actions {
    float: right;
    padding-top: 8px; }
    #ezs-header .ezs-header-actions .ezs-welcome-msg {
      display: block;
      float: left;
      line-height: 43px;
      margin: 0px; }
    #ezs-header .ezs-header-actions .ezs-actions-list {
      float: left; }
      #ezs-header .ezs-header-actions .ezs-actions-list li {
        display: block;
        float: left; }
      #ezs-header .ezs-header-actions .ezs-actions-list a[class*='btn-'] {
        display: block;
        background-color: #25aae1;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-left: 15px;
        color: #fff;
        text-align: center;
        font-size: 22px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        #ezs-header .ezs-header-actions .ezs-actions-list a[class*='btn-']:before {
          line-height: 45px; }
        #ezs-header .ezs-header-actions .ezs-actions-list a[class*='btn-'].eziicon-chat:before {
          line-height: 48px; }
        #ezs-header .ezs-header-actions .ezs-actions-list a[class*='btn-']:hover {
          background-color: #1e88b4; }
      #ezs-header .ezs-header-actions .ezs-actions-list a.ezs-btn-signup {
        width: auto;
        height: auto;
        background-color: #bf1e59;
        text-indent: 0;
        padding: 14px 20px;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        letter-spacing: 2px; }
        #ezs-header .ezs-header-actions .ezs-actions-list a.ezs-btn-signup:hover {
          background-color: #ac1b50; }
      #ezs-header .ezs-header-actions .ezs-actions-list a.ezs-btn-profile {
        background-color: #fff;
        border: 1px solid #25aae1;
        position: relative; }
        #ezs-header .ezs-header-actions .ezs-actions-list a.ezs-btn-profile img {
          position: absolute;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto; }
  #ezs-header .ezs-menu-wrapper {
    float: right; }

.ezs-menu-wrapper {
  float: right;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  border: 1px solid #25aae1;
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer; }

.ezs-menu-input {
  position: fixed;
  top: -9999px;
  left: -9999px; }

.ezs-menu-toggle {
  display: inline-block;
  position: relative;
  width: 23px;
  height: 4px;
  background-color: #25aae1;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .ezs-menu-toggle:before {
    content: '';
    width: 23px;
    height: 4px;
    background-color: #25aae1;
    position: absolute;
    top: -7px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .ezs-menu-toggle:after {
    content: '';
    width: 23px;
    height: 4px;
    background-color: #25aae1;
    position: absolute;
    top: 7px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.ezs-menu-input:checked + .ezs-menu-toggle {
  background-color: #fff; }
  .ezs-menu-input:checked + .ezs-menu-toggle:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .ezs-menu-input:checked + .ezs-menu-toggle:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

#ezs-metrics {
  border: 1px solid #e9e9e9;
  border-bottom: none;
  border-radius: 3px;
  padding: 0px;
  margin-top: 30px;
  background-color: #fff; }
  #ezs-metrics::after {
    clear: both;
    content: "";
    display: table; }
  #ezs-metrics .metric-item {
    float: left;
    width: calc(100% / 3);
    border-right: 1px solid #e9e9e9; }
    #ezs-metrics .metric-item:last-child {
      border-right: none; }
  #ezs-metrics .metric-value-wrapper {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    color: #fff;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 35px;
    margin-top: 40px;
    margin-bottom: 45px;
    position: relative;
    text-align: center;
    font-size: 35px; }
    #ezs-metrics .metric-value-wrapper:before {
      content: '';
      display: block;
      width: 101px;
      height: 101px;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      left: -10px; }
    #ezs-metrics .metric-value-wrapper .value {
      position: absolute;
      text-align: center;
      line-height: 75px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  #ezs-metrics .text-box {
    float: left; }
  #ezs-metrics .metric-name {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px; }
  #ezs-metrics .metric-description {
    color: #999999;
    font-size: 18px;
    max-width: 150px; }
  #ezs-metrics .eziicon-arrow {
    float: right;
    font-size: 25px;
    margin-top: 65px;
    margin-right: 10px; }
    #ezs-metrics .eziicon-arrow:before {
      display: block;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  #ezs-metrics .metric-item.contratos {
    border-bottom: 3px solid #00adb0; }
    #ezs-metrics .metric-item.contratos .metric-value-wrapper {
      background-color: #00adb0; }
      #ezs-metrics .metric-item.contratos .metric-value-wrapper:before {
        background-color: rgba(0, 173, 176, 0.4); }
    #ezs-metrics .metric-item.contratos .metric-name, #ezs-metrics .metric-item.contratos .eziicon-arrow {
      color: #00adb0; }
  #ezs-metrics .metric-item.processos {
    border-bottom: 3px solid #fad111; }
    #ezs-metrics .metric-item.processos .metric-value-wrapper {
      background-color: #fad111; }
      #ezs-metrics .metric-item.processos .metric-value-wrapper:before {
        background-color: rgba(250, 209, 17, 0.4); }
    #ezs-metrics .metric-item.processos .metric-name, #ezs-metrics .metric-item.processos .eziicon-arrow {
      color: #fad111; }
  #ezs-metrics .metric-item.atendimento {
    border-bottom: 3px solid #6a1e80; }
    #ezs-metrics .metric-item.atendimento .metric-value-wrapper {
      background-color: #6a1e80; }
      #ezs-metrics .metric-item.atendimento .metric-value-wrapper:before {
        background-color: rgba(106, 30, 128, 0.4); }
    #ezs-metrics .metric-item.atendimento .metric-name, #ezs-metrics .metric-item.atendimento .eziicon-arrow {
      color: #6a1e80; }

#ezs-process-timeline .pt-item {
  float: left;
  width: 120px;
  margin-right: 80px;
  text-align: center;
  cursor: pointer; }

#ezs-process-timeline .pt-wrapper {
  font-size: 20px;
  color: #999999;
  background-color: #d1d1d1;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  border: 6px solid #d1d1d1;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #ezs-process-timeline .pt-wrapper:after {
    content: '';
    display: block;
    position: absolute;
    left: -83px;
    top: 0;
    bottom: 0;
    margin: auto 0px;
    width: 200px;
    height: 2px;
    background-color: #d1d1d1;
    z-index: -2;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  #ezs-process-timeline .pt-wrapper:before {
    font-family: 'ezi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 15px;
    content: '\e911';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #d1d1d1;
    color: #fff;
    font-size: 8px;
    border-radius: 50%;
    position: absolute;
    left: 106px;
    top: 0;
    bottom: 0;
    margin: auto 0px;
    z-index: 3; }
  #ezs-process-timeline .pt-wrapper i.eziicon-diamond {
    line-height: 39px; }
  #ezs-process-timeline .pt-wrapper i:after {
    content: '';
    width: 36px;
    height: 36px;
    border: 3px solid #d1d1d1;
    display: block;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; }

#ezs-process-timeline .tab-name {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 15px;
  position: relative;
  color: #d1d1d1;
  padding-bottom: 8px;
  z-index: 2; }
  #ezs-process-timeline .tab-name:after {
    content: '';
    display: block;
    background-color: #d1d1d1;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #ezs-process-timeline .tab-name:before {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #25aae1;
    opacity: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }

#ezs-process-timeline .pt-item:last-child {
  margin-right: 0; }
  #ezs-process-timeline .pt-item:last-child .pt-wrapper:after {
    width: 83px;
    left: -83px; }
  #ezs-process-timeline .pt-item:last-child .pt-wrapper:before {
    display: none; }

#ezs-process-timeline .pt-item:first-child .pt-wrapper:after {
  width: 75px;
  left: 42px; }

#ezs-process-timeline .pt-item.active .pt-wrapper {
  border: 6px solid #25aae1;
  background-color: #fff;
  color: #25aae1; }
  #ezs-process-timeline .pt-item.active .pt-wrapper:after {
    background-color: #25aae1; }
  #ezs-process-timeline .pt-item.active .pt-wrapper:before {
    background-color: #25aae1; }
  #ezs-process-timeline .pt-item.active .pt-wrapper i:after {
    border: 3px solid #25aae1; }

#ezs-process-timeline .pt-item.active .tab-name {
  color: #fff; }
  #ezs-process-timeline .pt-item.active .tab-name:after {
    background-color: #25aae1;
    height: 30px;
    width: calc(100% + 20px);
    left: -10px;
    border-radius: 3px 3px 0px 0px; }
  #ezs-process-timeline .pt-item.active .tab-name:before {
    opacity: 1; }

#ezs-process-timeline .pt-item.active:hover .pt-wrapper {
  border: 6px solid #abdef4; }
  #ezs-process-timeline .pt-item.active:hover .pt-wrapper i:after {
    opacity: 1; }

#ezs-process-timeline .pt-item.complete .pt-wrapper {
  border: 6px solid #139413;
  background-color: #fff;
  color: #139413; }
  #ezs-process-timeline .pt-item.complete .pt-wrapper:after {
    background-color: #139413; }
  #ezs-process-timeline .pt-item.complete .pt-wrapper:before {
    background-color: #139413; }
  #ezs-process-timeline .pt-item.complete .pt-wrapper i:after {
    border: 3px solid #139413; }

#ezs-process-timeline .pt-item.complete .tab-name {
  color: #139413; }
  #ezs-process-timeline .pt-item.complete .tab-name:after {
    background-color: #139413; }

#ezs-process-timeline .pt-item.complete:hover .pt-wrapper {
  border: 6px solid #84ef84; }
  #ezs-process-timeline .pt-item.complete:hover .pt-wrapper i:after {
    opacity: 1; }

#ezs-process-timeline .pt-item.pending .pt-wrapper {
  border: 6px solid #fad111;
  background-color: #fff;
  color: #fad111; }
  #ezs-process-timeline .pt-item.pending .pt-wrapper:after {
    background-color: #fad111; }
  #ezs-process-timeline .pt-item.pending .pt-wrapper:before {
    background-color: #fad111; }
  #ezs-process-timeline .pt-item.pending .pt-wrapper i:after {
    border: 3px solid #fad111; }

#ezs-process-timeline .pt-item.pending .tab-name {
  color: #fad111; }
  #ezs-process-timeline .pt-item.pending .tab-name:after {
    background-color: #fad111; }

#ezs-process-timeline .pt-item.pending:hover .pt-wrapper {
  border: 6px solid #fdeea7; }
  #ezs-process-timeline .pt-item.pending:hover .pt-wrapper i:after {
    opacity: 1; }

#ezs-process-timeline .tab-content {
  display: none; }
  #ezs-process-timeline .tab-content.active {
    display: block; }

#ezs-product-type {
  position: fixed;
  display: none;
  width: 900px;
  height: 526px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  margin: auto;
  box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.5);
  padding: 0px; }
  #ezs-product-type.open {
    display: block; }
  #ezs-product-type .ezs-product-list {
    padding: 0px;
    margin: 0px; }
  #ezs-product-type .ezs-product-item {
    float: left;
    width: 225px;
    border: 1px solid #cfcfd0;
    position: relative;
    max-height: 526px;
    overflow: hidden; }
    #ezs-product-type .ezs-product-item a {
      display: block;
      padding: 0px; }
    #ezs-product-type .ezs-product-item .ezs-product-img-wrapper {
      width: 100%;
      height: 261px;
      overflow: hidden; }
    #ezs-product-type .ezs-product-item .ezs-product-image {
      display: block;
      width: 100%;
      margin: 0 auto;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    #ezs-product-type .ezs-product-item .ezs-product-icon {
      position: absolute;
      display: block;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, 0.6);
      left: 0;
      right: 0;
      top: 235px;
      margin: 0 auto;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      #ezs-product-type .ezs-product-item .ezs-product-icon i {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #25aae1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        color: #fff;
        font-size: 20px; }
        #ezs-product-type .ezs-product-item .ezs-product-icon i:before {
          position: absolute;
          top: 11px;
          left: 10px; }
    #ezs-product-type .ezs-product-item .ezs-product-info {
      border-top: 1px solid #fff;
      color: #fff;
      height: 263px; }
    #ezs-product-type .ezs-product-item .ezs-product-name {
      font-family: "bebasnue", sans-serif;
      font-weight: bold;
      font-size: 27px;
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px; }
      #ezs-product-type .ezs-product-item .ezs-product-name:after {
        content: '';
        display: block;
        width: 83px;
        height: 3px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 15px; }
    #ezs-product-type .ezs-product-item .ezs-product-description {
      font-size: 16px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      height: 60px;
      width: 160px; }
    #ezs-product-type .ezs-product-item .ezs-product-btn {
      display: block;
      width: 140px;
      height: 50px;
      border-radius: 25px;
      background-color: #fff;
      border: 2px solid #fff;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      line-height: 46px; }
    #ezs-product-type .ezs-product-item.adesao .ezs-product-icon i {
      background-color: #25aae1; }
    #ezs-product-type .ezs-product-item.adesao .ezs-product-info {
      background-color: #25aae1; }
    #ezs-product-type .ezs-product-item.adesao .ezs-product-btn {
      color: #25aae1; }
    #ezs-product-type .ezs-product-item.corporativo .ezs-product-icon i {
      background-color: #00adb0; }
    #ezs-product-type .ezs-product-item.corporativo .ezs-product-info {
      background-color: #00adb0; }
    #ezs-product-type .ezs-product-item.corporativo .ezs-product-btn {
      color: #00adb0; }
    #ezs-product-type .ezs-product-item.dentais .ezs-product-icon i {
      background-color: #fad111; }
    #ezs-product-type .ezs-product-item.dentais .ezs-product-info {
      background-color: #fad111; }
    #ezs-product-type .ezs-product-item.dentais .ezs-product-btn {
      color: #fad111; }
    #ezs-product-type .ezs-product-item.seguros .ezs-product-icon i {
      background-color: #bf1e59; }
    #ezs-product-type .ezs-product-item.seguros .ezs-product-info {
      background-color: #bf1e59; }
    #ezs-product-type .ezs-product-item.seguros .ezs-product-btn {
      color: #bf1e59; }
    #ezs-product-type .ezs-product-item .hover-border {
      width: 100%;
      height: 100%;
      position: absolute;
      border: 10px solid #fff;
      top: 0;
      left: 0;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #ezs-product-type .ezs-product-item:hover a {
      padding: 0px; }
    #ezs-product-type .ezs-product-item:hover .ezs-product-image {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    #ezs-product-type .ezs-product-item:hover .ezs-product-icon i {
      background-color: #fff;
      color: #bf1e59; }
    #ezs-product-type .ezs-product-item:hover .ezs-product-btn {
      background-color: #bf1e59;
      color: #fff; }
    #ezs-product-type .ezs-product-item:hover .hover-border {
      border: 0px solid #fff; }
