html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.ripple, .services-list .service-item {
    position: relative;
    overflow: hidden;
}

    .ripple:after, .services-list .service-item:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .3s, opacity .5s;
    }

    .ripple:active:after, .services-list .service-item:active:after {
        transform: scale(0, 0);
        opacity: .13;
        transition: 0s;
    }

@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, dd, dt, dl {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

*, *:after, *:before {
    box-sizing: border-box;
    outline: none;
}

input, textarea {
    outline: none;
}

    input[type=radio] {
        margin: 3px 3px 3px 0;
    }

div:after, ol:after, form:after, ul:after, dl:after, section:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

a, a:hover {
    cursor: pointer;
    text-decoration: none;
}

label {
    display: inline-block;
}

@font-face {
    font-family: 'simplesnails';
    src: url("../fonts/simplesnails_ver_4.0-webfont.woff2") format("woff2"), url("../fonts/simplesnails_ver_4.0-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasnue';
    src: url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasnue';
    src: url("../fonts/bebasneue_bold-webfont.woff2") format("woff2"), url("../fonts/bebasneue_bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* 
* IconFonts in _fonts.scss
*/
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    font-family: "Exo 2", "Helvetica", sans-serif;
}

.main::after {
    clear: both;
    content: "";
    display: table;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 0px 10px;
}

    .container::after {
        clear: both;
        content: "";
        display: table;
    }

.link-blue {
    text-decoration: underline;
    color: #25aae1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .link-blue:hover {
        text-decoration: underline;
        color: #1e88b4;
    }

input, select {
    height: 45px;
    border: none;
    width: 100%;
    border-radius: 2px;
    border: 2px solid transparent;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 35px;
    font-size: 11px;
    transition: all .3s ease;
}

    input:focus {
        border: 2px solid #25aae1;
    }

@font-face {
    font-family: 'ezi';
    src: url("../fonts/ezi.eot?gwcnhe");
    src: url("../fonts/ezi.eot?gwcnhe#iefix") format("embedded-opentype"), url("../fonts/ezi.ttf?gwcnhe") format("truetype"), url("../fonts/ezi.woff?gwcnhe") format("woff"), url("../fonts/ezi.svg?gwcnhe#ezi") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="eziicon"], [class*=" eziicon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ezi' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.eziicon-mail:before {
    content: "\e921";
}

.eziicon-pass:before {
    content: "\e922";
}

.eziicon-google:before {
    content: "\e920";
}

.eziicon-usermore:before {
    content: "\e91e";
}

.eziicon-notify:before {
    content: "\e91f";
}

.eziicon-fileok:before {
    content: "\e918";
}

.eziicon-diamond:before {
    content: "\e919";
}

.eziicon-id:before {
    content: "\e91a";
}

.eziicon-medal:before {
    content: "\e91b";
}

.eziicon-money:before {
    content: "\e91c";
}

.eziicon-file:before {
    content: "\e91d";
}

.eziicon-grip:before {
    content: "\e917";
}

.eziicon-calendar:before {
    content: "\e90d";
}

.eziicon-chat3:before {
    content: "\e90e";
}

.eziicon-flag:before {
    content: "\e90f";
}

.eziicon-home:before {
    content: "\e910";
}

.eziicon-home-button:before {
    content: "\e910";
}

.eziicon-next:before {
    content: "\e911";
}

.eziicon-notepad:before {
    content: "\e912";
}

.eziicon-plus:before {
    content: "\e913";
}

.eziicon-search:before {
    content: "\e914";
}

.eziicon-user:before {
    content: "\e915";
}

.eziicon-wallet:before {
    content: "\e916";
}

.eziicon-arrow:before {
    content: "\e900";
}

.eziicon-chat:before {
    content: "\e901";
}

.eziicon-chat2:before {
    content: "\e902";
}

.eziicon-facebook:before {
    content: "\e903";
}

.eziicon-heart:before {
    content: "\e904";
}

.eziicon-linkedin:before {
    content: "\e905";
}

.eziicon-location:before {
    content: "\e906";
}

.eziicon-lock:before {
    content: "\e907";
}

.eziicon-medkit:before {
    content: "\e908";
}

.eziicon-search2:before {
    content: "\e909";
}

.eziicon-start:before {
    content: "\e90a";
}

.eziicon-support:before {
    content: "\e90b";
}

.eziicon-twitter:before {
    content: "\e90c";
}

header {
    height: 95px;
    border-top: 4px solid #bf1e59;
    padding: 10px 0px 15px;
    -webkit-box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.3);
}

    header .logo {
        float: left;
    }

        header .logo img {
            width: 162px;
        }

    header .header-actions {
        float: right;
        padding-top: 8px;
    }

        header .header-actions .welcome-msg {
            display: block;
            float: left;
            line-height: 43px;
        }

        header .header-actions .actions-list {
            float: left;
            position: relative;
        }

            header .header-actions .actions-list li {
                display: block;
                float: left;
            }

            header .header-actions .actions-list a[class*='btn-'] {
                display: block;
                background-color: #25aae1;
                border-radius: 50%;
                border: 2px solid #25aae1;
                width: 45px;
                height: 45px;
                margin-left: 15px;
                color: #fff;
                text-align: center;
                font-size: 1.375rem;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

                header .header-actions .actions-list a[class*='btn-']:before {
                    line-height: 41px;
                }

                header .header-actions .actions-list a[class*='btn-'].eziicon-chat:before {
                    line-height: 45px;
                }

                header .header-actions .actions-list a[class*='btn-']:hover {
                    color: #25aae1;
                    background-color: #fff;
                }

            header .header-actions .actions-list a.btn-signup {
                width: auto;
                height: auto;
                background-color: #bf1e59;
                text-indent: 0;
                padding: 14px 20px;
                border-radius: 50px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                letter-spacing: 2px;
                border: none;
                outline: none;
            }

                header .header-actions .actions-list a.btn-signup:hover {
                    background-color: #ac1b50;
                    color: #fff;
                }

    header .login-screen {
        position: absolute;
        display: block;
        top: 73px;
        left: -113px;
        width: 300px;
        height: 400px;
        background-color: blue;
        background-size: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("../img/bg-partners.jpg");
        z-index: 3;
        font-family: "Exo 2", "Helvetica", sans-serif;
        cursor: initial;
        border-radius: 5px;
        height: 0px;
        overflow: hidden;
        transition: all .3s ease;
    }

        header .login-screen .login-head {
            background-color: #25aae1;
            height: 60px;
        }

            header .login-screen .login-head h3 {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 60px;
                color: #fff;
                text-align: center;
            }

        header .login-screen .login-form {
            padding: 20px 40px;
        }

            header .login-screen .login-form .input-block {
                position: relative;
            }

            header .login-screen .login-form i {
                position: absolute;
                right: 10px;
                top: 12px;
                color: #d1d1d1;
                font-size: 20px;
            }

            header .login-screen .login-form .eziicon-pass {
                font-size: 24px;
            }

        header .login-screen .submit-login {
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
            border: none;
            background-color: #25aae1;
            border-radius: 30px;
            font-size: 0.875rem;
            text-transform: uppercase;
            color: #fff;
            font-weight: 400;
            letter-spacing: 1px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

            header .login-screen .submit-login:hover {
                @background-color : shade($blue-light, 20%);
            }

        header .login-screen .facebook-login, header .login-screen .google-login {
            padding: 0px 60px;
            margin-bottom: 20px;
        }

            header .login-screen .facebook-login a, header .login-screen .google-login a {
                display: block;
                height: 32px;
                border-radius: 20px;
                width: 100%;
                color: #fff;
                font-weight: 400;
                font-size: 9px;
                text-transform: uppercase;
                line-height: 32px;
            }

            header .login-screen .facebook-login i, header .login-screen .google-login i {
                display: block;
                width: 40px;
                text-align: center;
                float: left;
                font-size: 14px;
                margin-right: 13px;
                height: 100%;
                line-height: 32px;
            }

            header .login-screen .facebook-login .fb-login {
                background-color: #647baf;
            }

            header .login-screen .facebook-login i {
                border-right: 1px solid #425276;
            }

            header .login-screen .google-login .g-login {
                background-color: #e15031;
            }

            header .login-screen .google-login i {
                border-right: 1px solid #b83e24;
            }

        header .login-screen .login-options {
            display: block;
            width: 100%;
            text-align: center;
        }

            header .login-screen .login-options a {
                color: #fff;
                text-decoration: underline;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 1px;
                display: inline-block;
                line-height: 15px;
                vertical-align: top;
            }

            header .login-screen .login-options .signup {
                margin-right: 10px;
                padding-right: 10px;
                border-right: 1px solid #fff;
            }

    header .login-btn {
        position: relative;
    }

        header .login-btn:hover a.btn-login {
            background-color: #fff;
            border: 2px solid #25aae1;
            color: #25aae1;
        }

        header .login-btn:hover:after {
            content: '';
            position: absolute;
            top: 43px;
            left: -113px;
            background-color: transparent;
            width: 300px;
            height: 30px;
        }

        header .login-btn:hover:before {
            content: '';
            display: block;
            position: absolute;
            left: 15px;
            right: 0;
            bottom: -40px;
            margin: 0 auto;
            background-color: #25aae1;
            width: 21px;
            height: 21px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        header .login-btn:hover .login-screen {
            height: 400px;
            border-bottom: 3px solid #25aae1;
        }

@media screen and (max-width: 640px) {
    header {
        height: 75px;
    }

        header .logo {
            text-align: center;
            float: none;
            display: block;
            width: 151px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

            header .logo img {
                width: 100%;
            }

        header .header-actions {
            position: relative;
            width: 100%;
            padding: 0;
        }

            header .header-actions .welcome-msg {
                display: none;
            }

            header .header-actions li:not(.chat-btn) {
                display: none;
            }

            header .header-actions .chat-btn {
                position: absolute;
                left: 10px;
                top: 0;
            }

                header .header-actions .chat-btn > a.btn-chat {
                    margin: 0px;
                }

    .login-screen {
        display: block;
    }
}

.menu-wrapper {
    float: right;
    width: 46px;
    height: 46px;
    margin-left: 15px;
    border: 2px solid #25aae1;
    padding: 8px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-input {
    position: fixed;
    top: -9999px;
    left: -9999px;
}

.menu-toggle {
    display: inline-block;
    position: relative;
    width: 23px;
    height: 4px;
    background-color: #25aae1;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

    .menu-toggle:before {
        content: '';
        width: 23px;
        height: 4px;
        background-color: #25aae1;
        position: absolute;
        top: -7px;
        border-radius: 2px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .menu-toggle:after {
        content: '';
        width: 23px;
        height: 4px;
        background-color: #25aae1;
        position: absolute;
        top: 7px;
        border-radius: 2px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

.menu-input:checked + .menu-toggle {
    background-color: #fff;
}

    .menu-input:checked + .menu-toggle:before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu-input:checked + .menu-toggle:after {
        top: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

footer {
    background-color: #fff;
    font-size: 14px;
}

    footer .footer-top {
        background-color: #f9f9f9;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    footer .footer-bottom {
        padding: 20px 0px;
    }

    footer .footer-logo {
        float: left;
        padding-right: 42px;
    }

        footer .footer-logo img {
            width: 147px;
        }

    footer .col-block {
        float: left;
        padding-right: 60px;
        padding-top: 10px;
    }

        footer .col-block h4 {
            font-size: 1.125rem;
            color: #25aae1;
        }

            footer .col-block h4 i {
                margin-right: 5px;
            }

        footer .col-block p {
            color: #074266;
            margin-top: 20px;
        }

            footer .col-block p strong {
                font-weight: 600;
            }

    footer .footer-links {
        width: 100%;
        padding-left: 192px;
        float: left;
        margin-top: 30px;
        margin-bottom: 10px;
    }

        footer .footer-links li {
            float: left;
            padding: 0px 10px;
            border-left: 1px solid #999999;
            line-height: 16px;
        }

            footer .footer-links li:first-child {
                border-left: none;
                padding-left: 0px;
            }

            footer .footer-links li a {
                display: block;
                color: #999999;
                text-transform: uppercase;
                text-decoration: underline;
                font-size: 0.75rem;
            }

                footer .footer-links li a:hover {
                    text-decoration: underline;
                }

    footer .copyright {
        float: left;
        color: #074266;
        line-height: 30px;
    }

    footer .social-links {
        float: right;
    }

        footer .social-links li {
            float: left;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: red;
            color: #fff;
            text-align: center;
            margin-left: 15px;
            background-color: #999999;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            footer .social-links li.linkedin:hover {
                background-color: #0e76a8;
            }

            footer .social-links li.twitter:hover {
                background-color: #4099ff;
            }

            footer .social-links li.facebook:hover {
                background-color: #3a5897;
            }

            footer .social-links li a {
                line-height: 30px;
            }

@media screen and (max-width: 640px) {
    footer {
        display: none;
    }
}

.full-slider {
    height: calc(100vh - 235px);
}

div[class^='slider-'] {
    height: calc(100vh - 235px);
    background-size: cover;
}

    div[class^='slider-'] .container {
        position: relative;
    }

    div[class^='slider-'] .text-box {
        max-width: 455px;
        max-height: 385px;
        color: #127cc3;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-left: 40px;
    }

    div[class^='slider-'] .title {
        font-size: 1.625rem;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

        div[class^='slider-'] .title:after {
            content: '';
            display: block;
            width: 180px;
            height: 3px;
            margin-top: 20px;
            background-color: #25aae1;
        }

        div[class^='slider-'] .title strong {
            display: block;
            max-width: 270px;
            font-size: 5.3125rem;
            color: #074266;
            font-family: "bebasnue", sans-serif;
            font-weight: bold;
            line-height: 80px;
        }

    div[class^='slider-'] .text {
        max-width: 440px;
        font-size: 1.4375rem;
        color: #074266;
    }

    div[class^='slider-'] .slider-btn {
        display: inline-block;
        margin-top: 25px;
        padding: 10px 15px;
        background-color: #25aae1;
        border-radius: 30px;
        font-size: 1.0625rem;
        text-transform: uppercase;
        color: #fff;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
    }

        div[class^='slider-'] .slider-btn:before {
            content: '';
            position: absolute;
            border: #25aae1 solid 3px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            border-radius: inherit;
        }

        div[class^='slider-'] .slider-btn:hover:before, div[class^='slider-'] .slider-btn:focus:before, div[class^='slider-'] .slider-btn:active:before {
            -webkit-animation-name: hvr-ripple-out;
            animation-name: hvr-ripple-out;
        }

        div[class^='slider-'] .slider-btn:hover {
            @background-color : shade($blue-light, 20%);
        }

.slider-saude {
    background-image: url("../img/bg-slider-1.jpg");
}

.services-bar {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-bottom: 5px solid #25aae1;
    -webkit-transition: border 0.4s ease, background 0.4s ease;
    -moz-transition: border 0.4s ease, background 0.4s ease;
    transition: border 0.4s ease, background 0.4s ease;
    background-color: pink;
    position: relative;
}

    .services-bar .container {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

.bg-dinamic, .bg-static {
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
}

.bg-dinamic {
    background-color: #127cc3;
    left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.bg-static {
    background-color: #fff;
    right: 0;
}

.services-list {
    display: block;
    background-color: #000;
    float: left;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

    .services-list .service-item {
        display: block;
        float: left;
        width: calc(100% / 4);
        height: 100%;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        position: relative;
    }

        .services-list .service-item:before {
            content: '';
            height: 5px;
            background-color: rgba(255, 255, 255, 0.3);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: -webkit-transform 0.3s ease;
            -moz-transition: -moz-transform 0.3s ease;
            transition: transform 0.3s ease;
        }

        .services-list .service-item.service-item-dentais:before {
            background-color: rgba(0, 0, 0, 0.08);
        }

        .services-list .service-item i[class^='icon-service'] {
            display: block;
            position: relative;
            width: 58px;
            height: 58px;
            padding: 0px;
            margin: 18px auto 15px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.07);
            font-size: 1.625rem;
            line-height: 62px;
            text-align: center;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

            .services-list .service-item i[class^='icon-service']:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #fff;
                opacity: 0;
                -webkit-transition: background-color 0.4s ease, -webkit-transform 0.4s ease;
                -moz-transition: background-color 0.4s ease, -moz-transform 0.4s ease;
                transition: background-color 0.4s ease, transform 0.4s ease;
            }

            .services-list .service-item i[class^='icon-service']:before {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            .services-list .service-item i[class^='icon-service'].icon-service-dentais:before {
                top: -3px;
            }

            .services-list .service-item i[class^='icon-service'].icon-service-produto:before {
                top: -3px;
            }

        .services-list .service-item p {
            width: 80%;
            margin: 0 auto;
            vertical-align: bottom;
            font-size: 1rem;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .services-list .service-item:hover i[class^='icon-service'], .services-list .service-item.active i[class^='icon-service'] {
            font-size: 1.875rem;
            background-color: white;
            color: #bf1e59;
        }

            .services-list .service-item:hover i[class^='icon-service']:after, .services-list .service-item.active i[class^='icon-service']:after {
                opacity: 0.3;
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }

        .services-list .service-item:hover:before, .services-list .service-item.active:before {
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1);
        }

        .services-list .service-item:hover .icon-service-saude, .services-list .service-item.active .icon-service-saude {
            color: #bf1e59;
        }

        .services-list .service-item:hover p, .services-list .service-item.active p {
            margin-top: -3px;
        }

    .services-list .service-item-saude {
        background-color: #25aae1;
    }

    .services-list .service-item-dentais {
        background-color: #fad111;
    }

    .services-list .service-item-medico {
        background-color: #bf1e59;
    }

    .services-list .service-item-produto {
        background-color: #00adb0;
    }

.ez-card {
    width: 50%;
    float: left;
}

    .ez-card .img-card {
        margin-top: -41px;
        float: left;
    }

    .ez-card .text-box {
        font-size: 1.5rem;
        max-width: 270px;
        float: left;
        line-height: 34px;
        color: #1c4867;
        margin-top: 30px;
        margin-left: 25px;
    }

        .ez-card .text-box span {
            font-family: "simplesnails", sans-serif;
            font-size: 2.875rem;
            margin-left: 5px;
            color: #25aae1;
            -webkit-transition: color 0.4s ease;
            -moz-transition: color 0.4s ease;
            transition: color 0.4s ease;
        }

@media screen and (max-width: 640px) {
    .full-slider, .ez-card, .services-bar {
        display: none;
    }
}

@media screen and (max-height: 625px) {
    div[class^='slider-'] .text-box {
        padding-top: 30px;
    }

    div[class^='slider-'] .text p {
        display: none;
    }
}

.signup .half-container {
    float: left;
    width: 50%;
}

    .signup .half-container .container {
        max-width: 500px;
        float: right;
        margin-right: 90px;
        padding: 0;
    }

.signup .form-wrapper {
    background-color: #09225c;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/bg-blue.jpg");
}

    .signup .form-wrapper .title {
        color: #25aae1;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 10px;
    }

        .signup .form-wrapper .title:before {
            content: '';
            display: block;
            width: 125px;
            background-color: #bf1e59;
            height: 3px;
            margin-bottom: 20px;
            margin-top: 50px;
        }

    .signup .form-wrapper .text-call {
        color: #fff;
        font-size: 18px;
        line-height: 25px;
    }

    .signup .form-wrapper .form {
        margin: 40px 0px;
    }

        .signup .form-wrapper .form::after {
            clear: both;
            content: "";
            display: table;
        }

    .signup .form-wrapper label {
        display: block;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        font-size: 16px;
    }

        .signup .form-wrapper label::after {
            clear: both;
            content: "";
            display: table;
        }

        .signup .form-wrapper label input, .signup .form-wrapper label select {
            margin-top: 10px;
            font-style: italic;
            font-size: 18px;
            color: #666;
            height: 40px;
        }

            .signup .form-wrapper label input:focus, .signup .form-wrapper label select:focus {
                color: #074266;
            }

        .signup .form-wrapper label.half-size {
            width: 45%;
            float: left;
        }

            .signup .form-wrapper label.half-size.last {
                margin-left: calc(10% - 1px);
            }

        .signup .form-wrapper label i {
            position: absolute;
            font-size: 20px;
            bottom: 30px;
            right: 10px;
            color: #d1d1d1;
        }

        .signup .form-wrapper label .eziicon-mail {
            font-size: 18px;
            bottom: 32px;
        }

    .signup .form-wrapper .form-actions {
        position: relative;
        display: block;
        width: 100%;
        text-align: right;
        float: left;
        z-index: 1;
        margin-top: 20px;
    }

        .signup .form-wrapper .form-actions::after {
            clear: both;
            content: "";
            display: table;
        }

        .signup .form-wrapper .form-actions:before {
            content: '';
            width: calc(100% - 20px);
            height: 2px;
            background-color: #25aae1;
            position: absolute;
            top: 24px;
            right: 0;
            z-index: -1;
        }

        .signup .form-wrapper .form-actions:after {
            content: '';
            width: 20px;
            height: 20px;
            padding: 0px;
            display: block;
            border-radius: 50%;
            border: 2px solid #25aae1;
            position: absolute;
            top: 15px;
            left: 0;
        }

        .signup .form-wrapper .form-actions .form-cancel, .signup .form-wrapper .form-actions .form-submit {
            padding: 0px 25px;
            display: inline-block;
            text-align: center;
            border: 2px solid #25aae1;
            font-size: 16px;
            text-transform: uppercase;
            height: 50px;
            line-height: 46px;
            border-radius: 25px;
        }

        .signup .form-wrapper .form-actions .form-cancel {
            color: #25aae1;
            margin-right: 20px;
            background-color: #071d50;
        }

        .signup .form-wrapper .form-actions .form-submit {
            background-color: #25aae1;
            color: #fff;
        }

.signup .signup-image {
    background-color: #09225c;
    background-size: 100%;
    background-size: cover;
    background-image: url("../img/bg-cadastro.jpg");
    height: 676px;
}

.login-screen {
    position: absolute;
    display: none;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
    background-color: blue;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/bg-blue.jpg");
    z-index: 3;
    font-family: "Exo 2", "Helvetica", sans-serif;
    cursor: initial;
    overflow: hidden;
    transition: all .3s ease;
}

    .login-screen .login-head {
        background-color: #25aae1;
        height: 60px;
    }

        .login-screen .login-head h3 {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 60px;
            color: #fff;
            text-align: center;
        }

    .login-screen .login-form {
        padding: 20px 60px;
    }

        .login-screen .login-form .input-block {
            position: relative;
        }

        .login-screen .login-form i {
            position: absolute;
            right: 10px;
            top: 12px;
            color: #d1d1d1;
            font-size: 20px;
        }

        .login-screen .login-form .eziicon-mail {
            font-size: 18px;
            top: 14px;
        }

    .login-screen .submit-login {
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
        border: none;
        background-color: #25aae1;
        border-radius: 30px;
        font-size: 0.875rem;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        letter-spacing: 1px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .login-screen .submit-login:hover {
            @background-color : shade($blue-light, 20%);
        }

    .login-screen .facebook-login, .login-screen .google-login {
        padding: 0px 20%;
        margin-bottom: 20px;
        text-align: center;
    }

        .login-screen .facebook-login a, .login-screen .google-login a {
            display: block;
            height: 32px;
            border-radius: 20px;
            width: 100%;
            color: #fff;
            font-weight: 400;
            font-size: 9px;
            text-transform: uppercase;
            line-height: 32px;
        }

        .login-screen .facebook-login i, .login-screen .google-login i {
            display: block;
            width: 40px;
            text-align: center;
            float: left;
            font-size: 14px;
            margin-right: 13px;
            height: 100%;
            line-height: 32px;
        }

        .login-screen .facebook-login .fb-login {
            background-color: #647baf;
        }

        .login-screen .facebook-login i {
            border-right: 1px solid #425276;
        }

        .login-screen .google-login .g-login {
            background-color: #e15031;
        }

        .login-screen .google-login i {
            border-right: 1px solid #b83e24;
        }

    .login-screen .login-options {
        display: block;
        width: 100%;
        text-align: center;
    }

        .login-screen .login-options a {
            color: #fff;
            text-decoration: underline;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            display: inline-block;
            line-height: 15px;
            vertical-align: top;
        }

        .login-screen .login-options .signup {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid #fff;
        }

@media screen and (max-width: 640px) {
    .login-screen {
        display: block;
    }

        .login-screen .login-form {
            margin-top: 60px;
        }

            .login-screen .login-form input {
                height: 55px;
                font-size: 14px;
            }

            .login-screen .login-form i {
                top: 15px;
            }

        .login-screen .submit-login {
            height: 55px;
        }

        .login-screen .facebook-login, .login-screen .google-login {
            padding: 0px;
            width: 180px;
            margin: 20px auto;
            text-align: left;
        }
}

.partner {
    background-color: #09225c;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/bg-partners.jpg");
    height: 180px;
}

    .partner .partner-link {
        display: block;
    }

        .partner .partner-link * {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

    .partner .container {
        position: relative;
    }

    .partner .text-box {
        max-width: 485px;
        float: left;
        margin-top: 20px;
    }

        .partner .text-box h3 {
            color: #25aae1;
            font-size: 1.25rem;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .partner .text-box p {
            font-family: "bebasnue", sans-serif;
            font-size: 2.5rem;
            color: white;
            font-weight: 400;
            line-height: 45px;
        }

    .partner .animation-box {
        float: right;
        height: 180px;
    }

        .partner .animation-box div[class^='wrapper-'] {
            height: 180px;
            width: 110px;
            position: absolute;
            -webkit-transform: skew(-21deg);
            -moz-transform: skew(-21deg);
            -ms-transform: skew(-21deg);
            -o-transform: skew(-21deg);
            transform: skew(-21deg);
            outline: 1px solid transparent;
            box-shadow: 0 0 1px rgba(255, 255, 255, 0);
            top: 0;
            right: 40px;
        }

            .partner .animation-box div[class^='wrapper-'] .content {
                -webkit-transform: skew(21deg);
                -moz-transform: skew(21deg);
                -ms-transform: skew(21deg);
                -o-transform: skew(21deg);
                transform: skew(21deg);
            }

        .partner .animation-box div.wrapper-yellow {
            background-color: #fad111;
            z-index: 3;
            width: 130px;
        }

            .partner .animation-box div.wrapper-yellow .content {
                width: 110px;
                margin-left: 35px;
                margin-top: 40px;
            }

                .partner .animation-box div.wrapper-yellow .content p {
                    font-family: "bebasnue", sans-serif;
                    color: #fff;
                    opacity: 0;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    width: 100%;
                }

        .partner .animation-box div.wrapper-blue {
            z-index: 5;
            background-color: #25aae1;
        }

            .partner .animation-box div.wrapper-blue .content {
                width: 64px;
            }

            .partner .animation-box div.wrapper-blue #right-arrow {
                position: absolute;
                top: 80px;
                right: 15px;
                fill: #fff;
                -webkit-transition: all 0.05s linear;
                -moz-transition: all 0.05s linear;
                transition: all 0.05s linear;
            }

        .partner .animation-box .microscope {
            position: absolute;
            z-index: 1;
            width: 57px;
            height: 88px;
            bottom: 0;
            right: 240px;
        }

        .partner .animation-box .blood-bag {
            position: absolute;
            z-index: 4;
            width: 57px;
            height: 127px;
            bottom: 0;
            right: 170px;
        }

        .partner .animation-box .medkit {
            position: absolute;
            z-index: 2;
            width: 74px;
            height: 63px;
            bottom: 0;
            right: 0;
        }

    .partner .partner-link:hover .text-box h3 {
        color: #fff;
    }

    .partner .partner-link:hover .text-box p {
        color: #fad111;
    }

    .partner .partner-link:hover .animation-box div.wrapper-yellow {
        width: 350px;
    }

        .partner .partner-link:hover .animation-box div.wrapper-yellow .content {
            width: 150px;
        }

            .partner .partner-link:hover .animation-box div.wrapper-yellow .content p {
                opacity: 1;
            }

    .partner .partner-link:hover .animation-box div.wrapper-blue {
        z-index: 5;
        background-color: #fff;
    }

        .partner .partner-link:hover .animation-box div.wrapper-blue #right-arrow {
            right: 5px;
            fill: #25aae1;
        }

    .partner .partner-link:hover .animation-box .microscope {
        right: 150px;
    }

    .partner .partner-link:hover .animation-box .blood-bag {
        right: 145px;
    }

    .partner .partner-link:hover .animation-box .medkit {
        right: 75px;
    }

@media screen and (max-width: 640px) {
    .partner {
        display: none;
    }
}

.ui-autocomplete {
    color: white;
}