﻿<div class="">
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div class="porlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase">@L("EditingPropostaDeContratacao")</span>
                </div>
            </div>
            <div class="portlet-body form">
                <proposta-de-contratacao-form operation="edit">
                </proposta-de-contratacao-form>
            </div>
        </div>
    </div>
</div>