﻿<div class="mi">
    <input type="hidden" id="breadcrumb-header-title" value="Proposta de Contratação" />
    <form name="forms.propostaDeContratacaoForm" role="form" novalidate class="form-horizontal clearfix" bn-uniform>
        <div class="ezs-container">
            <uib-tabset template-url="~/libs/ez-lib/view/tabs/tabset.html" active="$ctrl.activeStep">
                <uib-tab template-url="~/libs/ez-lib/view/tabs/tab.html" select="" heading="@L("Enum_PassoDaPropostaEnum_PreCadastro")" class="{{$ctrl.getStatusAbaProposta(0)}}" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.PreCadastro)">
                    <div class="ezs-container">
                        <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                            <span class="protocolo-text">PROTOCOLO:</span>
                            <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                        </div>
                        <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoPreCadastro/passoPreCadastroForm.cshtml'"></ng-include>
                    </div>
                </uib-tab>
                <uib-tab template-url="~/libs/ez-lib/view/tabs/tab.html" select="" heading="@L("Enum_PassoDaPropostaEnum_SelecionarPlano")" class="{{$ctrl.getStatusAbaProposta(1)}}" disable="$ctrl.disableTabSelecionarPlano" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.SelecionarPlano)">
                    <div class="ezs-container">
                        <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                            <span class="protocolo-text">PROTOCOLO:</span>
                            <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                        </div>
                        <div>
                            <h2 class="page-title">Seleção de Plano</h2>
                        </div>
                        <ez-grid-typed ez-grid="$ctrl.ezGridProduto"></ez-grid-typed>
                    </div>
                </uib-tab>
                <uib-tab template-url="~/libs/ez-lib/view/tabs/tab.html" select="" heading="@L("Enum_PassoDaPropostaEnum_PreenchimentoDosDados")" class="{{$ctrl.getStatusAbaProposta(2)}}" disable="$ctrl.disableTabProposta" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.PreenchimentoDosDados)">
                    <div>
                        <uib-tabset style="" active="$ctrl.activeSubStep">

                            <uib-tab heading="Dados do Proponente Titular" select="" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.DadosProponenteTitular)">
                                <div class="ezs-container">
                                    <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                                        <span class="protocolo-text">PROTOCOLO:</span>
                                        <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                                    </div>
                                    <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoDadosProponenteTitular/passoDadosProponenteTitularForm.cshtml'"></ng-include>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Dados do Responsável Legal" ng-show="!$ctrl.preCadastroInput.titularResponsavelLegal" select="" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.DadosResponsavel)">
                                <div class="ezs-container">
                                    <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                                        <span class="protocolo-text">PROTOCOLO:</span>
                                        <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                                    </div>
                                    <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoDadosResponsavelLegal/passoDadosResponsavelLegalForm.cshtml'"></ng-include>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Endereço" select="" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.Endereco)">
                                <div class="ezs-container">
                                    <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                                        <span class="protocolo-text">PROTOCOLO:</span>
                                        <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                                    </div>
                                    <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoEndereco/passoEnderecoForm.cshtml'"></ng-include>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Dados dos Dependentes" select="" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.DadosDependentes)">
                                <div class="no-padding ezs-container">
                                    <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                                        <span class="protocolo-text">PROTOCOLO:</span>
                                        <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                                    </div>
                                    <h2 class="page-title">Dados dos Dependentes</h2>
                                    <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoEnvioDeDependente/passoEnvioDeDependenteForm.cshtml'"></ng-include>
                                </div>
                            </uib-tab>
                            <uib-tab heading="@L("Enum_PassoDaPropostaEnum_EnvioDeDocumentos")" select="" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.Documentos)">
                                <div class="ezs-container">
                                    <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                                        <span class="protocolo-text">PROTOCOLO:</span>
                                        <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                                    </div>
                                    <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoEnvioDeDocumentos/passoEnvioDeDocumentosForm.cshtml'"></ng-include>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Vigência" select="" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.DadosVigencia)">
                                <div class="ezs-container">
                                    <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                                        <span class="protocolo-text">PROTOCOLO:</span>
                                        <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                                    </div>
                                    <h2 class="page-title">Vigência</h2>
                                    <div class="col-md-3">
                                        <label class="control-label">@L("PropostaDeContratacao.InicioDeVigencia")</label>
                                        <div>
                                            <input type="date" class="form-control" readonly ng-model="$ctrl.dadosGeraisInput.inicioDeVigencia" />
                                        </div>
                                    </div>
                                </div>
                                <div class="ezs-container">
                                    <ez-grid-typed ez-grid="$ctrl.ezGridVigencia"></ez-grid-typed>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Dados Gerenciais" select="" ng-show="$ctrl.tipoDeUsuarioCorretor" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.DadosGerenciais)">
                                <div class="ezs-container">
                                    <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                                        <span class="protocolo-text">PROTOCOLO:</span>
                                        <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                                    </div>
                                    <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoDadosGerenciais/passoDadosGerenciais.cshtml'"></ng-include>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Declaração de Saúde" select="" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.DadosDeclaracaoDeSaude)">
                                <div class="ezs-container">
                                    <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                                        <span class="protocolo-text">PROTOCOLO:</span>
                                        <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                                    </div>
                                    <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoDeclaracaoDeSaude/passoDeclaracaoDeSaudeForm.cshtml'"></ng-include>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </uib-tab>
                <uib-tab template-url="~/libs/ez-lib/view/tabs/tab.html" select="" heading="@L("Enum_PassoDaPropostaEnum_AceiteDoContrato")" class="{{$ctrl.getStatusAbaProposta(3)}}" disable="$ctrl.disableTabAceite" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.AceiteDoContrato)">
                    <div class="ezs-container">
                        <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                            <span class="protocolo-text">PROTOCOLO:</span>
                            <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                        </div>
                        <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoAceiteDoContrato/passoAceiteDoContratoForm.cshtml'"></ng-include>
                    </div>
                </uib-tab>
                <uib-tab template-url="~/libs/ez-lib/view/tabs/tab.html" select="" heading="@L("Enum_PassoDaPropostaEnum_Homologacao")" class="{{$ctrl.getStatusAbaProposta(4)}}" disable="$ctrl.disableTabHomologacao" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.Homologacao);">
                    <div class="ezs-container">
                        <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                            <span class="protocolo-text">PROTOCOLO:</span>
                            <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                        </div>
                        <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoHomologacao/passoHomologacaoForm.cshtml'"></ng-include>
                    </div>
                </uib-tab>
                <uib-tab template-url="~/libs/ez-lib/view/tabs/tab.html" select="" heading="@L("Enum_PassoDaPropostaEnum_Pagamento")" class="{{$ctrl.getStatusAbaProposta(5)}}" disable="$ctrl.disableTabPagamento" ng-click="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.Pagamento);">
                    <div class="ezs-container">
                        <div class="protocolo-container" ng-if="$ctrl.protocolNumber">
                            <span class="protocolo-text">PROTOCOLO:</span>
                            <span class="protocolo-number">{{$ctrl.protocolNumber}}</span>
                        </div>
                        <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoPagamento/passoPagamentoForm.cshtml'"></ng-include>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </form>

    <div class="ezs-container">
        <div class="form-actions ez-actions">
            <div class="row">
                <div class="fr">
                    <button ng-disabled="$ctrl.saving"
                            type="button"
                            class="btn btn-default eziicon-home"
                            style="padding: 0px 11px; font-size: 25px !important;"
                            ng-click="$ctrl.goToHome()"></button>

                    <button type="button"
                            ng-if="$ctrl.entity.statusDaProposta !== 1"
                            class="btn btn-default btn-voltar"
                            ng-click="$ctrl.cancelarContratacao()">
                        <span>
                            Cancelar Contratação
                        </span>
                    </button>
                    <button ng-disabled="$ctrl.saving"
                            type="button"
                            class="btn btn-default"
                            ng-if="$ctrl.entity.id > 0 && $ctrl.activeStep > 0"
                            ng-click="$ctrl.voltarPasso()">
                        <i class="fa fa-chevron-left"></i>
                        <span>
                            Voltar
                        </span>
                    </button>

                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue btn-salvar"
                            ng-click="$ctrl.saveStep()"
                            ng-disabled="$ctrl.salvarContinuarDisabled"
                            ng-if="$ctrl.createOrEdit && $ctrl.salvarContinuarVisible">
                        <i class="fa fa-save"></i>
                        <span>
                            {{$ctrl.saveButtonText()}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>