﻿<form name="arquivoGlobalForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-4">@L("Arquivo.Nome")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.nome" required maxlength="@EZ.EZControl.Domain.Global.Geral.ArquivoGlobal.NomeMaxLength" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                        @L("Arquivo.Ativo")
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-4">@L("Arquivo.UploadFile")</label>
            <div class="col-md-5">
                <ezfile arquivo="$ctrl.entity"
                        get-parametros="$ctrl.parametroGlobalService.get()"
                        delete-arquivo="$ctrl.arquivoService.delete"
                        get-id-arquivo="$ctrl.arquivoService.getById"
                        sistema="Global"
                        redirect="true"
                        save-file="$ctrl.save"
                        arquivo-id="{{$ctrl.registroId}}"
                        back-to-menu="$ctrl.paginaDeListagem()">
                </ezfile>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-4 col-md-9">
                    <button ng-disabled="$ctrl.saving"
                            type="button"
                            class="btn btn-default"
                            ng-click="$ctrl.cancel()">
                        @L("Back")
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue"
                            ng-click="$ctrl.save()"
                            ng-disabled="arquivoGlobalForm.$invalid"
                            ng-if="$ctrl.createOrEdit">
                        <i class="fa fa-save"></i>
                        <span>
                            @L("Save")
                        </span>
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary red"
                            ng-click="$ctrl.delete()"
                            ng-disabled="arquivoGlobalForm.$invalid"
                            ng-if="!$ctrl.createOrEdit">
                        <i class="fa fa-remove"></i>
                        <span>
                            @L("Delete")
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>