﻿@{
    ViewBag.BodyClass = "page-404-full-page";
    Layout = "~/Views/Error/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-red"> 404 </div>
        <div class="details">
            <h3>@L("OopsYouAreLost")</h3>
            <p>
                @L("WeCanNotFindThePage")<br />
                Voltar para o <a href="http:\\www.portalmega.net" class="link">portal MEGA</a>.
            </p>
        </div>
    </div>
</div>
