﻿<div class="ezs-container">
    <div busy-if="$ctrl.loading">

        <div id="pagamentos">
            <h2 class="page-title">Pagamento</h2>


            <uib-tabset style="" active="$ctrl.activeStepPagamento">




                <uib-tab heading="Boleto" ng-hide="$ctrl.pgFormas.boleto" disable="$ctrl.pgFormas.disableBoleto">

                    <div ng-hide="$ctrl.pgFormas.boleto">

                        @*<div ng-if="($ctrl.tipoDeUsuarioBeneficiario || $ctrl.tipoDeUsuarioCorretor ) && $ctrl.linkParaPagamento">
                            <div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <strong>Taxa do Cadastro </strong>  <br />   R$ 25,00 <br />
                                        <strong>Taxa do Boleto   </strong>  <br />   R$ 1,00 <br />
                                        <strong>Valor do Plano   </strong>  <br />   R$ {{$ctrl.planoModal.valor}} <br />
                                        <strong> Total :  </strong>    R$ {{$ctrl.planoModal.valor + (25.00 + 1.00)}}
                                    </div>
                                </div>
                            </div>
                        </div>*@

                        <div class="form-actions">
                            <div ng-if="$ctrl.entity.statusDaProposta != 1">
                                <div class="row" ng-if="!$ctrl.linkParaPagamento && $ctrl.tipoDeUsuarioBeneficiario">
                                    <div class="col-md-12 text-center">
                                        <button type="button"
                                                button-busy="$ctrl.saving"
                                                busy-text="Gerando boleto..."
                                                class="btn btn-primary btn-responsive blue"
                                                ng-click="$ctrl.realizarCheckout(false)">
                                            <i class="fa fa-save"></i>
                                            <span>
                                                Gerar Boleto
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" ng-if="!$ctrl.linkParaPagamento && !$ctrl.tipoDeUsuarioBeneficiario">
                                    <div class="col-md-12 text-center">
                                        O cliente ainda não gerou boleto.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-center" style="margin:10px 0;"
                                         ng-if="$ctrl.linkParaPagamento">
                                        <a class="btn btn-primary btn-responsive blue"
                                           style="float: right"
                                           href="{{$ctrl.linkParaPagamento}}"
                                           target="_blank">Visualizar Boleto</a>
                                        <br />
                                    </div>
                                    <div class="col-md-6 text-center" style="margin:10px 0;"
                                         ng-if="($ctrl.tipoDeUsuarioCorretor  || $ctrl.tipoDeUsuarioCorretora) && $ctrl.linkParaPagamento">
                                        <button type="button"
                                                style="float: left"
                                                button-busy="$ctrl.saving"
                                                busy-text="Gerando boleto..."
                                                class="btn btn-primary btn-responsive blue"
                                                ng-click="$ctrl.realizarCheckout(true)">
                                            <i class="fa fa-save"></i>
                                            <span>
                                                Reemitir Boleto
                                            </span>
                                        </button>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div ng-if="$ctrl.entity.statusDaProposta == 1">
                                <div class="row">
                                    <br />
                                    <div class="col-md-12 text-center">
                                        Pagamento realizado com sucesso via boleto.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </uib-tab>

                @*<uib-tab heading="Transferência" disable="$ctrl.linkParaPagamento">*@
                <uib-tab heading="Transferência" ng-hide="$ctrl.pgFormas.transferencia" disable="$ctrl.pgFormas.disableTransferencia">

                    <div ng-hide="$ctrl.pgFormas.transferencia">

                        <div ng-if="$ctrl.entity.statusDaProposta != 1">

                            <div class="form-group">
                                <div class="col-md-12">
                                    @*<label class="control-label">@L("PropostaDeContratacao.Comprovante")</label>*@
                                    <div>
                                        <br />
                                        <div ng-if="$ctrl.tipoDeUsuarioBeneficiario">
                                            <input ng-if="(($ctrl.tipoDeUsuarioBeneficiario && $ctrl.pcDepositoInput.comprovante.indexOf('data:image') == -1) || $ctrl.linkParaPagamento != '')"
                                                   type="file"
                                                   multiple="false"
                                                   class="btn btn-default"
                                                   id="comprovanteUpload"
                                                   capture="camera"
                                                   ngf-select="$ctrl.transformaConteudoComprovante($file)"
                                                   ng-model="$ctrl.fileComprovante"
                                                   style="float: left;" />
                                        </div>
                                        <div style="clear:both"></div>
                                        <br />

                                        <div class="text-center">
                                            <div ng-if="($ctrl.pcDepositoInput.id && $ctrl.pcDepositoInput.comprovante.indexOf('data:image') > -1) || $ctrl.linkParaPagamento != ''">
                                                <a href="~/App/common/views/pictureComprovantes/comprovanteTransferencia.html" target="_blank">
                                                    <img title="Comprovante" style="width: 258px; height: auto; margin: 15px 40px 40px;" ng-if="$ctrl.pcDepositoInput.comprovante.indexOf('data:image') > -1" src="{{$ctrl.pcDepositoInput.comprovante}}" />
                                                </a>
                                                <input type="hidden" id="imgComprovanteDeposito" name="name" value="{{$ctrl.pcDepositoInput.comprovante }}" />
                                                <script type="text/javascript">
                                                    let interval_Id = null;
                                                    let counterPicture = 0;
                                                    let fnPictureBase64 = function () {
                                                        if (counterPicture <= 10) {
                                                            counterPicture++;

                                                            /* your code goes here */
                                                            let _base64 = $('#imgComprovanteDeposito').val();
                                                            if (_base64 != undefined && _base64 != '') {
                                                                localStorage.setItem('pictureBase64', _base64);
                                                                clearInterval(interval_Id);
                                                            }

                                                        } else {
                                                            clearInterval(interval_Id);
                                                        }
                                                    };

                                                    $(document).ready(function () {
                                                        interval_Id = setInterval(fnPictureBase64, 3000);
                                                    });
                                                </script>

                                            </div>
                                            <div ng-if="$ctrl.tipoDeUsuarioBeneficiario && $ctrl.pcDepositoInput.comprovante.indexOf('data:image') > -1"
                                                 ng-click="$ctrl.removeComprovante()" class="btn btn-primary btn-responsive red" cursor: pointer; margin-top: 15px">
                                                REMOVER COMPROVANTE
                                            </div>
                                        </div>

                                        <div style="clear:both"></div>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-12" style="margin-left: 20px;" ng-if="$ctrl.tipoDeUsuarioCorretor && $ctrl.pcDepositoInput.comprovante">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   ng-model="$ctrl.pcDepositoInput.recebido"
                                                   ng-disabled="$ctrl.eParaSerReadOnly"
                                                   ng-change="$ctrl.salvarContinuarDisabled = !$ctrl.salvarContinuarDisabled" />
                                            Eu, {{$ctrl.entity.corretor.pessoa.nomePessoa}}, inscrito no CPF {{$ctrl.entity.corretor.documentoPrincipal.numero}},
                                            declaro ter conferido e validado o recebimento do valor total da proposta através de depósito/transferência
                                            bancária do valor total desta proposta de contratação. Declaro também serem verdadeiras as informações
                                            prestadas por mim neste formulário, estando ciente de que sou inteiramente responsável por qualquer
                                            informação falsa, estando suscetível às penalidades de acordo com a lei.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-left: 20px;" ng-if="(!$ctrl.pcDepositoInput || ($ctrl.pcDepositoInput && !$ctrl.pcDepositoInput.comprovante)) && !$ctrl.tipoDeUsuarioBeneficiario">
                                    <div class="col-md-12 text-center">
                                        </br />
                                        O cliente ainda não enviou o comprovante da tranferência ou escolheu outra forma de pagamento.
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="button"
                                                ng-if="$ctrl.tipoDeUsuarioBeneficiario && $ctrl.pcDepositoInput.comprovante.indexOf('data:image') > -1"
                                                button-busy="$ctrl.saving"
                                                busy-text="Aguarde..."
                                                class="btn btn-primary btn-responsive blue"
                                                ng-click="$ctrl.enviarComprovante()">
                                            <i class="fa fa-save"></i>
                                            <span>
                                                Enviar Comprovante
                                            </span>
                                        </button>


                                        <button type="button"
                                                ng-if="$ctrl.tipoDeUsuarioCorretor && $ctrl.pcDepositoInput.comprovante"
                                                button-busy="$ctrl.saving"
                                                busy-text="Aguarde..."
                                                class="btn btn-primary btn-responsive blue"
                                                ng-click="$ctrl.confirmarComprovante()">
                                            <i class="fa fa-save"></i>
                                            <span>
                                                Confirmar Recebimento
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="$ctrl.entity.statusDaProposta == 1">
                            <div class="row">
                                <br />
                                <div class="col-md-12 text-center">
                                    Pagamento realizado com sucesso via transferência.
                                </div>
                                <br />
                                <div class="col-md-12 text-center">
                                    <div ng-if="$ctrl.pcDepositoInput.id">
                                        <img title="Comprovante" style="width: 258px; height: auto; margin: 15px 40px 40px;" src="{{$ctrl.pcDepositoInput.comprovante}}" />
                                        @*<a href="~/App/tenant/views/ezliv/propostaDeContratacao/passoPagamento/passoPagamentoForm.cshtml">content</a>*@
                                    </div>
                                </div>
                                <br />
                                <br />
                            </div>
                        </div>

                    </div>

                </uib-tab>

                <uib-tab heading="Cartão de Crédito" ng-hide="$ctrl.pgFormas.cartaoCredito" disable="$ctrl.pgFormas.disableCartaoCredito">

                    <div ng-hide="$ctrl.pgFormas.cartaoCredito">



                            <div class="form-actions">
                                <div ng-if="$ctrl.entity.statusDaProposta != 1">
                                    <div class="row" ng-if="!$ctrl.linkParaPagamentoCartao && $ctrl.tipoDeUsuarioBeneficiario">
                                        <div class="col-md-12 text-center">
                                            <button type="button"
                                                    button-busy="$ctrl.saving"
                                                    busy-text="Gerando boleto..."
                                                    class="btn btn-primary btn-responsive blue"
                                                    ng-click="$ctrl.realizarCheckout(false)">
                                                <i class="fa fa-save"></i>
                                                <span>
                                                    Gerar Fatura
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    @*<div class="row" ng-if="!$ctrl.linkParaPagamentoCartao && !$ctrl.tipoDeUsuarioBeneficiario">
                                        <div class="col-md-12 text-center">
                                            O cliente ainda não gerou a fatura.
                                        </div>
                                    </div>*@
                                    <div class="row">
                                        <div class="col-md-6 text-center" style="margin:10px 0;"
                                             ng-if="$ctrl.linkParaPagamentoCartao">
                                            <a class="btn btn-primary btn-responsive blue"
                                               style="float: right"
                                               href="{{$ctrl.linkParaPagamentoCartao}}"
                                               target="_blank">Pagar com Cartão</a>
                                            <br />
                                        </div>
                                        <div class="col-md-6 text-center" style="margin:10px 0;"
                                             ng-if="($ctrl.tipoDeUsuarioCorretor || $ctrl.tipoDeUsuarioCorretora) && $ctrl.linkParaPagamento">
                                            <button type="button"
                                                    style="float: left"
                                                    button-busy="$ctrl.saving"
                                                    busy-text="Gerando boleto..."
                                                    class="btn btn-primary btn-responsive blue"
                                                    ng-click="$ctrl.realizarCheckout(true)">
                                                <i class="fa fa-save"></i>
                                                <span>
                                                    Reemitir Fatura
                                                </span>
                                            </button>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="$ctrl.entity.statusDaProposta == 1">
                                    <div class="row">
                                        <br />
                                        <div class="col-md-12 text-center">
                                            Pagamento realizado com sucesso via Cartão de Crédito.
                                        </div>
                                    </div>
                                </div>
                            </div>




                       
                    </div>
                    <div class="form-group">
                        <div class="row" ng-if="!$ctrl.linkParaPagamentoCartao && !$ctrl.tipoDeUsuarioBeneficiario">
                            <div class="col-md-12 text-center">
                                O cliente ainda não gerou a Fatura para pagamento com cartão de crédito.
                            </div>
                        </div>
                        </div>

                </uib-tab>

                <uib-tab heading="Deposito bancário" ng-hide="$ctrl.pgFormas.depositoBancario" disable="$ctrl.pgFormas.disableDepositoBancario">

                   

                    <div ng-hide="$ctrl.pgFormas.depositoBancario">

                        @*<div ng-hide="$ctrl.entity.statusDaProposta != 1 && ((!$ctrl.pcDepositoInput || ($ctrl.pcDepositoInput && !$ctrl.pcDepositoInput.comprovante)) && !$ctrl.tipoDeUsuarioBeneficiario)">*@

                            <div class="form-group" style="margin-top: 15px;">
                                <label class="control-label col-md-4">Banco</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" ng-model="$ctrl.depositoBancario.depositoTransferenciaBancariaInput.banco" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Número da Agência</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" ng-model="$ctrl.depositoBancario.depositoTransferenciaBancariaInput.agencia" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Número da Conta</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" ng-model="$ctrl.depositoBancario.depositoTransferenciaBancariaInput.conta" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Titular</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" ng-model="$ctrl.depositoBancario.depositoTransferenciaBancariaInput.titular" readonly />
                                </div>
                            </div>
                            @*<div class="form-group">
                                <div class="col-md-12 text-center">
                                    <strong>Taxa do Cadastro </strong>  <br />   R$ 25,00 <br />
                                    <strong>Valor do Plano   </strong>  <br />   R$ {{$ctrl.planoModal.valor}} <br />
                                    <strong> Total :  </strong>    R$ {{$ctrl.planoModal.valor + 25.00}}
                                </div>
                            </div>*@

                        @*</div>*@

                        <div ng-if="$ctrl.entity.statusDaProposta != 1">
                            <div class="form-group">
                                <div class="col-md-12">
                                    
                                    <div>
                                        
                                        <div ng-if="$ctrl.tipoDeUsuarioBeneficiario">
                                            <label class="control-label"> Anexar Comprovante </label>
                                            <br />
                                            <input ng-if="(($ctrl.tipoDeUsuarioBeneficiario && $ctrl.pcDepositoInput.comprovante.indexOf('data:image') == -1) || $ctrl.linkParaPagamento != '')"
                                                   type="file"
                                                   multiple="false"
                                                   class="btn btn-default"
                                                   id="comprovanteUpload"
                                                   capture="camera"
                                                   ngf-select="$ctrl.transformaConteudoComprovanteDepositoBancario($file)"
                                                   ng-model="$ctrl.fileComprovante"
                                                   style="float: left;" />
                                        </div>
                                        <div style="clear:both"></div>
                                        <br />

                                        <div class="text-center">
                                            <div ng-if="($ctrl.pcDepositoInput.id && $ctrl.pcDepositoInput.comprovante.indexOf('data:image') > -1) || $ctrl.linkParaPagamento != ''">
                                                <a href="~/App/common/views/pictureComprovantes/comprovanteTransferencia.html" target="_blank">
                                                    <img title="Comprovante" style="width: 258px; height: auto; margin: 15px 40px 40px;" ng-if="$ctrl.pcDepositoInput.comprovante.indexOf('data:image') > -1" src="{{$ctrl.pcDepositoInput.comprovante}}" />
                                                </a>
                                                <input type="hidden" id="imgComprovanteDepositoBancario" name="name" value="{{$ctrl.pcDepositoInput.comprovante }}" />
                                                <script type="text/javascript">
                                                    let interval_Id = null;
                                                    let counterPicture = 0;
                                                    let fnPictureBase64 = function () {
                                                        if (counterPicture <= 10) {
                                                            counterPicture++;

                                                            /* your code goes here */
                                                            let _base64 = $('#imgComprovanteDepositoBancario').val();
                                                            if (_base64 != undefined && _base64 != '') {
                                                                localStorage.setItem('pictureBase64', _base64);
                                                                clearInterval(interval_Id);
                                                            }

                                                        } else {
                                                            clearInterval(interval_Id);
                                                        }
                                                    };

                                                    $(document).ready(function () {
                                                        interval_Id = setInterval(fnPictureBase64, 3000);
                                                    });
                                                </script>

                                            </div>
                                            <div ng-if="$ctrl.tipoDeUsuarioBeneficiario && $ctrl.pcDepositoInput.comprovante.indexOf('data:image') > -1"
                                                 ng-click="$ctrl.removeComprovante()" class="btn btn-primary btn-responsive red" cursor: pointer; margin-top: 15px">
                                                REMOVER COMPROVANTE
                                            </div>
                                        </div>

                                        <div style="clear:both"></div>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-12" style="margin-left: 20px;" ng-if="$ctrl.tipoDeUsuarioCorretor && $ctrl.pcDepositoInput.comprovante">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   ng-model="$ctrl.pcDepositoInput.recebido"
                                                   ng-disabled="$ctrl.eParaSerReadOnly"
                                                   ng-change="$ctrl.salvarContinuarDisabled = !$ctrl.salvarContinuarDisabled" />
                                            Eu, {{$ctrl.entity.corretor.pessoa.nomePessoa}}, inscrito no CPF {{$ctrl.entity.corretor.documentoPrincipal.numero}},
                                            declaro ter conferido e validado o recebimento do valor total da proposta através de depósito/transferência
                                            bancária do valor total desta proposta de contratação. Declaro também serem verdadeiras as informações
                                            prestadas por mim neste formulário, estando ciente de que sou inteiramente responsável por qualquer
                                            informação falsa, estando suscetível às penalidades de acordo com a lei.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-left: 20px;" ng-if="(!$ctrl.pcDepositoInput || ($ctrl.pcDepositoInput && !$ctrl.pcDepositoInput.comprovante)) && !$ctrl.tipoDeUsuarioBeneficiario">
                                    <div class="col-md-12 text-center">
                                        </br />
                                        O cliente ainda não enviou o comprovante do deposito bancário.
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="button"
                                                ng-if="$ctrl.tipoDeUsuarioBeneficiario && $ctrl.pcDepositoInput.comprovante.indexOf('data:image') > -1"
                                                button-busy="$ctrl.saving"
                                                busy-text="Aguarde..."
                                                class="btn btn-primary btn-responsive blue"
                                                ng-click="$ctrl.enviarComprovanteDepositoBancario()">
                                            <i class="fa fa-save"></i>
                                            <span>
                                                Enviar Comprovante
                                            </span>
                                        </button>


                                        <button type="button"
                                                ng-if="$ctrl.tipoDeUsuarioCorretor && $ctrl.pcDepositoInput.comprovante"
                                                button-busy="$ctrl.saving"
                                                busy-text="Aguarde..."
                                                class="btn btn-primary btn-responsive blue"
                                                ng-click="$ctrl.confirmarComprovante()">
                                            <i class="fa fa-save"></i>
                                            <span>
                                                Confirmar Recebimento
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-hide="$ctrl.pgFormas.depositoBancario" ng-if="$ctrl.entity.statusDaProposta == 1">
                            <div class="row">
                                <br />
                                <div class="col-md-12 text-center">
                                    Pagamento realizado com sucesso via transferência.
                                </div>
                                <br />
                                <div class="col-md-12 text-center">
                                    <div ng-if="$ctrl.pcDepositoInput.id">
                                        <img title="Comprovante" style="width: 258px; height: auto; margin: 15px 40px 40px;" src="{{$ctrl.pcDepositoInput.comprovante}}" />
                                        @*<a href="~/App/tenant/views/ezliv/propostaDeContratacao/passoPagamento/passoPagamentoForm.cshtml">content</a>*@
                                    </div>
                                </div>
                                <br />
                                <br />
                            </div>
                        </div>

                    </div>

                </uib-tab>


            </uib-tabset>

            <h2 ng-if="$ctrl.pgFormas.boleto && $ctrl.pgFormas.cartaoCredito && $ctrl.pgFormas.depositoBancario">O Cliente ainda não gerou a fatura !</h2>

        </div>
    </div>
    <div>
        <ng-include src="'~/App/common/views/componentes/statusDoProcesso/statusDoProcessoComponent.cshtml'"></ng-include>
    </div>
</div>