﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Estoque.Parametro.UnidadeMedida")" headerInfo="@L("EstoqueUnidadeMedidaHeaderInfo")">
    </cabecalho>
    <estoque-unidade-medida-index>
    </estoque-unidade-medida-index>
    <rodape></rodape>
</div>