.ezGridPlanoWrapper > .grid {
    width: 100%;
    height: auto !important;
}

.ezGridPlanoWrapper > .header-filtered {
    color: blue;
}

.ezGridPlanoWrapper > .clearfix {
    overflow: auto;
    zoom: 1;
}

.ui-grid-pager-panel {
    bottom: -35px;
}

.ezGridPlanoWrapper > .ui-grid {
    font-family: 'Exo 2', sans-serif;
    border: none;
}

    .ezGridPlanoWrapper > .ui-grid .ui-grid-header-viewport {
        margin: 0px;
    }

    .ezGridPlanoWrapper > .ui-grid .ui-grid-top-panel {
        background: white;
    }

    .ezGridPlanoWrapper > .ui-grid .ui-grid-header-canvas {
        width: 100% !important;
        max-width: 1200px;
        padding: 0px;
        margin: 0 auto;
    }

    .ezGridPlanoWrapper > .ui-grid .ui-grid-header-cell {
        background-color: white;
        height: 45px;
        color: #25aae1;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase !important;
        font-weight: 400;
        font-size: 12px;
    }

        .ezGridPlanoWrapper > .ui-grid .ui-grid-header-cell:first-child {
            border-left: 1px solid #d4d4d4;
        }

.ezGridPlanoWrapper.with-select > .ui-grid .ui-grid-header-cell:first-child {
    border-left: 1px solid #d4d4d4;
    border-right: none;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-header-cell:last-child {
    border-right: 1px solid #d4d4d4;
}


.ezGridPlanoWrapper > .ui-grid .header {
    background-color: white;
    height: 45px;
    color: #25aae1;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

    .ezGridPlanoWrapper > .ui-grid .header:first-child {
        border-left: 1px solid #d4d4d4;
    }

.ezGridPlanoWrapper.with-select > .ui-grid .header:first-child {
    border-left: 1px solid #d4d4d4;
    border-right: none;
}

.ezGridPlanoWrapper > .ui-grid .header:last-child {
    border-right: 1px solid #d4d4d4;
}

.ezGridPlanoWrapper .ui-grid-column-menu-button-last-col {
    margin-right: 0px;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-column-menu-button {
    top: 12px;
}

.ezGridPlanoWrapper > .ui-grid-column-menu-button-last-col {
    margin-right: 0;
}

/* Conteúdo */
.ezGridPlanoWrapper > .ui-grid .ui-grid-viewport {
    /*width: 1200px !important;*/
    /*padding: 0px 10px;*/
    margin: 0 auto;
    background: #f4f4f3;
    background-color: #f4f4f3;
    height: 100% !important;
}

.propostaIndex .ezGridPlanoWrapper > .ui-grid .ui-grid-viewport,
.propostaForm .ezGridPlanoWrapper > .ui-grid .ui-grid-viewport {
    padding-bottom: 195px;
}


.ezGridPlanoWrapper > .ui-grid .ui-grid-canvas {
    width: 100% !important;
    /*max-width: 1200px !important;*/
    /*padding: 0px 10px;*/
    margin: 0 auto;
}

.ezGridPlanoWrapper > .ui-grid-row:nth-child(even) .ui-grid-cell, .ezGridPlanoWrapper > .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #f4f4f4;
    display: table;
    transition: all .3s ease;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row:hover .ui-grid-cell {
    background-color: #eee;
}

.ezGridPlanoWrapper > .ui-grid .plano-row {
    outline: none;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row {
    border-bottom: 1px solid #cfcfd0;
    /*border-top: 1px solid white;*/
    width: 100%;
    position: relative;
    /*box-sizing: border-box;*/
}

.ezGridPlanoWrapper.big-row > .ui-grid .ui-grid-row {
    height: 81px;
    border-top: 1px solid white;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-cell {
    border-right: none;
    text-align: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #cfcfd0;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-cell-contents {
    text-transform: uppercase;
}

    .ezGridPlanoWrapper > .ui-grid .ui-grid-cell-contents .btn-group.dropdown {
        top: 10px;
    }

.ezGridPlanoWrapper.no-upper > .ui-grid .ui-grid-viewport .ui-grid-cell-contents {
    text-transform: initial;
}

.propostaIndex .ezGridPlanoWrapper > .ui-grid .ui-grid-row .ui-grid-cell-contents,
.propostaForm .ezGridPlanoWrapper > .ui-grid .ui-grid-row .ui-grid-cell-contents {
    vertical-align: middle;
    display: table-cell;
    text-overflow: initial;
    white-space: initial;
}

.ezGridPlanoWrapper > .ui-grid a {
    color: #25aae1;
    text-decoration: underline;
    cursor: pointer;
    transition: color .4s ease;
}

    .ezGridPlanoWrapper > .ui-grid a:hover {
        color: #025e84;
    }

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .ui-grid-cell {
    color: #999999;
    font-size: 12px;
}

.propostaIndex .ezGridPlanoWrapper > .ui-grid .ui-grid-row .ui-grid-cell,
.propostaForm .ezGridPlanoWrapper > .ui-grid .ui-grid-row .ui-grid-cell {
    display: table;
}

.ezGridPlanoWrapper > .ui-grid row-fake-select {
    display: block;
    width: 15px;
    height: 15px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid #898989;
    margin-left: 5px;
    position: relative;
}

    .ezGridPlanoWrapper > .ui-grid row-fake-select:before {
        content: '';
        display: block;
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #25aae1;
        opacity: 0;
        transform: scale(0);
        transition: all .3s ease;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .ezGridPlanoWrapper > .ui-grid row-fake-select.active:before {
        opacity: 1;
        transform: scale(1);
    }

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .ui-grid-cell.plano-nome {
    font-size: 16px;
    text-align: left;
}

/* Variação das operadoras */
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Bradesco .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .bradesco .ui-grid-cell.plano-nome {
    color: #e41f45;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Amil .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .amil .ui-grid-cell.plano-nome {
    color: #0df;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Allianz .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .allianz .ui-grid-cell.plano-nome {
    color: #0df;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Assim .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .assim .ui-grid-cell.plano-nome {
    color: #0df;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Unimed .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .unimed .ui-grid-cell.plano-nome {
    color: #00995d;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .One-Health .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .one-health .ui-grid-cell.plano-nome {
    color: #44d;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Sul-America .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .sul-america .ui-grid-cell.plano-nome {
    color: #44d;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Golden-Cross .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .golden-cross .ui-grid-cell.plano-nome {
    color: #72c;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Pame .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .pame .ui-grid-cell.plano-nome {
    color: #006a8a;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .Onix .ui-grid-cell.plano-nome,
.ezGridPlanoWrapper > .ui-grid .ui-grid-row .onix .ui-grid-cell.plano-nome {
    color: #44d;
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-row .inativa .ui-grid-cell.plano-nome {
    color: #999999 !important;
}


.ezGridPlanoWrapper > .ui-grid grid-details-menu {
    position: absolute;
    top: -1px;
    right: 0;
    width: 0px;
    height: calc(100% + 1px);
    background-color: transparent;
    display: block;
    overflow: hidden;
}

    .ezGridPlanoWrapper > .ui-grid grid-details-menu:after {
        content: '';
        display: block;
        background-color: #f4f4f3;
        width: 21px;
        height: 21px;
        position: absolute;
        top: 0;
        left: -11px;
        bottom: 0;
        margin: auto 0px;
        transform: rotate(45deg);
        transition: all .3s ease;
    }

.ezGridPlanoWrapper > .ui-grid .ui-grid-row:hover grid-details-menu:after {
    background-color: #eee;
}

.ezGridPlanoWrapper > .ui-grid grid-details-menu.active {
    width: 935px;
    display: block;
    background-color: #25aae1;
    border-top: 1px solid #cfcfd0;
    padding-left: 372px;
}

.ezGridPlanoWrapper > .ui-grid grid-details-menu div {
    display: block;
    float: left;
    color: white;
    font-size: 16px;
    height: 100%;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid white;
    cursor: pointer;
    transform: scale(0);
}

.ezGridPlanoWrapper > .ui-grid .ui-grid-render-container .dropdown.open {
    left: 29px;
    top: 15px;
}
/* Active Menu*/
.ezGridPlanoWrapper > .ui-grid grid-details-menu.active .plano-selecionar {
    width: 230px;
    background-color: #25aae1;
    transform: scale(1);
    transition: transform .12s linear;
    border-left: 1px solid white;
}

.ezGridPlanoWrapper > .ui-grid grid-details-menu.active .plano-semelhantes {
    width: 210px;
    background-color: #663179;
    transform: scale(1);
    transition: transform .12s .08s linear;
}

.ezGridPlanoWrapper > .ui-grid grid-details-menu.active .plano-comparar {
    width: 140px;
    background-color: #dead27;
    transform: scale(1);
    transition: transform .12s .12s linear;
}

.ezGridPlanoWrapper > .ui-grid grid-details-menu.active .plano-informacoes {
    width: 193px;
    background-color: #189538;
    transform: scale(1);
    transition: transform .12s .16s linear;
}

.ezGridPlanoWrapper > .ui-grid grid-details-menu.active .cancelar {
    width: 140px;
    background-color: white;
    font-weight: bold;
    color: #be1f5a;
    border: 2px solid #be1f5a;
    height: calc(100% - 4px);
    transform: scale(1);
    transition: transform .12s .20s linear;
    height: 80px;
}
/* Inicia o Slick de Planos */

#carousel-operadoras {
    display: none !important;
}

#operadora-list {
    position: relative;
    height: 100%;
}


.ezGridPlanoWrapper {
    transition: all .3s ease;
}

    .ezGridPlanoWrapper > .carousel-operadoras {
        border-bottom: 1px solid #e6e6e6;
        transition: all .3s ease;
    }

        .ezGridPlanoWrapper > .carousel-operadoras .arrow-next, .ezGridPlanoWrapper > .carousel-operadoras .arrow-prev {
            font-family: 'ui-grid';
            background: #27aae1;
            color: white;
            font-size: 0px;
            border: none;
            position: absolute;
            top: 0;
            height: 100%;
            outline: none;
            z-index: 3;
            width: 40px;
            transition: all .3s ease;
        }

    .ezGridPlanoWrapper.top-fixed > .carousel-operadoras {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 3;
    }

    .ezGridPlanoWrapper.top-fixed .ui-grid {
        transform: initial;
    }

    .ezGridPlanoWrapper.top-fixed .ui-grid-header {
        /*position: fixed;*/
        top: 131px;
        left: 0px;
        width: 100%;
        background-color: white;
        z-index: 3;
    }

    .ezGridPlanoWrapper.top-fixed .ui-grid-header-viewport {
        margin: 0 auto;
    }

    .ezGridPlanoWrapper > .carousel-operadoras .arrow-next.arrow-disabled, .ezGridPlanoWrapper > .carousel-operadoras .arrow-prev.arrow-disabled {
        opacity: 0.5;
    }

    .ezGridPlanoWrapper > .carousel-operadoras .arrow-next {
        right: -40px;
    }

    .ezGridPlanoWrapper > .carousel-operadoras .arrow-prev {
        left: -40px;
    }

        .ezGridPlanoWrapper > .carousel-operadoras .arrow-next:after, .ezGridPlanoWrapper > .carousel-operadoras .arrow-prev:after {
            content: '\c35e';
            font-family: 'ui-grid';
            font-size: 26px;
            display: block;
            position: absolute;
            top: 45px;
        }

    .ezGridPlanoWrapper > .carousel-operadoras .arrow-next:after {
        transform: rotate(-90deg);
        right: 10px;
    }

    .ezGridPlanoWrapper > .carousel-operadoras .arrow-prev:after {
        transform: rotate(90deg);
        left: 10px;
    }

    .ezGridPlanoWrapper > .carousel-operadoras {
        padding: 0px 40px;
        position: relative;
        height: 131px;
        border-top: 1px solid #e6e6e6;
    }

        .ezGridPlanoWrapper > .carousel-operadoras .operadora-item {
            border-bottom: 3px solid #e6e6e6;
            border-right: 1px solid #c4c4c4;
            outline: none;
            transition: all .3s ease;
            cursor: pointer;
            display: block;
            float: left;
        }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item:last-child {
                border-bottom: 3px solid #e6e6e6;
                border-right: none;
            }

        .ezGridPlanoWrapper > .carousel-operadoras .operadora-item {
            -webkit-filter: saturate(0%);
            -moz-filter: saturate(0%);
            filter: saturate(0%);
            transition: all .5s ease;
            height: 130px;
            width: 183px !important;
            line-height: 130px;
            text-align: center;
            opacity: 0.6;
            background-color: #e6e6e6;
            pointer-events: none;
            cursor: not-allowed;
        }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item img {
                opacity: 0.3;
            }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionavel img {
                opacity: 1;
                width: inherit;
            }



            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionavel {
                background-color: #f4f4f4;
                pointer-events: initial;
                cursor: pointer;
            }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionada {
                border-bottom: 3px solid #e3173e;
                -webkit-filter: saturate(100%);
                -moz-filter: saturate(100%);
                filter: saturate(100%);
                background-color: #fff;
                opacity: 1;
            }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item img {
                display: inline-block;
                /*width: 100%;
	height: auto;*/
                margin: 0 auto;
            }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionada.amil {
                border-bottom: 3px solid #004f93;
            }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionada.sul-america {
                border-bottom: 3px solid #f47521;
            }


            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionada.pame {
                border-bottom: 3px solid #006a8a;
            }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionada.unimed {
                border-bottom: 3px solid #00995d;
            }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionada.bradesco {
                border-bottom: 3px solid #e3173e;
            }

            .ezGridPlanoWrapper > .carousel-operadoras .operadora-item.selecionada.golden-cross {
                border-bottom: 3px solid #fcd40f;
            }

.ui-grid-viewport {
    width: auto !important;
}
#ezs-header .ezs-header-actions .ezs-welcome-msg {
    display: block !important;
}

@media screen and (max-width: 640px) {
    .ezGridPlanoWrapper > .ui-grid .ui-grid-contents-wrapper {
        overflow: hidden;
        overflow-x: auto !important;
    }

    .ezGridPlanoWrapper > .ui-grid .ui-grid-header {
        width: 1200px !important;
    }

    .ezGridPlanoWrapper > .ui-grid .ui-grid-header-viewport {
        width: 1200px !important;
    }

    .ezGridPlanoWrapper > .ui-grid .ui-grid-viewport {
        width: 1200px !important;
        overflow-x: auto !important;
    }

    .modal-detalhes-plano .detalhes-plano {
        width: 100%;
        height: 100%;
    }

    .modal-detalhes-plano .plano-title {
        margin-left: 20px;
    }

    .modal-detalhes-plano .plano-content {
        padding: 20px;
    }

    .modal-detalhes-plano .caracteristicas-list {
        height: auto;
    }

    .modal-detalhes-plano .caracteristicas-item {
        float: none;
        width: 100%;
        max-height: 120px;
        border: none;
        margin: 20px 0px 0px;
        padding-top: 20px;
        border-top: 1px solid #d1d1d1;
    }

    .modal-detalhes-plano .caracteristicas-item:first-child {
        border-top: none;
    }

    .modal-detalhes-plano .plano-informacoes {
        padding: 10px;
        margin-top: 20px;
    }

    .modal-detalhes-plano .plano-informacoes .left {
        margin-top: 0;
        width: 100%;
    }

    .modal-detalhes-plano .plano-informacoes .side-wrapper {
        width: 100%;
        border: none;
        padding: 0px 0px 10px;
    }

    .modal-detalhes-plano .plano-informacoes .side-content {
        width: 100%;
        padding: 10px 0px;
    }

    .modal-detalhes-plano .plano-informacoes .right {
        width: 100%;
    }

    /***************************************CONTINUAÇÃO********************************/


    .carousel-operadoras {
        display: none !important;
    }

    button.btn.btn-default.btn-voltar {
        margin-bottom: 10px !important;
        margin-right: 10px !important;
    }

    proposta-de-contratacao-form > div > div > div > div > div > button:nth-child(3) {
        margin-left: inherit !important;
    }

    .propostaIndex {
        overflow-y: hidden !important;
        overflow-x: scroll !important;
    }

    .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
        font-size: 100% !important;
        margin-bottom: 5px !important;
    }

    .ui-grid-pager-row-count-picker {
        margin-left: 10px !important;
    }

    .ui-grid-pager-count-container {
        margin-bottom: 10px;
    }

    .input-group-btn {
        font-size: 15px !important;
    }

    .input-group-btn .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
        border-radius: 25px !important;
    }

    .modal-detalhes-plano .plano-content {
        padding: 5px !important;
    }

    .modal-detalhes-plano .logo-operadora {
        margin-left: 15% !important;
    }

    .modal-detalhes-plano .plano-nome {
        font-size: medium !important;
    }

    .modal-detalhes-plano .caracteristicas-item {
        float: none !important;
        display: inline !important;
    }

    .modal-detalhes-plano .caracteristicas-list {
        display: initial !important;
    }

    .statusDoProcessoWrapper .status-processo ul li, .statusDoProcessoWrapper .formularios-processo ul li {
        font-size: 15px !important;
    }

    .modal-detalhes-plano .plano-informacoes {
        padding: 5px !important;
    }

    .modal-detalhes-plano .plano-informacoes .left {
        float: none !important;
        width: auto !important;
        margin-top: 0px !important;
    }

    .modal-detalhes-plano .plano-informacoes .side-wrapper {
        float: none !important;
        width: 100% !important;
        border-top: none !important;
        padding-top: 0px !important;
    }

    .modal-detalhes-plano .plano-informacoes .side-content {
        float: none !important;
        width: 100% !important;
        border-top: 2px solid #d1d1d1 !important;
        padding-top: 0px !important;
        padding-left: 0px !important;
        padding-bottom: 30px !important;
    }

    .modal-detalhes-plano .plano-informacoes .right {
        float: none !important;
        width: 100% !important;
    }

    .modal-detalhes-plano .plano-informacoes .info-content {
        border-top: 2px solid #d1d1d1 !important;
        margin-bottom: 25% !important;
    }

    proposta-de-contratacao-form > div > div.tab-pane.active > div > ng-include > div btn-group {
        margin-left: 9% !important;
    }

    .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
        padding: 5px !important;
    }

    .ezGridPlanoWrapper > .ui-grid grid-details-menu.active {
        width: 935px !important;
        padding-left: 0px !important;
        height: 53px !important;
    }

    .ezGridPlanoWrapper > .ui-grid grid-details-menu {
        top: 25px !important;
        right: 264px !important;
    }

    .ezGridPlanoWrapper > .ui-grid grid-details-menu.active .plano-selecionar {
        width: 151px !important;
    }

    .ezGridPlanoWrapper > .ui-grid grid-details-menu.active .plano-informacoes {
        width: 119px;
    }

    .ezGridPlanoWrapper > .ui-grid grid-details-menu.active .cancelar {
        width: 74px !important;
    }

    .ezGridPlanoWrapper > .ui-grid grid-details-menu div {
        font-size: 11px !important;
    }

    .doc-spacer {
        margin-top: 0px !important;
        margin-left: 0px !important;
        width: 329px !important;
    }

    .btn-read {
        width: 251px !important;
    }

    .text-right {
        width: 78% !important;
    }

    div.left > div.side-content > div {
        margin-top: 25px !important;
    }

    .modal-dialog .btn:not(.btn-sm):not(.btn-lg) {
        min-width: 0px !important;
    }

}

@media only screen and (min-width : 641px) and (max-width : 720px) {
    .carousel-operadoras {
        display: none !important;
    }

    button.btn.btn-default.btn-voltar {
        margin-bottom: 10px !important;
        margin-right: 10px !important;
    }

    proposta-de-contratacao-form > div > div > div > div > div > button:nth-child(3) {
        margin-left: inherit !important;
    }

    .propostaIndex {
        overflow-y: hidden !important;
        overflow-x: scroll !important;
    }

    .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
        font-size: 100% !important;
        margin-bottom: 5px !important;
    }

    .ui-grid-pager-row-count-picker {
        margin-left: 10px !important;
    }

    .ui-grid-pager-count-container {
        margin-bottom: 10px;
    }

    .input-group-btn {
        font-size: 15px !important;
    }

        .input-group-btn .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
            border-radius: 25px !important;
        }

    .modal-detalhes-plano .plano-content {
        padding: 5px !important;
    }

    .modal-detalhes-plano .logo-operadora {
        margin-left: 15% !important;
    }

    .modal-detalhes-plano .plano-nome {
        font-size: medium !important;
    }

    .modal-detalhes-plano .caracteristicas-item {
        float: none !important;
        display: inline !important;
    }

    .modal-detalhes-plano .caracteristicas-list {
        display: initial !important;
    }

    .statusDoProcessoWrapper .status-processo ul li, .statusDoProcessoWrapper .formularios-processo ul li {
        font-size: 15px !important;
    }

    .modal-detalhes-plano .plano-informacoes {
        padding: 5px !important;
    }

        .modal-detalhes-plano .plano-informacoes .left {
            float: none !important;
            width: auto !important;
            margin-top: 0px !important;
        }

        .modal-detalhes-plano .plano-informacoes .side-wrapper {
            float: none !important;
            width: 100% !important;
            border-top: none !important;
            padding-top: 0px !important;
        }

        .modal-detalhes-plano .plano-informacoes .side-content {
            float: none !important;
            width: 100% !important;
            border-top: 2px solid #d1d1d1 !important;
            padding-top: 0px !important;
            padding-left: 0px !important;
            padding-bottom: 30px !important;
        }

        .modal-detalhes-plano .plano-informacoes .right {
            float: none !important;
            width: 100% !important;
        }

        .modal-detalhes-plano .plano-informacoes .info-content {
            border-top: 2px solid #d1d1d1 !important;
            margin-bottom: 25% !important;
        }

    proposta-de-contratacao-form > div > div.tab-pane.active > div > ng-include > div btn-group {
        margin-left: 9% !important;
    }

    .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
        padding: 5px !important;
    }

    .ezGridPlanoWrapper > .ui-grid grid-details-menu.active {
        /*width: 935px !important;
        padding-left: 0px !important;*/
        height: 53px !important;
    }

    .ezGridPlanoWrapper > .ui-grid grid-details-menu {
        top: 25px !important;
        right: 0px !important;
    }

        .ezGridPlanoWrapper > .ui-grid grid-details-menu.active .plano-selecionar {
            width: 151px !important;
        }

        .ezGridPlanoWrapper > .ui-grid grid-details-menu.active .plano-informacoes {
            width: 119px;
        }

        .ezGridPlanoWrapper > .ui-grid grid-details-menu.active .cancelar {
            width: 74px !important;
        }

        .ezGridPlanoWrapper > .ui-grid grid-details-menu div {
            font-size: 11px !important;
        }

    .doc-spacer {
        margin-top: 0px !important;
        margin-left: 0px !important;
        width: 329px !important;
    }

    .btn-read {
        width: 251px !important;
    }

    .text-right {
        width: 78% !important;
    }

    /*.ui-grid-viewport {
        width: auto !important;
    }*/
    div.left > div.side-content > div {
        margin-top: 25px !important;
    }
}

@media only screen and (min-width : 721px) and (max-width : 1204px) {
    .propostaIndex {
        overflow-y: hidden !important;
        overflow-x: scroll !important;
    }
}