﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Enderecos")" headerInfo="@L("EnderecosHeaderInfo")">
    </cabecalho>

    <endereco-index>
    </endereco-index>

    <rodape></rodape>
</div>