﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Beneficiario")" headerInfo="@L("BeneficiarioHeaderInfo")">
    </cabecalho>

    <beneficiario-index>
    </beneficiario-index>

    <rodape></rodape>
</div>