﻿@using EZ.EZControl.Localization
<uib-tabset>
    <uib-tab heading="@L("PermissaoDeVendaDePlanoDeSaudeParaCorretora.Geral")">
        <form name="permissaoDeVendaDePlanoDeSaudeParaCorretoraForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" busy-if="$ctrl.loadingEntity">
                <div class="form-group">
                    <label class="control-label col-md-4">@L("PermissaoDeVendaDePlanoDeSaudeParaCorretora.Nome")</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" required
                               ng-model="$ctrl.entity.nome" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                                @L("PermissaoDeVendaDePlanoDeSaudeParaCorretora.Ativo")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab heading="@L("PermissaoDeVendaDePlanoDeSaudeParaCorretora.Corretoras")">
        <form name="corretoraForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div busy-if="$ctrl.loading">
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Corretora")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectCorretora"
                                         is-required="true">
                        </ez-select-typed>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-9 margin-top-10">
                            <button type="submit"
                                    button-busy="$ctrl.saving"
                                    busy-text="@L("SavingWithThreeDot")"
                                    class="btn btn-primary blue"
                                    ng-disabled="corretoraForm.$invalid"
                                    ng-click="$ctrl.addCorretora()">
                                <i class="fa fa-save"></i>
                                <span>
                                    @L("Adicionar")
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div busy-if="$ctrl.loadingCorretoraInput">
                    <div ui-grid="$ctrl.corretorasGridOptionsInput" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab heading="@L("PermissaoDeVendaDePlanoDeSaudeParaCorretora.Produtos")">
        <form name="produtoForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div busy-if="$ctrl.loading">
                <div class="form-group">
                    <label class="control-label col-md-4">@L("ProdutoDePlanoDeSaude")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectProdutoDePlanoDeSaude"
                                         is-required="true">
                        </ez-select-typed>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-9 margin-top-10">
                            <button type="submit"
                                    button-busy="$ctrl.saving"
                                    busy-text="@L("SavingWithThreeDot")"
                                    class="btn btn-primary blue"
                                    ng-disabled="produtoForm.$invalid"
                                    ng-click="$ctrl.addProduto()">
                                <i class="fa fa-save"></i>
                                <span>
                                    @L("Adicionar")
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div busy-if="$ctrl.loadingProdutoInput">
                    <div ui-grid="$ctrl.produtoDePlanoDeSaudesGridOptionsInput" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="permissaoDeVendaDePlanoDeSaudeParaCorretoraForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
        </div>
    </div>
</div>


