.robot_limbs_and_ears{
	fill:#503643;
}

.robot_joints_and_belly{
	fill:#8BCA9B;
}

.error_code{
	fill:#85919a;
	font-size:322px;
}

.robot_body{
	fill:#56BF9B;
}

.robot_eye_whites{
	fill:#F3ECBA;
}

.robot_hands_feet{
	fill:#E64661;
}

.robot_antenna{
	fill:#E64661;
}

.robot_antenna_highlight{
	fill:#F2748D;
}

.robot_eyes{
	fill:#E64661;
}

.robot_eyes_highlight{
	fill:#F2748D;
}