﻿@using EZ.EZControl.Localization

<form name="clienteEZLivForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body" busy-if="$ctrl.loadingEntity">
        <div class="form-group">
            <label class="control-label col-md-4">@L("ClienteEZLiv.Cliente")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectCliente">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-1">@L("ClienteEZLiv.Observacao")</label>
            <div class="col-md-11">
                <textarea class="form-control" name="observacao"
                          rows="10"
                          ng-model="$ctrl.entity.observacao" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.entity.isActive" />
                        @L("ClienteEZLiv.Ativo")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="clienteEZLivForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>