﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Menus")" headerInfo="@L("MenusHeaderInfo")">
    </cabecalho>

    <menu-index>
    </menu-index>

    <rodape></rodape>
</div>