﻿@using EZ.EZControl.Domain.Global.Pessoa
@using EZ.EZControl.Localization

<form name="documentoForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="form-group" ng-if="!$ctrl.isDetail">
            <label class="control-label col-md-4">@L("Pessoa")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectPessoa"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Documento.TipoDeDocumento")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectTipoDeDocumento"
                                 is-required="true"
                                 input-disabled="!$ctrl.pessoa.id">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Documento.Numero")</label>
            <div class="col-md-5">
                <input type="text" class="form-control" required maxlength="@Documento.MaxNumeroLength"
                       ui-mask="{{$ctrl.mascaraDocumento}}"
                       ui-mask-placeholder-char="_"
                       model-view-value="false"
                       ng-model="$ctrl.entity.numero"
                       ez-field-validation="$ctrl.validaNumeroDocumento" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Documento.OrgaoExpedidor")</label>
            <div class="col-md-5">
                <input type="text" class="form-control" maxlength="@Documento.MaxOrgaoExpedidorLength"
                       ng-model="$ctrl.entity.orgaoExpedidor" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Estado.Pais")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectPais">
                </ez-select-typed>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">@L("Cidade.Estado") / @L("Documento.UF")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectEstado"
                                 input-disabled="!$ctrl.paisId">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Documento.DataExpedicao")</label>
            <div class="col-md-5">
                <input type="date" class="form-control"
                       ng-model="$ctrl.entity.dataExpedicao" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Documento.DataDeValidade")</label>
            <div class="col-md-5">
                <input type="date" class="form-control"
                       ng-model="$ctrl.entity.dataDeValidade" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Documento.Serie")</label>
            <div class="col-md-5">
                <input type="text" class="form-control" maxlength="@Documento.MaxSerieLength"
                       ng-model="$ctrl.entity.serie" />
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-if="!$ctrl.editing && $ctrl.isDetail"
                        ng-click="$ctrl.save($ctrl.isDetail)"
                        ng-disabled="documentoForm.$invalid">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Adicionar")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-if="$ctrl.editing || !$ctrl.isDetail"
                        ng-click="$ctrl.save($ctrl.isDetail)"
                        ng-disabled="documentoForm.$invalid">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>

<div ng-if="$ctrl.isDetail">
    <div busy-if="$ctrl.loadingDocumentos">
        <div ui-grid="$ctrl.documentoGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
    </div>
</div>