﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Documentos")" headerInfo="@L("DocumentosHeaderInfo")">
    </cabecalho>

    <documento-index>
    </documento-index>

    <rodape></rodape>
</div>