﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("RedeCredenciada")" headerInfo="@L("RedeCredenciadaInfo")">
    </cabecalho>

    <rede-credenciada-index>
    </rede-credenciada-index>

    <rodape></rodape>
</div>