﻿<form name="disponibilidadeForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div busy-if="$ctrl.loading">
            <div class="form-group">
                <label class="control-label col-md-4">@L("Disponibilidade.Titulo")</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" required ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.titulo" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Disponibilidade.Sistema")</label>
                <div class="col-md-5">
                    <select name="sistema"
                            class="form-control"
                            ng-disabled="$ctrl.disableControls"
                            ng-model="$ctrl.entity.sistema"
                            ng-options="item.valor as item.descricao for item in $ctrl.sistemaEnum" required>
                        <option value="">(Escolha o sistema)</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Disponibilidade.TipoDeEvento")</label>
                <div class="col-md-5">
                    <select name="tipoDeEvento"
                            class="form-control"
                            ng-disabled="$ctrl.disableControls"
                            ng-model="$ctrl.entity.tipoDeEvento"
                            ng-options="item.valor as item.descricao for item in $ctrl.tipoDeEventoEnum" required>
                        <option value="">(Escolha o Tipo de Evento)</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Disponibilidade.TipoDeDisponibilidade")</label>
                <div class="col-md-5">
                    <select name="tipoDeDisponibilidade"
                            class="form-control"
                            ng-disabled="$ctrl.disableControls"
                            ng-model="$ctrl.entity.tipoDeDisponibilidade"
                            ng-change="$ctrl.tipoDeDisponibilidadeSelected()"
                            ng-options="item.valor as item.descricao for item in $ctrl.tipoDeDisponibilidadeEnum" required>
                        <option value="">(Escolha o Tipo de Disponibilidade)</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-if="$ctrl.entity.tipoDeDisponibilidade == 2">
                <label class="control-label col-md-4">@L("Disponibilidade.DiaDaSemana")</label>
                <div class="col-md-5">
                    <select name="diaDaSemana"
                            style="height: 155px"
                            class="form-control"
                            ng-disabled="$ctrl.disableControls"
                            ng-model="$ctrl.entity.semana"
                            ng-options="item.valor as item.descricao for item in $ctrl.dayOfWeek" multiple required></select>
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.entity.tipoDeDisponibilidade == 1">
                <label class="control-label col-md-4">@L("Disponibilidade.NumeroDeDias")</label>
                <div class="col-md-5">
                    <input class="form-control" type="number" ng-change="$ctrl.calcValidade()" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.numeroDeDias" />
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.entity.tipoDeDisponibilidade == 3">
                <label class="control-label col-md-4">@L("Disponibilidade.Data")</label>
                <div class="col-md-5">
                    <input class="form-control" type="date" ng-disabled="$ctrl.disableControls" required ng-model="$ctrl.entity.dataEspecifica" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Disponibilidade.HorarioInicio")</label>
                <div class="col-md-5">
                    <input class="form-control timepicker timepicker-24" name="horarioInicio" type="text" required
                           ng-model="$ctrl.entity.horarioInicio" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Disponibilidade.HorarioFim")</label>
                <div class="col-md-5">
                    <input class="form-control timepicker timepicker-24" name="horarioFim" type="text" required
                           ng-model="$ctrl.entity.horarioFim" />
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.entity.tipoDeDisponibilidade == 1 || $ctrl.entity.tipoDeDisponibilidade == 2">
                <label class="control-label col-md-4">@L("Disponibilidade.DataInicioValidade")</label>
                <div class="col-md-5">
                    <input class="form-control" type="date" ng-change="$ctrl.calcValidade()" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.dataInicioValidade" />
                </div>
            </div>
            <div class="form-group" ng-if="$ctrl.entity.tipoDeDisponibilidade == 1 || $ctrl.entity.tipoDeDisponibilidade == 2">
                <label class="control-label col-md-4">@L("Disponibilidade.DataFimValidade")</label>
                <div class="col-md-5">
                    <input class="form-control" ng-disabled="$ctrl.entity.tipoDeDisponibilidade == 1" type="date" ng-model="$ctrl.entity.dataFimValidade" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                            @L("Cidade.Ativo")
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-4 col-md-9">
                    <button ng-disabled="$ctrl.saving"
                            type="button"
                            class="btn btn-default"
                            ng-click="$ctrl.cancel()">
                        @L("Back")
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue"
                            ng-click="$ctrl.save()"
                            ng-disabled="disponibilidadeForm.$invalid"
                            ng-if="$ctrl.entity.id == 0">
                        <i class="fa fa-save"></i>
                        <span>
                            @L("Save")
                        </span>
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue"
                            ng-click="$ctrl.editWithEvento()"
                            ng-disabled="disponibilidadeForm.$invalid"
                            ng-if="$ctrl.entity.id > 0">
                        <i class="fa fa-save"></i>
                        <span>
                            @L("Save")
                        </span>
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary red"
                            ng-click="$ctrl.delete()"
                            ng-disabled="disponibilidadeForm.$invalid"
                            ng-if="!$ctrl.createOrEdit">
                        <i class="fa fa-remove"></i>
                        <span>
                            @L("Delete")
                        </span>
                    </button>
                </div>
            </div>
        </div>


    </div>
</form>

<script>
    $('.timepicker').timepicker({
        minuteStep: 1,
        appendWidgetTo: 'body',
        showSeconds: true,
        showMeridian: false,
        defaultTime: false
    });
</script>