﻿@using EZ.EZControl.Localization


<uib-tabset style="padding: 20px;">
    <uib-tab heading="@L("Corretora")" select="$ctrl.selectTab($ctrl.passoDaPropostaForTabsEnum.PreCadastro)">
        <form name="forms.corretoraForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" ng-init="$ctrl.setFormScope(this.forms.corretoraForm)">
                <div busy-if="$ctrl.loading">
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Pessoa")</label>
                        <div class="col-md-5">
                            <ez-select-typed ez-select="$ctrl.ezSelectPessoaJuridica"
                                             is-required="true">
                            </ez-select-typed>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Corretora.Nome")</label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" ng-model="$ctrl.entity.nome" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Administradora.Logo")</label>
                        <div class="col-md-5">
                            <ez-file-typed ez-file="$ctrl.ezFile"></ez-file-typed>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Corretora.CorretorPadrao")</label>
                        <div class="col-md-5">
                            <ez-select-typed ez-select="$ctrl.ezSelectCorretor"
                                             is-required="true">
                            </ez-select-typed>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                                    @L("Corretora.Ativo")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>

    <uib-tab heading="Deposito em conta">
        <div busy-if="$ctrl.loading">

            <form name="depositoContaForm" role="form" novalidate class="form-horizontal" bn-uniform>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>Banco</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.depositoTransferenciaBancariaCurrent.banco" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>Número da Agência</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.depositoTransferenciaBancariaCurrent.agencia" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>Número da conta</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.depositoTransferenciaBancariaCurrent.conta" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>Titular</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.depositoTransferenciaBancariaCurrent.titular" />
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </uib-tab>

    <uib-tab heading="@L("Corretora.DadosPagSeguro")">
        <div busy-if="$ctrl.loading">

            <form name="pagSeguroForm" role="form" novalidate class="form-horizontal" bn-uniform>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Corretora.Email")</label>
                        <div>
                            <input type="email" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.email" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Corretora.Token")</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.token" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Corretora.AppId")</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.appId" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Corretora.AppKey")</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.appKey" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </uib-tab>

    <uib-tab heading="@L("Gerentes")" ng-if="$ctrl.entity.id > 0">
        <form name="gerenteForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Corretor")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectGerente"
                                     is-required="true">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="!$ctrl.editandoGerente"
                                ng-click="$ctrl.salvarGerente()"
                                ng-disabled="gerenteForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                        <button ng-disabled="$ctrl.saving"
                                type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancelEditGerente()">
                            @L("Cancel")
                        </button>
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="$ctrl.editandoGerente"
                                ng-click="$ctrl.salvarGerente()"
                                ng-disabled="gerenteForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            <div busy-if="$ctrl.saving" ng-disabled="$ctrl.editandoGerente">
                <div ui-grid="$ctrl.gerenteGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </form>
    </uib-tab>

    <uib-tab heading="@L("Supervisores")" ng-if="$ctrl.entity.id > 0">
        <form name="supervisorForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Corretor")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectSupervisor"
                                     is-required="true">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="!$ctrl.editandoSupervisor"
                                ng-click="$ctrl.salvarSupervisor()"
                                ng-disabled="supervisorForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                        <button ng-disabled="$ctrl.saving"
                                type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancelEditSupervisor()">
                            @L("Cancel")
                        </button>
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="$ctrl.editandoSupervisor"
                                ng-click="$ctrl.salvarSupervisor()"
                                ng-disabled="supervisorForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            <div busy-if="$ctrl.saving" ng-disabled="$ctrl.editandoSupervisor">
                <div ui-grid="$ctrl.supervisorGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>



<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="corretoraForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
        </div>
    </div>
</div>