﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Corretora")" headerInfo="@L("CorretoraHeaderInfo")">
    </cabecalho>

    <corretora-index>
    </corretora-index>

    <rodape></rodape>
</div>