﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("FormaDePagamento")" headerInfo="@L("FormaDePagamentoHeaderInfo")">
    </cabecalho>

    <forma-de-pagamento-index>
    </forma-de-pagamento-index>

    <rodape></rodape>
</div>