﻿<md-autocomplete 
    flex
    md-input-name="{{$ctrl.name}}"
    md-input-minlength="{{$ctrl.minLength}}"
    md-input-maxlength="{{$ctrl.maxLength}}"
    md-no-cache="$ctrl.noCache"
    md-selected-item="$ctrl.selectedItem"
    md-search-text="$ctrl.searchText"
    md-items="item in $ctrl.querySearch($ctrl.searchText)"
    md-item-text="item.display"
    md-require-match
    md-select-on-match="true"
    md-selected-item-change="$ctrl.onSelectRecord(item)"
    md-floating-label="{{$ctrl.placeholder}}">
    <md-item-template>
        <span md-highlight-text="$ctrl.searchText">{{item.display}}</span>
    </md-item-template>
</md-autocomplete>