﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("TiposDeDocumento")" headerInfo="@L("TiposDeDocumentoHeaderInfo")">
    </cabecalho>

    <tipo-de-documento-index>
    </tipo-de-documento-index>

    <rodape></rodape>
</div>