﻿.statusDoProcessoWrapper {
    border-bottom: solid 1px #d1d1d1;
    margin-bottom: 40px;
}

    .statusDoProcessoWrapper .title {
        border-top: solid 1px #d1d1d1;
        border-bottom: solid 1px #d1d1d1;
        padding-bottom: 10px;
        text-align: center;
    }

        .statusDoProcessoWrapper .title h2, .statusDoProcessoWrapper .status-processo h2, .statusDoProcessoWrapper .formularios-processo h2 {
            text-transform: uppercase;
            font-size: 18px;
            color: #999999;
            text-align: center;
            font-weight: bold;
        }

    .statusDoProcessoWrapper .dados-plano {
        padding-top: 10px;
    }

    .statusDoProcessoWrapper .dados-plano img {
        height: 30px;
    }

    .statusDoProcessoWrapper .dados-plano span.texto-caracteristica, .statusDoProcessoWrapper .dados-plano h3.texto-caracteristica {
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        color: #999999;
    }

    .statusDoProcessoWrapper .status-processo h2 {
        margin-bottom: 15px;
    }

    .statusDoProcessoWrapper .status-processo {
        /*border-left: solid 1px #d1d1d1;*/
        border-right: solid 1px #d1d1d1;
    }

        .statusDoProcessoWrapper .status-processo ul li, .statusDoProcessoWrapper .formularios-processo ul li {
            padding-bottom: 5px;
            font-size: 18px;
            color: #999999;
            font-weight: lighter;
        }

            .statusDoProcessoWrapper .status-processo ul li i.active {
                color: green;
            }

            .statusDoProcessoWrapper .status-processo ul li i.inProgress {
                color: #D7B40F;
            }
