﻿<h2 class="page-title">Pré-cadastro</h2>
<div class="ez-accordion-wrapper" ng-click="isCollapsed = !isCollapsed">
    <ezaccordion accordion-title="Dados do Titular" ng-class="{'active': !isCollapsed}"></ezaccordion>
</div>
<div uib-collapse="isCollapsed">
    <div class="col-md-6 np-l">
        <div class="col-md-6 np-l">
            <label class="control-label">
                @L("Enum_TipoDeDocumentoEnum_Cpf")


                <a style="color:saddlebrown;">(?)   <md-tooltip md-direction="right">CPF do cliente</md-tooltip> </a>

                <a href="javascript:void(0);"
                   style="float: right;text-transform: lowercase; font-weight: 400; color: #25aae1;"
                   ng-click="$ctrl.irPopupReceitaParaValidacao($ctrl.preCadastroInput.cpf, $ctrl.formataParaDataBrasilera($ctrl.preCadastroInput.dataDeNascimento))"
                   nf-if="!$ctrl.tipoDeUsuarioBeneficiario">
                    Validar
                </a>
            </label>
            
            <div>
                <input type="text" class="form-control"                       
                       ng-keyup="$ctrl.onlyNumberKeyup($event)"
                       i-mask="{{$ctrl.mascaraDocumento}}"
                       ng-model="$ctrl.preCadastroInput.cpf"
                       maxlength="11"
                       required
                       ng-disabled="$ctrl.disabledCPFAndEmailPreCadastro"
                       ng-readonly="$ctrl.eParaSerReadOnly"
                       ng-change="$ctrl.getPessoaByCpf()" autofocus/>
            </div>
        </div>

        <div class="col-md-6 np-r">
            <label class="control-label">@L("PessoaFisica.DataDeNascimento")    <a style="color:saddlebrown;">(?) <md-tooltip md-direction="right">Data de Nascimento do cliente </md-tooltip></a>  </label>
            <div>
                <input type="date" class="form-control" required
                       ng-model="$ctrl.preCadastroInput.dataDeNascimento"
                       ng-readonly="$ctrl.eParaSerReadOnly" />
            </div>
        </div>

        <div class="col-md-12 no-padding">
            <label class="control-label">@L("Beneficiario.NomeCompleto")   </label>
            <div>
                <input type="text" maxlength="60" class="form-control"
                       ng-model="$ctrl.preCadastroInput.nomeCompleto"
                       ng-readonly="$ctrl.eParaSerReadOnly" />
            </div>
        </div>

        <div class="col-md-12 no-padding">
            <label class="control-label">@L("Beneficiario.Email")</label>
            <div>
                <input type="email" maxlength="60" class="form-control" required
                       ng-disabled="$ctrl.disabledCPFAndEmailPreCadastro"
                       ng-model="$ctrl.preCadastroInput.email"
                       ng-readonly="$ctrl.eParaSerReadOnly" />
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px; margin-left: 10px;">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.preCadastroInput.titularResponsavelLegal"/>
                    @L("PropostaDeContratacao.TitularResponsavelLegal")
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-6 np-r">
        <div class="col-md-6 np-l">
            <label class="control-label">@L("Enum_TipoTelefoneEnum_Celular")</label>
            <div>
                <input type="text" class="form-control"
                       ui-mask="(99) 99999-9999"
                       model-view-value="true"
                       ng-model="$ctrl.preCadastroInput.celular" required
                       ng-readonly="$ctrl.eParaSerReadOnly" />
            </div>
        </div>

        <div class="col-md-6 np-r">
            <label class="control-label">@L("Estado")</label>
            <div>
                <ez-select-typed ez-select="$ctrl.ezSelectEstado" is-required="true" input-disabled="$ctrl.eParaSerReadOnly">
                </ez-select-typed>
            </div>
        </div>

        <div class="col-md-12 no-padding">
            <label class="control-label">@L("Profissao")</label>
            <div>
                <ez-select-typed ez-select="$ctrl.ezSelectProfissao" is-required="true" input-disabled="$ctrl.eParaSerReadOnly"></ez-select-typed>
            </div>
        </div>

      


        @*<div class="col-md-12 no-padding" ng-if="!$ctrl.tipoDeUsuarioBeneficiario">
            <label class="control-label">@L("PessoaFisica.GrupoPessoa")</label>
            <div>
                <ez-select-typed ez-select="$ctrl.ezSelectGrupoPessoa" input-disabled="$ctrl.eParaSerReadOnly"></ez-select-typed>
            </div>
        </div>*@
    </div>
</div>
<br />

<div class="col-md-12 no-padding">
    <ng-include src="'~/App/tenant/views/ezliv/propostaDeContratacao/passoEnvioDeDependente/passoEnvioDeDependenteForm.cshtml'"></ng-include>
</div>