﻿@using Abp.Timing
@using EZ.EZControl.CMS.Frontend.Template.DoutorEz.Helpers
@{
//SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="@SearchHelper.GetLangCulture(Request)">
<head>
    <meta charset="UTF-8">
    <title>DoutorEZ</title>
    <link rel="stylesheet" type="text/css" href="~/Template/DoutorEz/Webroot/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Template/DoutorEz/Webroot/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/Template/DoutorEz/Webroot/css/homepage.css" />
    @if (Request.Browser.IsMobileDevice)
    {
        <link rel="stylesheet" type="text/css" href="~/Template/DoutorEz/Webroot/css/mobile.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/Template/DoutorEz/Webroot/css/desktop.css" />
    }
    <!--[if lt IE 9]>
        <script type="text/javascript" src="~/Template/DoutorEz/Webroot/js/html5shiv.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Template/DoutorEz/Webroot/css/ie8.css" />
    <![endif]-->
</head>
<body>
    <div id="wrapper" class="wrapper-login">

        <div id="bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-0 col-sm-0 col-md-0 col-lg-0">
                        <div class="bar-left">
                        </div>
                    </div>
                    <div class="col-xs-16 col-sm-16 col-md-16 col-lg-16">
                        <div class="bar-right dropdown">

                            @Html.Partial("../../Template/DoutorEz/Shared/_BarRight")

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="content">
            <div class="container-fluid">
                <div class="row">
                    <center class="content-center-top">
                        <a href="/" title="DoutorEZ">
                            <div class="content-logo" title="DoutorEZ">
                                <div class="content-logo-text"></div>
                            </div>
                        </a>
                        <form class="form-inline search" action="/search" role="form">
                            <div class="form-group">
                                <input id="sterm" type="search" name="q" class="form-control sterm" placeholder="descrição:">
                                <i class="i-sterm glyphicon glyphicon-briefcase"></i>
                                <label for="sterm">digite o nome, especialidade, doença...</label>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default dropdown-toggle psearch" data-toggle="dropdown">
                                    @*@SearchHelper.GetPaisSelecionado(Request, Model.Paises)*@
                                    <span class="flag flag-br" data-pais="1" data-sigla="BR" data-lang="pt-BR"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu menu-flag psearch" role="menu">
                                    @*@SearchHelper.GetPaisOpcoes(Request, Model.Paises)*@
                                    <li><a href="javascript:void(0);"><span class="flag flag-us" data-pais="2" data-sigla="US" data-lang="en-US"></span><span class="text">US</span></a></li>
                                </ul>
                                <input id="local" type="text" name="l" class="form-control local" placeholder="local:">
                                <i class="i-local glyphicon glyphicon-map-marker"></i>
                                <label for="local">digite a cidade</label>
                            </div>
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>

                            <input type="hidden" name="c" />
                            <input type="hidden" name="p" />
                            <input type="hidden" name="pi" />
                            <input type="hidden" name="lang" />
                        </form>
                    </center>
                </div>
            </div>
        </section><!-- #content -->


        @Html.Partial("../../Template/DoutorEz/Shared/_Footer")

    </div><!-- #wrapper -->

    <script type="text/javascript" src="~/Template/DoutorEz/Webroot/js/jquery.js"></script>
    <script type="text/javascript" src="~/Template/DoutorEz/Webroot/js/jquery-ui.js"></script>
    @*<script type="text/javascript" src="~/Abp/Framework/scripts/abp.js?v=@(Clock.Now.Ticks)"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jquery.js"></script>
    <script type="text/javascript">
        abp.localization.defaultSourceName = 'QualiJobs';
    </script>
    <script type="text/javascript" src="/qjscripts/getscripts?v=@(Clock.Now.Ticks)"></script>
    <script type="text/javascript" src="/qjscripts/getscriptsspecific"></script>*@
    <script type="text/javascript" src="~/Template/DoutorEz/Webroot/js/all.js"></script>
    <script type="text/javascript" src="~/Template/DoutorEz/Webroot/js/homepage.js"></script>
    <script type="text/javascript" src="~/Template/DoutorEz/Webroot/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            autoComplete('#local');
        });
    </script>

</body>
</html>
