﻿@using System.Web.Mvc.Html
@using Abp.Timing
@using EZ.EZControl.CMS.Frontend.Template.DoutorEz.Helpers
@{
//SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="@SearchHelper.GetLangCulture(Request)">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Titulo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="~/webroot/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/webroot/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/webroot/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="~/webroot/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/webroot/css/homepage.css" />
    @if (Request.Browser.IsMobileDevice)
    {
        <link rel="stylesheet" type="text/css" href="~/webroot/css/mobile.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/webroot/css/desktop.css" />
    }
    <link rel="stylesheet" type="text/css" href="~/webroot/css/info.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="~/webroot/js/html5shiv.js"></script>
        <link rel="stylesheet" type="text/css" href="~/webroot/css/ie8.css" />
    <![endif]-->

</head>

<body>

    <div id="wrapper" class="wrapper-psearch">
        <div id="bar" class="psearch">
            <div class="container-fluid">
                <div class="bar-left">
                    <a href="/" title="@L("Frontend.QualiJobs")">
                        <div class="bar-left-logo psearch" title="@L("Frontend.QualiJobs")"></div>
                    </a>
                </div>
                <div class="bar-right dropdown">

                    @Html.Partial("_BarRight")

                </div>
            </div>
        </div>

        <section id="content-psearch">

            <div class="container">

                <div class="row">

                    <div class="col-md-9">

                        <div class="info">
                            
                            @RenderBody()

                        </div>

                    </div>

                    <div class="col-md-3">

                        <p class="lead">@L("Frontend.MenuParaTermos")</p>
                        <div class="list-group">
                            @{
                                var actionName = ViewContext.RouteData.Values["action"].ToString();
                            }
                            <a href="@Url.Action("Terms", new {controller = "Info"})" class="list-group-item @QualiJobsHelper.GetClassActiveMenuTermos(actionName, "Terms")">@L("Frontend.TermosDeUso")</a>
                            <a href="@Url.Action("Privacy", new {controller = "Info"})" class="list-group-item @QualiJobsHelper.GetClassActiveMenuTermos(actionName, "Privacy")">@L("Frontend.PoliticaDePrivacidade")</a>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        @Html.Partial("_Footer")

    </div>
    
    <script type="text/javascript" src="~/webroot/js/jquery.js"></script>
    <script type="text/javascript" src="~/webroot/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/webroot/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/webroot/js/toastr.min.js"></script>
    <script type="text/javascript" src="~/Abp/Framework/scripts/abp.js?v=@(Clock.Now.Ticks)"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jquery.js"></script>
    <script type="text/javascript">
        abp.localization.defaultSourceName = 'QualiJobs';
    </script>
    <script type="text/javascript" src="/qjscripts/getscripts?v=@(Clock.Now.Ticks)"></script>
    <script type="text/javascript" src="/qjscripts/getscriptsspecific"></script>
    <script type="text/javascript" src="~/webroot/js/all.js"></script>

    <script>
    toastr.options = { "positionClass": "toast-center", "timeOut": "8000", "closeButton": true };
    if ('') {
        toastr.success('')
    } else if ('') {
        toastr.error('')
    } else if ('') {
        toastr.warning('')
    }
    </script>

</body>
</html>
