﻿@using System.Web.Mvc.Html
@using Abp.Timing
@using EZ.EZControl.CMS.Frontend.Template.DoutorEz.Helpers
@{
//SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="@SearchHelper.GetLangCulture(Request)">
<head>
    <meta charset="UTF-8">
    <title>@L("Frontend.QualiJobs")</title>
    <link rel="stylesheet" type="text/css" href="~/webroot/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/webroot/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/webroot/css/template.css" />
    @if (Request.Browser.IsMobileDevice)
    {
        <link rel="stylesheet" type="text/css" href="~/webroot/css/mobile.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/webroot/css/desktop.css" />
    }
    <!--[if lt IE 9]>
        <script type="text/javascript" src="~/webroot/js/html5shiv.js"></script>
        <link rel="stylesheet" type="text/css" href="~/webroot/css/ie8.css" />
    <![endif]-->
</head>
<body>
    <div id="wrapper" class="wrapper-psearch">

        <div id="bar" class="psearch">
            <div class="container-fluid">

                <div class="bar-left">
                    <a href="/" title="@L("Frontend.QualiJobs")">
                        <div class="bar-left-logo psearch" title="@L("Frontend.QualiJobs")"></div>
                    </a>
                    <form class="form-inline search" action="/search" role="form" method="get">
                        <div class="form-group psearch">
                            <input id="sterm" type="search" name="q" value="@Request.QueryString["q"]" class="form-control sterm psearch" placeholder="@L("Frontend.DescricaoDaVaga"):">
                            <i class="i-sterm glyphicon glyphicon-briefcase"></i>
                        </div>
                        <div class="form-group psearch hidden-xs hidden-sm">
                            <button type="button" class="btn btn-default dropdown-toggle psearch" data-toggle="dropdown">
                                @SearchHelper.GetPaisSelecionado(Request, Model.Paises)
                            </button>
                            <ul class="dropdown-menu menu-flag psearch" role="menu">
                                @SearchHelper.GetPaisOpcoes(Request, Model.Paises)
                            </ul>
                            <input id="local" type="text" name="l" value="@Request.QueryString["l"]" class="form-control local psearch" placeholder="@L("Frontend.LocalDaVaga"):">
                            <i class="i-local glyphicon glyphicon-map-marker"></i>
                        </div>
                        <button type="submit" class="btn btn-success glyphicon-psearch"><span class="glyphicon glyphicon-search"></span></button>
                        

                        <input type="hidden" name="c" value="@Request.QueryString["c"]" />
                        <input type="hidden" name="p" value="@Request.QueryString["p"]" />
                        <input type="hidden" name="pi" value="@Request.QueryString["pi"]" />
                        <input type="hidden" name="lang" value="@Request.QueryString["lang"]" />
                    </form>
                </div>

                <div class="bar-right dropdown">

                    @Html.Partial("_BarRight")

                </div>

            </div>
        </div>

        @Html.Partial("Search/_MenuOptions")

        <section id="content-psearch">
        
            @RenderBody()

        </section><!-- #content -->

        @Html.Partial("_Footer")

    </div><!-- #wrapper -->

    <script type="text/javascript" src="~/webroot/js/jquery.js"></script>
    <script type="text/javascript" src="~/webroot/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/webroot/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Abp/Framework/scripts/abp.js?v=@(Clock.Now.Ticks)"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jquery.js"></script>
    <script type="text/javascript">
        abp.localization.defaultSourceName = 'QualiJobs';
    </script>
    <script type="text/javascript" src="/qjscripts/getscripts?v=@(Clock.Now.Ticks)"></script>
    <script type="text/javascript" src="/qjscripts/getscriptsspecific"></script>
    <script type="text/javascript" src="~/webroot/js/all.js"></script>
    <script type="text/javascript" src="~/webroot/js/search.js"></script>
    <script type="text/javascript" src="~/webroot/js/perfect-scrollbar.min.js"></script>
    <script>
        $(document).ready(function () {
            autoComplete('#local, #local2');
        });
    </script>

</body>
</html>
