﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Simulador Online</title>

        <script src="/libs/jquery/jquery.min.js"></script>
        <script src="/Abp/Framework/scripts/abp.js" type="text/javascript"></script>
        <script src="/Abp/Framework/scripts/libs/abp.jquery.js" type="text/javascript"></script>
        <script src="~/Views/Simulador/Simulador.js" type="text/javascript"></script>

    </head>
    <body>
        <div>






            <form class="busca">
                <label for="_user_name">Nome:</label>
                <input type="text" id="Nome" name="Nome" value="amorim" />
                <label for="_user_pass">Senha:</label>
                <input type="password" id="Senha" name="Senha" value="1234" />
            </form>

            <button onclick="javascript:BuscarPlanos()" title="ad action">Buscar Planos</button>


            <button onclick="javascript:ResumoSimulador()" title="ad action">Resumo Simulador</button>

            <button onclick="javascript:CompreAgora()" title="ad action">Compre Agora</button>




        </div>
    </body>
</html>

