﻿@using EZ.EZControl.Localization
<uib-tabset>
    <uib-tab heading="@L("Chancela.Geral")">
        <form name="chancelaForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" busy-if="$ctrl.loadingEntity">
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Entidade")</label>
                        <div class="col-md-5">
                            <ez-select-typed ez-select="$ctrl.ezSelectEntidade"
                                             is-required="false">
                            </ez-select-typed>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Chancela.Nome")</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" required
                               ng-model="$ctrl.entity.nome" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Chancela.TaxaDeAdesao")</label>
                    <div class="col-md-5">
                        <input type="number" min="0" max="99999" class="form-control" required
                               ng-model="$ctrl.entity.taxaDeAdesao" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Chancela.TaxaMensal")</label>
                    <div class="col-md-5">
                        <input type="number" min="0" max="99999" class="form-control" required
                               ng-model="$ctrl.entity.taxaMensal" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                                @L("Chancela.Ativo")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab heading="@L("Chancela.Profissoes")" >
        <div busy-if="$ctrl.loading">
            <div class="form-group">
                <label class="control-label col-md-4">@L("Profissao")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectProfissao"
                                     is-required="false">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9 margin-top-10">
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-disabled="valorForm.$invalid"
                                ng-click="$ctrl.addProfissao()">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Adicionar")
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div busy-if="$ctrl.loadingProfissaoInput">
                <div ui-grid="$ctrl.profissoesGridOptionsInput" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="chancelaForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
        </div>
    </div>
</div>


