﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Chancela")" headerInfo="@L("ChancelaHeaderInfo")">
    </cabecalho>

    <chancela-index>
    </chancela-index>

    <rodape></rodape>
</div>