﻿<style>
    #declaracaoDeSaude .form-inline .itemf {
        display: inline-block;
    }

    #declaracaoDeSaude > .ezs-container {
        background-color: #f4f4f4;
    }

    #declaracaoDeSaude .list-group-item {
        padding: 20px 30px;
    }

    #declaracaoDeSaude textarea {
        width: 150%;
    }
</style>

<h2 class="page-title">Declaração de Saúde</h2>




<div class="portlet box blue">

    <div class="portlet-title">
        <div class="caption">
            {{$ctrl.entity.titular.pessoaFisica.nome}}
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body" id="declaracaoDeSaude">
        <div class="ezs-container">


            <div class="col-md-6 list-group-item" ng-repeat="respostaTitular in $ctrl.entity.titular.respostasDeclaracaoDeSaude | orderBy: 'ordenacao'">
                <div class="list-group-item-heading">
                    {{respostaTitular.pergunta}}
                </div>
                <div class="list-group-item-info">
                    <div class="form-inline">
                        <div style="margin-bottom: 5px;" ng-if="respostaTitular.tipoDeItemDeDeclaracao === 1">
                            <input type="radio" ng-model="respostaTitular.marcada" value="N" ng-disabled="$ctrl.eParaSerReadOnly || !$ctrl.tipoDeUsuarioBeneficiario"> Não
                            <input type="radio" ng-model="respostaTitular.marcada" value="S" ng-disabled="$ctrl.eParaSerReadOnly || !$ctrl.tipoDeUsuarioBeneficiario"> Sim<br>
                        </div>

                        <div>
                            <div class="col-md-4" style="padding: 0; margin-bottom: 10px" ng-if="respostaTitular.tipoDeItemDeDeclaracao === 1 && respostaTitular.marcada === 'S'">
                                <div class="itemf">
                                    Ano do Evento:
                                </div>
                                <div class="itemf">
                                    <input type="number" style="width: 55px;" ng-maxlength="4" ng-model="respostaTitular.anoDoEvento" ng-disabled="(!respostaTitular.marcada || respostaTitular.marcada === 'N')  || $ctrl.eParaSerReadOnly" />
                                </div>
                            </div>

                            <div class="col-md-8" style="padding: 0" ng-if="respostaTitular.tipoDeItemDeDeclaracao === 1 && respostaTitular.marcada === 'S'">
                                <div class="itemf">
                                    Descrição:
                                </div>
                                <div class="itemf">
                                    <textarea ng-model="respostaTitular.observacao" ng-disabled="(!respostaTitular.marcada || respostaTitular.marcada === 'N')  || $ctrl.eParaSerReadOnly">
                                </textarea>
                                </div>
                            </div>

                            <div class="itemf" ng-if="respostaTitular.tipoDeItemDeDeclaracao === 2">
                                <input type="text" ui-mask="9.99" ng-model="respostaTitular.observacao" ng-disabled="$ctrl.eParaSerReadOnly || !$ctrl.tipoDeUsuarioBeneficiario" />
                            </div>

                            <div class="itemf" ng-if="respostaTitular.tipoDeItemDeDeclaracao === 3">
                                <input type="text" maxlength="3" ng-keyup="$ctrl.onlyNumberKeyup($event)" ng-model="respostaTitular.observacao" ng-disabled="$ctrl.eParaSerReadOnly || !$ctrl.tipoDeUsuarioBeneficiario" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="portlet box blue" ng-repeat="dependente in $ctrl.entity.dependentes">



    @*<div class="portlet-title">
            <div class="caption">
                {{dependente.pessoaFisica.nome}}
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="respostaDependente in dependente.respostasDeclaracaoDeSaude | orderBy: 'ordenacao'">
                    <div class="list-group-item-heading">
                        {{respostaDependente.pergunta}}
                    </div>
                    <div class="list-group-item-info">
                        <div class="form-group">
                            <div class="col-md-2" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 1">
                                <input type="radio" ng-model="respostaDependente.marcada" value="N" ng-disabled="$ctrl.eParaSerReadOnly"> Não
                                <input type="radio" ng-model="respostaDependente.marcada" value="S" ng-disabled="$ctrl.eParaSerReadOnly"> Sim<br>
                            </div>
                            <div class="col-md-10" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 1">
                                <input type="text" ui-mask="999" ng-model="respostaDependente.observacao" ng-disabled="(!respostaDependente.marcada || respostaDependente.marcada === 'N')  || $ctrl.eParaSerReadOnly" />
                            </div>



                            <div class="itemf" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 2">
                                <input type="text" ui-mask="9.99" ng-model="respostaDependente.observacao" ng-disabled="$ctrl.eParaSerReadOnly" />
                            </div>

                            <div class="itemf" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 3">
                                <input type="text" ui-mask="999" ng-model="respostaDependente.observacao" ng-disabled="$ctrl.eParaSerReadOnly" />
                            </div>


                            <div class="col-md-2" style="margin-top: 10px" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 1">
                                Ano do Evento
                            </div>
                            <div class="col-md-10" style="margin-top: 10px" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 1">
                                <input type="number" ng-model="respostaDependente.anoDoEvento" ng-disabled="(!respostaDependente.marcada || respostaDependente.marcada === 'N')  || $ctrl.eParaSerReadOnly" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@



    <div class="portlet-title">
        <div class="caption">
            {{dependente.pessoaFisica.nome}}
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body" id="declaracaoDeSaude">
        <div class="ezs-container">


            <div class="col-md-6 list-group-item" ng-repeat="respostaDependente in dependente.respostasDeclaracaoDeSaude | orderBy: 'ordenacao'">
                <div class="list-group-item-heading">
                    {{respostaDependente.pergunta}}
                </div>
                <div class="list-group-item-info">
                    <div class="form-inline">
                        <div style="margin-bottom: 5px;" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 1">
                            <input type="radio" ng-model="respostaDependente.marcada" value="N" ng-disabled="$ctrl.eParaSerReadOnly || !$ctrl.tipoDeUsuarioBeneficiario"> Não
                            <input type="radio" ng-model="respostaDependente.marcada" value="S" ng-disabled="$ctrl.eParaSerReadOnly || !$ctrl.tipoDeUsuarioBeneficiario"> Sim<br>
                        </div>

                        <div>
                            <div class="col-md-4" style="padding: 0; margin-bottom: 10px" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 1 && respostaTitular.marcada === 'S'">
                                <div class="itemf">
                                    Ano do Evento:
                                </div>
                                <div class="itemf">
                                    <input type="number" style="width: 55px;" ng-maxlength="4" ng-model="respostaDependente.anoDoEvento" ng-disabled="(!respostaDependente.marcada || respostaDependente.marcada === 'N')  || $ctrl.eParaSerReadOnly" />
                                </div>
                            </div>

                            <div class="col-md-8" style="padding: 0" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 1 && respostaDependente.marcada === 'S'">
                                <div class="itemf">
                                    Descrição:
                                </div>
                                <div class="itemf">
                                    <textarea ng-model="respostaDependente.observacao" ng-disabled="(!respostaDependente.marcada || respostaDependente.marcada === 'N')  || $ctrl.eParaSerReadOnly">
                                </textarea>
                                </div>
                            </div>

                            <div class="itemf" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 2">
                                <input type="text" ui-mask="9.99" ng-model="respostaDependente.observacao" ng-disabled="$ctrl.eParaSerReadOnly || !$ctrl.tipoDeUsuarioBeneficiario" />
                            </div>

                            <div class="itemf" ng-if="respostaDependente.tipoDeItemDeDeclaracao === 3">
                                <input type="text"  maxlength="3" ng-model="respostaDependente.observacao" ng-disabled="$ctrl.eParaSerReadOnly || !$ctrl.tipoDeUsuarioBeneficiario" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

















</div>






<div ng-if="$ctrl.entity.produto.declaracaoDoBeneficiario">
    <h2 class="page-title">Declaração do Beneficiário</h2>
    <div ng-repeat="itemDeclaracaoDobeneficiario in $ctrl.entity.produto.declaracaoDoBeneficiario.itensDeDeclaracaoDoBeneficiario | orderBy: 'ordenacao'">
        <div class="list-group-item-heading">
            <input type="radio" ng-model="$ctrl.dadosGeraisInput.itemDeDeclaracaoDoBeneficiarioId" ng-disabled="!$ctrl.tipoDeUsuarioBeneficiario" ng-value="itemDeclaracaoDobeneficiario.id">
            {{itemDeclaracaoDobeneficiario.pergunta}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label">@L("PropostaDeContratacao.Documento")</label>
            <div>
                <ez-file-typed  ez-file="$ctrl.ezFileArquivoDeclaracao"></ez-file-typed>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <button type="button" class="btn btn-small doc-spacer" ng-disabled="!$ctrl.tipoDeUsuarioBeneficiario" ng-click="$ctrl.addArquivoDeclaracao()">Enviar</button>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="arquivoDocumento in $ctrl.entity.documentos | filter: { tipo: '14' }">
            <h4 class="list-group-item-heading">
                <a href="~/Uploads/{{arquivoDocumento.nome}}" target="_blank">
                    {{$ctrl.getNomeTipoDeDocumentoEscaneadoEzLiv(arquivoDocumento.tipo)}} - {{arquivoDocumento.nome}}
                </a>
            </h4>
            <div class="list-group-item-info">
                <span>
                    <a target="_blank" href="~/Uploads/{{arquivoDocumento.nome}}">Ver</a>
                    - <a href="~/Uploads/{{arquivoDocumento.nome}}" download>Baixar</a>
                    - <a ng-click="$ctrl.removeArquivoDocumento(arquivoDocumento)">Remover</a>
                </span>
            </div>
        </div>
    </div>
</div>



<div class="form-group" style="margin-top: 50px;">
    <div class="col-md-12" style="margin-left: 20px;">
        <div class="checkbox">
            <label ng-if="$ctrl.entity.responsavel == null">
                <input type="checkbox" ng-model="$ctrl.dadosGeraisInput.aceiteDaDeclaracaoDeSaude" ng-disabled="!$ctrl.tipoDeUsuarioBeneficiario" ng-change="$ctrl.salvarContinuarDisabled = !$ctrl.salvarContinuarDisabled" />
                Eu, {{$ctrl.entity.titular.pessoaFisica.nome}}, inscrito no CPF número {{$ctrl.entity.titular.pessoaFisica.cpf}}, atesto que tenho ciência que o preenchimento de informações não corretas na declaração de saúde constitui-se em crime.
            </label>
            <label ng-if="$ctrl.entity.responsavel != null">
                <input type="checkbox" ng-model="$ctrl.dadosGeraisInput.aceiteDaDeclaracaoDeSaude" ng-disabled="!$ctrl.tipoDeUsuarioBeneficiario" ng-change="$ctrl.salvarContinuarDisabled = !$ctrl.salvarContinuarDisabled" />
                Eu, {{$ctrl.entity.responsavel.pessoaFisica.nome}}, inscrito no CPF número {{$ctrl.entity.responsavel.pessoaFisica.cpf}}, atesto que tenho ciência que o preenchimento de informações não corretas na declaração de saúde constitui-se em crime.
            </label>
        </div>
    </div>
</div>
