﻿@using EZ.EZControl.Domain.Global.Localidade
@using EZ.EZControl.Localization

<form name="enderecoForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body">
        <div class="form-group" ng-if="!$ctrl.isDetail">
            <label class="control-label col-md-4">@L("Pessoa")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectPessoa"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.CEP")</label>
            <div class="col-md-5">
                <input name="cep" type="text" class="form-control"
                       ui-mask="99.999-999"
                       ui-mask-placeholder-char="_"
                       ng-model="$ctrl.entity.cep"
                       ng-change="$ctrl.getEndereco()" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.TipoEndereco")</label>
            <div class="col-md-5">
                <select name="tipoEndereco" class="form-control"
                        ng-model="$ctrl.entity.tipoEndereco"
                        ng-options="item.valor as item.descricao for item in $ctrl.tipoEnderecos"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.Descricao")</label>
            <div class="col-md-5">
                <input name="descricao" type="text" class="form-control" maxlength="@Endereco.MaxDescricaoLength"
                       ng-model="$ctrl.entity.descricao" />
            </div>
        </div>
       
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.TipoDeLogradouro")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectTipoDeLogradouro"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.Logradouro")</label>
            <div class="col-md-5">
                <input name="logradouro" type="text" class="form-control" required
                       ng-model="$ctrl.entity.logradouro" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.Numero")</label>
            <div class="col-md-5">
                <input name="numero" type="text" class="form-control" required
                       ng-model="$ctrl.entity.numero" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.Complemento")</label>
            <div class="col-md-5">
                <input name="complemento" type="text" class="form-control"
                       ng-model="$ctrl.entity.complemento" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.Bairro")</label>
            <div class="col-md-5">
                <input name="bairro" type="text" class="form-control"
                       ng-model="$ctrl.entity.bairro" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Estado.Pais")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectPais"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">@L("Cidade.Estado")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectEstado"
                                 input-disabled="!$ctrl.paisId">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Cidade")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectCidade"
                                 input-disabled="!$ctrl.estadoId">
                </ez-select-typed>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Endereco.Referencia")</label>
            <div class="col-md-5">
                <input name="referencia" type="text" class="form-control"
                       ng-model="$ctrl.entity.referencia" />
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-if="!$ctrl.editing && $ctrl.isDetail"
                        ng-click="$ctrl.save($ctrl.isDetail)"
                        ng-disabled="enderecoForm.$invalid">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Adicionar")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-if="$ctrl.editing || !$ctrl.isDetail"
                        ng-click="$ctrl.save($ctrl.isDetail)"
                        ng-disabled="enderecoForm.$invalid">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>

<div ng-if="$ctrl.isDetail">
    <div busy-if="$ctrl.loadingEnderecos">
        <div ui-grid="$ctrl.enderecoGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
    </div>
</div>