﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("ItensHierarquia")" headerInfo="@L("ItensHierarquiaHeaderInfo")">
    </cabecalho>

    <item-hierarquia-index>
    </item-hierarquia-index>

    <rodape></rodape>
</div>