﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Estoque.Saida")" headerInfo="@L("SaidaHeaderInfo")">
    </cabecalho>

    <estoque-saida-index>
    </estoque-saida-index>

    <rodape></rodape>
</div>