﻿@using EZ.EZControl.Localization

<uib-tabset style="padding: 20px;">
    <uib-tab heading="Dados Gerais">
        <form name="saidaForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" busy-if="$ctrl.loadingEntity">
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Estoque.Saida.Empresa")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectEmpresa"
                                         is-required="true">
                        </ez-select-typed>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Estoque.Saida.DataSaida")</label>
                    <div class="col-md-5">
                        <input class="form-control" type="date" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.dataSaida" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Estoque.Saida.Pedido")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectPedido"
                                         is-required="false">
                        </ez-select-typed>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Estoque.Saida.MotivoSaida")</label>
                    <div class="col-md-5">
                        <select name="unidade" class="form-control" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.motivoSaida" ng-options="item.valor as item.descricao for item in $ctrl.motivoSaidaEnum" required>
                            <option value="">(@L("Estoque.Saida.MotivoSaidaOpcoes"))</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab heading="Itens da Saida" ng-if="$ctrl.entity.id > 0">
        <form name="saidaItemForm" role="form" novalidate class="form-horizontal" bn-uniform>
            @*Produto*@
            <div class="form-group">
                <label class="control-label col-md-4">@L("Estoque.SaidaItem.Produto")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectProduto">
                    </ez-select-typed>
                </div>
            </div>
            @*Local de Armazenamento*@
            <div class="form-group">
                <label class="control-label col-md-4">@L("Estoque.Saida.LocalArmazenamento")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectLocalArmazenamento"
                                     is-required="false">
                    </ez-select-typed>
                </div>
            </div>
            @*Valor Unitário*@
            <div class="form-group">
                <label class="control-label col-md-4">@L("Estoque.SaidaItem.ValorUnitario")</label>
                <div class="col-md-5">
                    <input class="form-control"
                           name="valor"
                           type="text"
                           ng-model="$ctrl.saidaItemCurrent.valorUnitario"
                           ng-currency />
                </div>
            </div>
            @*Quantidade*@
            <div class="form-group" ng-class="saidaItemForm.quantidade.$error.invalidValue ? 'has-error' : ''">
                <label class="control-label col-md-4">@L("Estoque.SaidaItem.Quantidade")</label>
                <div class="col-md-5">
                    <input class="form-control"
                           name="quantidade"
                           type="text"
                           ez-validation-local="$ctrl.isQuantidadeValida"
                           ng-model="$ctrl.saidaItemCurrent.quantidade" />
                    <span class="help-block" ng-show="saidaItemForm.quantidade.$error.invalidValue">
                        valor inválido
                    </span>
                </div>
            </div>
            
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancelarItem()">
                            @L("Back")
                        </button>
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="!$ctrl.editandoItem"
                                ng-click="$ctrl.salvarItem()"
                                ng-disabled="saidaItemForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Adicionar")
                            </span>
                        </button>
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="$ctrl.editandoItem"
                                ng-click="$ctrl.salvarItem()"
                                ng-disabled="saidaItemForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            
            <div busy-if="$ctrl.loadingSaidaItem">
                <div ui-grid="$ctrl.saidaItemGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>

<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="$ctrl.saidaForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save(true)"
                    ng-disabled="$ctrl.saidaForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("SaveAndContinue")
                </span>
            </button>
        </div>
    </div>
</div>