﻿@using EZ.EZControl.Localization

<div class="form-body">
    <div busy-if="vm.loading">
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Pessoa")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectPessoaFisica"
                                         is-required="true">
                        </ez-select-typed>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                                @L("Corretor.Ativo")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
