﻿@using EZ.EZControl.Localization

<div class="form-body">
    <form name="valorForm" role="form" novalidate class="form-horizontal" bn-uniform>
        <div busy-if="vm.loading">
            <div class="form-group">
                <label class="control-label col-md-4">@L("Corretora")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectCorretora"
                                     is-required="true">
                    </ez-select-typed>
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-disabled="valorForm.$invalid"
                                ng-click="$ctrl.addCorretora()">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Adicionar")
                            </span>
                        </button>
                        <button ng-disabled="$ctrl.saving"
                                type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancelEditCorretora()">
                            @L("Back")
                        </button>
                    </div>
                </div>

            </div>
            <div busy-if="$ctrl.loadingCorretoraInput">
                <div ui-grid="$ctrl.corretoraGridOptionsInput" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>


        </div>
    </form>
</div>