﻿@using EZ.EZControl.Localization


<uib-tabset style="padding: 20px;">
    <uib-tab heading="@L("Administradora")">
        <form name="forms.administradoraForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-body" ng-init="$ctrl.setFormScope(this.forms.administradoraForm)">
                <div busy-if="$ctrl.loading">
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Pessoa")</label>
                        <div class="col-md-5">
                            <ez-select-typed ez-select="$ctrl.ezSelectPessoaJuridica"
                                             is-required="true"
                                             input-disabled="$ctrl.entity.id > 0">
                            </ez-select-typed>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">@L("Administradora.Logo")</label>
                        <div class="col-md-5">
                            <ez-file-typed ez-file="$ctrl.ezFile"></ez-file-typed>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive" />
                                    @L("Administradora.Ativo")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>

    <uib-tab heading="@L("Administradora.DadosPagSeguro")">
        <div busy-if="$ctrl.loading">

            <form name="pagSeguroForm" role="form" novalidate class="form-horizontal" bn-uniform>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Administradora.Email")</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.email" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Administradora.Token")</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.token" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Administradora.AppId")</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.appId" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <label>@L("Administradora.AppKey")</label>
                        <div>
                            <input type="text" class="form-control"
                                   ng-model="$ctrl.parametroPagSeguroCurrent.appKey" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </uib-tab>

    @*<uib-tab heading="@L("Corretoras")">
        <div busy-if="$ctrl.loading">
            <form name="coretorasForm" role="form" novalidate class="form-horizontal" bn-uniform>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Corretora")</label>
                    <div class="col-md-5">
                        <ez-select-typed ez-select="$ctrl.ezSelectCorretora"
                                         is-required="true">
                        </ez-select-typed>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-9">
                            <button type="submit"
                                    button-busy="$ctrl.saving"
                                    busy-text="@L("SavingWithThreeDot")"
                                    class="btn btn-primary blue"
                                    ng-click="$ctrl.addCorretora()"
                                    ng-disabled="corretoraForm.$invalid">
                                <i class="fa fa-save"></i>
                                <span>
                                    @L("Save")
                                </span>
                            </button>
                        </div>
                    </div>

                </div>
                <div busy-if="$ctrl.saving">
                    <div ui-grid="$ctrl.corretoraGridOptionsInput" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </form>
        </div>
    </uib-tab>*@

    <uib-tab heading="@L("Gerentes")" ng-if="$ctrl.entity.id > 0">
        <form name="gerenteForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Corretor")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectGerente"
                                     is-required="true">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="!$ctrl.editandoGerente"
                                ng-click="$ctrl.salvarGerente()"
                                ng-disabled="gerenteForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                        <button ng-disabled="$ctrl.saving"
                                type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancelEditGerente()">
                            @L("Cancel")
                        </button>
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="$ctrl.editandoGerente"
                                ng-click="$ctrl.salvarGerente()"
                                ng-disabled="gerenteForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            <div busy-if="$ctrl.saving" ng-disabled="$ctrl.editandoGerente">
                <div ui-grid="$ctrl.gerenteGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </form>
    </uib-tab>

    <uib-tab heading="@L("Supervisores")" ng-if="$ctrl.entity.id > 0">
        <form name="supervisorForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Corretor")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectSupervisor"
                                     is-required="true">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="!$ctrl.editandoSupervisor"
                                ng-click="$ctrl.salvarSupervisor()"
                                ng-disabled="supervisorForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                        <button ng-disabled="$ctrl.saving"
                                type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancelEditSupervisor()">
                            @L("Cancel")
                        </button>
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="$ctrl.editandoSupervisor"
                                ng-click="$ctrl.salvarSupervisor()"
                                ng-disabled="supervisorForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            <div busy-if="$ctrl.saving" ng-disabled="$ctrl.editandoSupervisor">
                <div ui-grid="$ctrl.supervisorGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </form>
    </uib-tab>

    <uib-tab heading="@L("Homologadores")" ng-if="$ctrl.entity.id > 0">
        <form name="homologadorForm" role="form" novalidate class="form-horizontal" bn-uniform>
            <div class="form-group">
                <label class="control-label col-md-4">@L("Corretor")</label>
                <div class="col-md-5">
                    <ez-select-typed ez-select="$ctrl.ezSelectHomologador"
                                     is-required="true">
                    </ez-select-typed>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="!$ctrl.editandoHomologador"
                                ng-click="$ctrl.salvarHomologador()"
                                ng-disabled="homologadorForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                        <button ng-disabled="$ctrl.saving"
                                type="button"
                                class="btn btn-default"
                                ng-click="$ctrl.cancelEditHomologador()">
                            @L("Cancel")
                        </button>
                        <button type="submit"
                                button-busy="$ctrl.saving"
                                busy-text="@L("SavingWithThreeDot")"
                                class="btn btn-primary blue"
                                ng-if="$ctrl.editandoHomologador"
                                ng-click="$ctrl.salvarHomologador()"
                                ng-disabled="homologadorForm.$invalid">
                            <i class="fa fa-save"></i>
                            <span>
                                @L("Save")
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            <div busy-if="$ctrl.saving" ng-disabled="$ctrl.editandoHomologador">
                <div ui-grid="$ctrl.homologadorGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </form>
    </uib-tab>
</uib-tabset>



<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-4 col-md-9">
            <button ng-disabled="$ctrl.saving"
                    type="button"
                    class="btn btn-default"
                    ng-click="$ctrl.cancel()">
                @L("Back")
            </button>
            <button type="submit"
                    button-busy="$ctrl.saving"
                    busy-text="@L("SavingWithThreeDot")"
                    class="btn btn-primary blue"
                    ng-click="$ctrl.save()"
                    ng-disabled="administradoraForm.$invalid"
                    ng-if="$ctrl.createOrEdit">
                <i class="fa fa-save"></i>
                <span>
                    @L("Save")
                </span>
            </button>
        </div>
    </div>
</div>