﻿<form name="parametrosAgendaForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body" busy-if="$ctrl.loading">
        <uib-tabset style="padding: 20px;">
            <uib-tab heading="@L("Parametros.Tab.Arquivos")">
                <!--DEFINIÇÕES DE ARQUIVOS-->
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Parametro.TamanhoMaximoMb")</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.tamanhoMaximoMb" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Parametro.AlturaMaximaPx")</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.alturaMaximaPx" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Parametro.LarguraMaximaPx")</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.larguraMaximaPx" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Parametro.ExtensoesDocumentos")</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.extensoesDocumento" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">@L("Parametro.ExtensoesImagem")</label>
                    <div class="col-md-5">
                        <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.extensoesImagem" />
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-4 col-md-9">
                    <button ng-disabled="$ctrl.saving"
                            type="button"
                            class="btn btn-default"
                            ng-click="$ctrl.cancel()">
                        @L("Back")
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary blue"
                            ng-click="$ctrl.save()"
                            ng-disabled="$ctrl.$invalid"
                            ng-if="$ctrl.createOrEdit">
                        <i class="fa fa-save"></i>
                        <span>
                            @L("Save")
                        </span>
                    </button>
                    <button type="submit"
                            button-busy="$ctrl.saving"
                            busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary red"
                            ng-click="$ctrl.delete()"
                            ng-disabled="$ctrl.$invalid"
                            ng-if="!$ctrl.createOrEdit">
                        <i class="fa fa-remove"></i>
                        <span>
                            @L("Delete")
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>