﻿<form name="agenciaForm" role="form" novalidate class="form-horizontal" bn-uniform>
    <div class="form-body" busy-if="$ctrl.loadingEntity">
        
        <div class="form-group">
            <label class="control-label col-md-4">@L("Agencia.Banco")</label>
            <div class="col-md-5">
                <ez-select-typed ez-select="$ctrl.ezSelectBanco"
                                 is-required="true">
                </ez-select-typed>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">@L("Agencia.Nome")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.nome" required maxlength="@EZ.EZControl.Domain.Global.Geral.Agencia.NomeMaxLength"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Agencia.Codigo")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.codigo" required maxlength="@EZ.EZControl.Domain.Global.Geral.Agencia.CodigoMaxLength"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">@L("Agencia.Digito")</label>
            <div class="col-md-5">
                <input class="form-control" type="text" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.digitoVerificador" maxlength="@EZ.EZControl.Domain.Global.Geral.Agencia.DigitoVerificadorMaxLength"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="$ctrl.disableControls" ng-model="$ctrl.entity.isActive"/>
                        @L("Agencia.Ativo")
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-4 col-md-9">
                <button ng-disabled="$ctrl.saving"
                        type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.cancel()">
                    @L("Back")
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary blue"
                        ng-click="$ctrl.save()"
                        ng-disabled="agenciaForm.$invalid"
                        ng-if="$ctrl.createOrEdit">
                    <i class="fa fa-save"></i>
                    <span>
                        @L("Save")
                    </span>
                </button>
                <button type="submit"
                        button-busy="$ctrl.saving"
                        busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary red"
                        ng-click="$ctrl.delete()"
                        ng-disabled="agenciaForm.$invalid"
                        ng-if="!$ctrl.createOrEdit">
                    <i class="fa fa-remove"></i>
                    <span>
                        @L("Delete")
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>