﻿@using EZ.EZControl.Localization

<div class="ezs-container">
    <cabecalho title="@L("Agencias")" headerInfo="@L("AgenciasHeaderInfo")">
    </cabecalho>

    <agencia-index>
    </agencia-index>

    <rodape></rodape>
</div>