﻿<div class="ezs-container">
    <h2 class="page-title">Homologação</h2>
    <div class="form-actions" ng-if="$ctrl.eParaSerReadOnly">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">@L("PropostaDeContratacao.ObservacaoHomologacao")</label>



                <div ng-if="$ctrl.eParaSerReadOnly">
                    <textarea rows="5" class="form-control" ng-model="$ctrl.homologacaoInput.observacaoHomologacao"></textarea>
                </div>
                <div ng-if="!$ctrl.eParaSerReadOnly">
                    <textarea rows="5" class="form-control" ng-model="$ctrl.homologacaoInput.observacaoHomologacao" disabled="disabled"></textarea>
                </div>


                @*<div ng-if="$ctrl.tipoDeUsuarioAdministradora">
                    <textarea rows="5" class="form-control" ng-model="$ctrl.homologacaoInput.observacaoHomologacao"></textarea>
                </div>

                <div ng-if="$ctrl.tipoDeUsuarioCorretor || $ctrl.tipoDeUsuarioCorretora || $ctrl.tipoDeUsuarioBeneficiario">
                    <textarea rows="5" class="form-control" ng-model="$ctrl.homologacaoInput.observacaoHomologacao" disabled="disabled"></textarea>
                </div>*@



            </div>
        </div>
        @*<div class="row" ng-if="$ctrl.eParaSerReadOnly">
            <div class="col-md-6" style="margin-top: 10px">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="submit"
                            busy-text="@L("PropostaDeContratacao.Homologando")"
                            class="btn btn-primary green btn-mobile-border"
                            ng-click="$ctrl.realizarHomologacao()">
                        @L("PropostaDeContratacao.Homologar")
                    </button>
                    <button type="submit"
                            class="btn btn-primary yellow"
                            ng-click="$ctrl.emExigencia()">
                        @L("PropostaDeContratacao.EmExigencia")
                    </button>
                    <button type="submit"
                            busy-text="@L("PropostaDeContratacao.Declinando")"
                            class="btn btn-primary red"
                            ng-click="$ctrl.declinarHomologacao()">
                        @L("PropostaDeContratacao.Declinar")
                    </button>
                </div>
            </div>
        </div>*@

        <div class="row" ng-if="$ctrl.tipoDeUsuarioAdministradora">
            <div class="col-md-6" style="margin-top: 10px">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="submit"
                            busy-text="@L("PropostaDeContratacao.Homologando")"
                            class="btn btn-primary green btn-mobile-border"
                            ng-click="$ctrl.realizarHomologacao()">
                        @L("PropostaDeContratacao.Homologar")
                    </button>
                    <button type="submit"
                            class="btn btn-primary yellow"
                            ng-click="$ctrl.emExigencia()">
                        @L("PropostaDeContratacao.EmExigencia")
                    </button>
                    <button type="submit"
                            busy-text="@L("PropostaDeContratacao.Declinando")"
                            class="btn btn-primary red"
                            ng-click="$ctrl.declinarHomologacao()">
                        @L("PropostaDeContratacao.Declinar")
                    </button>
                </div>
            </div>
        </div>
        






    </div>
    <div class="form-actions" >
        <div class="form-group">
            <div class="statusDoProcessoWrapper">
                <div class="col-md-12" ng-if="!$ctrl.eParaSerReadOnly && $ctrl.homologacaoInput.tipoDeHomologacao == 1 && ($ctrl.homologacaoInput.observacaoHomologacao == null || $ctrl.homologacaoInput.observacaoHomologacao == '')">
                    <div class="title col-md-12 borda-operadora">
                        <h2>@L("PropostaDeContratacao.NaoHomologadaPelaAdministradora")</h2>
                        <h2>Solicitação enviada! Contrato em validação.</h2>
                        <p>Sua proposta foi enviada com sucesso e será homologada em breve!</p>
                        <p>Assim que a proposta for homologada você receberá uma notificação por e-mail e SMS com o link direto para o pagamento.</p>
                        <p>FIQUE ATENTO AO STATUS DA SUA CONTRATAÇÃO.</p>
                    </div>
                </div>
                <div class="col-md-12" ng-if="$ctrl.homologacaoInput.tipoDeHomologacao == 2 || $ctrl.homologacaoInput.passoDaProposta == 70">
                    <div class="title col-md-12 borda-operadora">
                        <h2>Contrato validado e homologado!</h2>
                        <p ng-if="$ctrl.tipoDeUsuarioBeneficiario">PROSSIGA PARA O PAGAMENTO.</p>
                    </div>
                </div>
                <div class="col-md-12" ng-if="!$ctrl.eParaSerReadOnly && $ctrl.homologacaoInput.tipoDeHomologacao == 3 && $ctrl.homologacaoInput.observacaoHomologacao">
                    <div class="title col-md-12 borda-operadora">
                        <h2>@L("PropostaDeContratacao.AdministradoraDeclinouAProposta")</h2>
                        <div class="row">
                            <label class="col-md-12">@L("PropostaDeContratacao.Motivo") {{$ctrl.homologacaoInput.observacaoHomologacao}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" ng-if="!$ctrl.eParaSerReadOnly && $ctrl.homologacaoInput.tipoDeHomologacao == 4 && $ctrl.homologacaoInput.observacaoHomologacao">
                    <div class="title col-md-12 borda-operadora">
                        <h2>@L("PropostaDeContratacao.AdministradoraEmExigencia")</h2>
                        <div class="row">
                            <label class="col-md-12">@L("PropostaDeContratacao.Motivo") {{$ctrl.homologacaoInput.observacaoHomologacao}}</label>
                        </div>
                    </div>
                </div>
                <ng-include src="'~/App/common/views/componentes/statusDoProcesso/statusDoProcessoComponent.cshtml'"></ng-include>
            </div>


        </div>
    </div>
</div>

